---
layout: "layouts/project.njk"
title: "Sea of Thieves"
subtitle: "Cinematics Capture, Video Editing, Motion Design, Trailer Direction"
video: "/assets/img/videos/sea_of_thieves_-_bilge_rat_bingo_trailer (720p).mp4"
image: "/assets/img/projects/sea-of-thieves/sot-thumb.jpg"
date: 2022-11-28
tags: "project"
scope: "Brand Identity"
feature: "no"
---

<div style="padding: 56.25% 0 0 0; position: relative">
  <iframe
    src="https://player.vimeo.com/video/1044168719?h=5b9d5978f6&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="Sea of Thieves - Bilge Rat Bingo Trailer"
  ></iframe>
</div>

<h1 class="title">{{ title }}</h1>

<div class="project__info">
  <div class="project__info-L">
    <p class="big">
      Tournament design in collaboration with the teams at Xbox Game Pass and
      Rare.
    </p>
    <p>
      For Game Pass's big "Bilge Rat Bingo" tournament, I produced a set of
      videos to announce the $35,000 official Sea of Thieves bingo event for
      fans around the world. Bilge Rat Bingo was broadcast live on the Sea of
      Thieves Twitch channel and featured influencers such as Summit1G, Aussie
      Antics, and Katie Peircee in a cutthroat kill race on the high seas.
    </p>
    <p>
      This project involved in-game HUD-less footage capture of gameplay and
      cinematics, editing two videos - one announcement trailer for the event,
      and one show opener for the official broadcast to get the audience hyped.
    </p>
  </div>

  <div class="project__info-R">
    <ul>
      <li>Cinematics Capture</li>
      <li>Video Editing</li>
      <li>Motion Design</li>
      <li>Trailer Direction</li>
    </ul>
  </div>
</div>

<figure>
  <div style="padding: 56.25% 0 0 0; position: relative">
    <iframe
      src="https://player.vimeo.com/video/1044168735?h=0b0b173dbf&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
      title="Bilge Rat Bingo | Show Open"
    ></iframe>
  </div>
  <figcaption>Bilge Rat Bingo Show Opener</figcaption>
</figure>
