---
layout: "layouts/project.njk"
title: "BoomTV Wrapped 2024"
video: "/assets/img/videos/boomtv_2024_end_of_year_animation (1080p).mp4"
subtitle: "Animation Direction, 3D Modeling & Animation"
date: 2025-01-01
tags: "project"
feature: "yes"
---

<div style="padding: 56.25% 0 0 0; position: relative">
  <iframe
    src="https://player.vimeo.com/video/1043807947?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="BoomTV 2024 End Of Year Animation"
  ></iframe>
</div>

<h1 class="title">{{ title }}</h1>

<div class="project__info">
  <div class="project__info-L">
    <p class="big">
      Using Blender and the Grease Pencil Tool, I designed this 3D, 90's
      arcade-inspired world to celebrate BoomTV's 2024 achievements.
    </p>
  </div>

  <div class="project__info-R">
    <ul>
      <li>Animation Direction</li>
    </ul>
  </div>
</div>
