---
layout: "layouts/project.njk"
title: "2024 In Review"
video: "/assets/img/videos/boomtv_2024_end_of_year_animation (1080p).mp4"
image: "/assets/img/projects/BoomTV-2024wrapped/boomtvwrapped_thumb.jpg"
subtitle: "A 90s-Fueled Celebration of BoomTV’s Events-Filled Year At The Arcade"
date: 2025-01-01
tags: "project"
feature: "yes"
---

<h1 class="title">{{ title }}</h1>

<div style="padding: 56.25% 0 0 0; position: relative">
  <iframe
    src="https://player.vimeo.com/video/1043807947?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="BoomTV 2024 End Of Year Animation"
  ></iframe>
</div>

<div class="side-by-side">
  <p class="big">{{ subtitle }}</p>
  <p>
    For BoomTV’s end-of-year wrap-up, I wanted to capture the energy of 90s
    arcades and early Y2K design, blending stylized 3D animation with a bold,
    nostalgic aesthetic. Made entirely in Blender, this project became a deep
    dive into experimental motion design, challenging me to push my art
    direction, modeling, and animation techniques in new ways.
  </p>
</div>

<div class="side-by-side">
  <img
    src="/assets/img/projects/BoomTV-2024wrapped/2024wrap-pinball.webp"
    alt=""
  />
  <img
    src="/assets/img/projects/BoomTV-2024wrapped/2024wrap-social.webp"
    alt=""
  />
</div>
<div class="side-by-side">
  <p class="big">Research and Inspiration</p>
  <p>
    The visual style drew heavily from neon-drenched arcade carpets, geometric
    patterns, and the vibrant color palettes of the late 90s and early 2000s. I
    pulled references from CRT-era gaming consoles, my own elementary school
    yearbook spreads, and the chaotic maximalism of childhood arcade visits,
    creating a look that felt stylishly retro.
  </p>
</div>
<div class="side-by-side">
  <p class="big">Building The World</p>
  <p>
    I began by blocking out the scene with simple primitives, structuring the
    layout around four custom-modeled arcade machines that served as
    centerpieces for key BoomTV milestones. From the start, I aimed to make the
    environment feel alive, with dynamic lighting, animated UI, and immersive
    camera moves that echoed the playful, high-energy feel of classic arcade
    spaces.
  </p>
</div>

<div class="side-by-side">
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/BoomTV-2024wrapped/boomtveoy2024_compressed.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
  <img
    src="/assets/img/projects/BoomTV-2024wrapped/2024wrap-claw.webp"
    alt=""
  />
</div>
<div class="side-by-side">
  <p class="big">Exploring Stylized 3D with Grease Pencil</p>
  <p>
    Having primarily worked with realistic 3D animation, I saw this project as
    an opportunity to experiment with stylized illustration within a 3D space.
    The ability to hand-draw directly onto 3D planes with Blender's Grease
    Pencil introduced to me an entirely new layer of creative expression! After
    an initial learning curve, it became a natural part of my workflow.
  </p>
</div>
<div class="side-by-side">
  <p class="big">Workflow Evolutions</p>
  <p>
    When I began this project, my drawing tool was an iPad and Apple Pencil via
    Astropad, allowing me to sketch directly in Blender. While the limited
    screen space presented challenges, drawing in Grease Pencil was so rewarding
    that it led me to upgrade my setup. Design is a constant process of
    exploration and iteration, which is the mindset I bring into every creative
    challenge.
  </p>
</div>

<div class="side-by-side">
  <img
    src="/assets/img/projects/BoomTV-2024wrapped/2024wrap-claw.webp"
    alt=""
  />
  <img
    src="/assets/img/projects/BoomTV-2024wrapped/2024wrap-hockey.webp"
    alt=""
  />
</div>

<div class="contributions">
  <h2>My Roles</h2>
  <ul>
    <li>Creative Leadership</li>
    <li>Animation Direction</li>
    <li>3D Illustration</li>
    <li>Motion Design</li>
    <li>Post-Production</li>
  </ul>
</div>
<div class="contributions">
  <h3>Credits</h3>
  <ul>
    <li>Lettering: {% include "includes/mateo.html" %}</li>
  </ul>
</div>
