---
layout: "layouts/project.njk"
title: "BoomTV Wrapped 2024"
video: "/assets/img/videos/boomtv_2024_end_of_year_animation (1080p).mp4"
image: "/assets/img/projects/BoomTV-2024wrapped/boomtvwrapped_thumb.jpg"
subtitle: "Animation Direction, 3D Modeling, Motion Design, Illustration, Video Direction"
date: 2025-01-01
tags: "project"
feature: "no"
---

<div style="padding: 56.25% 0 0 0; position: relative">
  <iframe
    src="https://player.vimeo.com/video/1043807947?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="BoomTV 2024 End Of Year Animation"
  ></iframe>
</div>

<h1 class="title">{{ title }}</h1>

<div class="project__info">
  <div class="project__info-L">
    <p class="big">Celebrating an incredible year of BoomTV.</p>
    <p>
      Made entirely in Blender, I designed this 90's arcade-inspired world as
      part of BoomTV's ongoing series of end of year celebratory wrap-ups.
    </p>
  </div>

  <div class="project__info-R">
    <ul>
      <li>Animation Direction</li>
      <li>Illustration</li>
      <li>3D Modeling</li>
      <li>Motion Design</li>
      <li>Video Direction</li>
    </ul>
  </div>
</div>
<div class="side-by-side">
  <img
    src="/assets/img/projects/BoomTV-2024wrapped/2024wrap-pinball.webp"
    alt=""
  />
  <img
    src="/assets/img/projects/BoomTV-2024wrapped/2024wrap-social.webp"
    alt=""
  />
</div>
<div class="side-by-side">
  <p>
    The first part of the project was laying out the scene's structure with
    primitive objects and animations. I decided on four different arcade
    machines that I would model and feature as centerpieces for our statistics.
  </p>
  <p>
    I had a lot of fun doing design research and making
    <a href="https://pin.it/6ZDH85YdT" target="_blank"
      >mood and reference boards</a
    >
    inspired by the vibrant aesthetic of the 90s and early Y2K era. I drew
    heavily from vibrant neon color schemes and funky geometric patterns that
    were commonplace in locations like arcades I visited as a child, and
    yearbook spreads I had in elementary school.
  </p>
</div>

<div class="side-by-side">
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/BoomTV-2024wrapped/boomtveoy2024_compressed.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
  <img
    src="/assets/img/projects/BoomTV-2024wrapped/2024wrap-claw.webp"
    alt=""
  />
</div>
<div class="side-by-side">
  <p>
    Having primarily used Blender for realistic 3D animation, I wanted to try
    something new for this project and took a deep dive into stylized 3D,
    conducting in-depth research into the Grease Pencil tool. I learned a lot
    from
    <a
      href="https://www.youtube.com/results?search_query=blender+grease+pencil"
      target="_blank"
      >community tutorials on YouTube</a
    >
    and the CG Boost course "Magic Storybook." Drawing on 3D planes was a
    learning curve, but once it clicked with my brain it became second nature.
  </p>
  <p>
    For this project I used an iPad and Apple Pencil directly in Blender via
    Astropad, though the limited screen size left me wanting more. Since it was
    such a fun project to work on, I've since upgraded my setup to a screen
    tablet, and I'm continuing to explore and improve my illustrative style.
  </p>
</div>

<div class="side-by-side">
  <img
    src="/assets/img/projects/BoomTV-2024wrapped/2024wrap-claw.webp"
    alt=""
  />
  <img
    src="/assets/img/projects/BoomTV-2024wrapped/2024wrap-hockey.webp"
    alt=""
  />
</div>
