---
layout: "layouts/project.njk"
title: "Fortnite x Chica"
video: "/assets/img/projects/chica/chica_loop_mp4.mp4"
image: "/assets/img/projects/chica/Sequence 01.00_00_20_24.Still001.jpg"
subtitle: "Animation Direction, Motion Design, Broadcast Design"
date: 2024-06-09
tags: "project"
feature: "no"
---

<video autoplay loop muted playsinline>
  <source
    src="/assets/img/projects/chica/chica_loop_mp4.mp4"
    type="video/mp4"
  />
  Your browser does not support the video tag.
</video>
<h1 class="title">{{ title }}</h1>

<div class="project__info">
  <div class="project__info-L">
    <p class="big">Animating a bubbly fun Fortnite event!</p>
    <p>
      In partnership with Epic Games and influencer Chica, I animated the
      announcement trailer and broadcast assets for the $50,000 Chica
      Invitational, a two-part Fortnite tournament.
    </p>
    <p>
      For the logo animation, I experimented with using Procreate Dreams for a
      classic frame-by-frame look. I used a combination of Blender and After
      Effects to design the looping bubble themed background present throughout
      the broadcast. Chica was delighted with the animations, and the two part
      event featuring respective duos and trios tournament, was a big success
      for Chica and Epic Games, who were both overwhelmingly happy with the
      creative direction!
    </p>
  </div>

  <div class="project__info-R">
    <ul>
      <li>Animation Direction</li>
      <li>Motion Design</li>
      <li>Broadcast Design</li>
    </ul>
  </div>
</div>
<figure>
  <div style="padding: 56.25% 0 0 0; position: relative">
    <iframe
      src="https://player.vimeo.com/video/1025900176?h=bf4191ec28&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
      title="ChicaInvitational_Announcement_June9_HD"
    ></iframe>
  </div>
  <figcaption>Chica Invitational Announcement Trailer</figcaption>
</figure>

<div class="project__credits-R">
  <ul>
    <li>Logo Design: {% include "includes/mateo.html" %}</li>
  </ul>
</div>
