---
layout: "layouts/project.njk"
title: "BoomTV: Code Red"
image: "/assets/img/projects/code red/vlcsnap-2025-02-26-19h56m15s434.webp"
video: "/assets/img/videos/codered_web.mp4"
subtitle: "Motion Design System, Broadcast Design, Animation Direction, Trailer Direction"
date: 2024-01-01
tags: "project"
scope: "Broadcast Animation"
feature: "no"
---

<video autoplay loop muted playsinline>
  <source src="/assets/img/videos/codered_web.mp4" type="video/mp4" />
  Your browser does not support the video tag.
</video>

<h1 class="title">{{ title }}</h1>

<div class="project__info">
  <div class="project__info-L">
    <p class="big">Bold branding for a bold tournament franchise.</p>
    <p>
      BoomTV's flagship tournament series Code Red spans titles like Fortnite
      and Fall Guys, hosting substantial prize pools that draw the biggest
      influencers to compete. With massive audiences, presenting sponsors and
      publisher marketing campaigns go all-in on Code Red tournaments when they
      want to make a splash in the esports scene. Here are some of the Code Red
      campaigns I've had the opportunity to work on.
    </p>
  </div>

  <div class="project__info-R">
    <ul>
      <li>Motion Design System</li>
      <li>Broadcast Design</li>
      <li>Announcement Trailer</li>
      <li>Video Editing</li>
    </ul>
  </div>
</div>

<div class="side-by-side">
  <div class="wrapper-smaller">
    <div style="padding: 100% 0 0 0; position: relative">
      <iframe
        src="https://player.vimeo.com/video/1025900497?h=67e1a188cf&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
        frameborder="0"
        allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
        style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
        title="Proving Grounds Rebrand Reveal"
      ></iframe>
    </div>
  </div>
  <div class="wrapper-smaller">
    <div style="padding: 100% 0 0 0; position: relative">
      <iframe
        src="https://player.vimeo.com/video/1025900290?title=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
        frameborder="0"
        allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
        style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
        title="Proving Grounds Rebrand Reveal"
      ></iframe>
    </div>
  </div>

  <div>
    <p class="big">Dueling events for Verizon.</p>
    <p>
      A pair set of social media announcements set the tone for Verizon's Summer
      & Winter Fortnite series. With a combined 2.3M+ views across these social
      assets, the Fortnite community loved the announcements for these
      tournaments.
    </p>
  </div>
</div>

<div style="padding: 56.25% 0 0 0; position: relative">
  <iframe
    src="https://player.vimeo.com/video/1045131948?h=907dafb3f8&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="HI-CHEW CODE RED | Legiqn Promo 1"
  ></iframe>
</div>
<div class="side-by-side">
  <div>
    <p class="big">A new brand ambassador for Hi-Chew.</p>
    <p>
      For legendary candy maker Hi-Chew, I got to help produce a $25,000
      Fortnite tournament. In collaboration with streamer Legiqn, who helped
      announce and promote the tournament, we developed content for Hi-Chew that
      would promote the tournament and brandthrough a friendly face that viewers
      knew and loved. We were able to release over a dozen video assets for
      Hi-Chew with this interview, and the brand was so entertained they ended
      up extending an invitation to Legiqn to be a brand ambassador.
    </p>
  </div>
  <div class="wrapper-smaller">
    <div style="padding: 56.25% 0 0 0; position: relative">
      <iframe
        src="https://player.vimeo.com/video/1045131923?h=cf3aebc1d1&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
        frameborder="0"
        allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media"
        style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
        title="HI-CHEW CODE RED | Legiqn Promo 2"
      ></iframe>
    </div>
  </div>
</div>

<div style="padding: 56.25% 0 0 0; position: relative">
  <iframe
    src="https://player.vimeo.com/video/802168637?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="Apex Legends - $75,000 Code Red"
  ></iframe>
</div>
<script src="https://player.vimeo.com/api/player.js"></script>

<div class="side-by-side">
  <div>
    <p class="big">Custom branding lends adaptability to Code Red.</p>

    <p>
      For the Army National Guard and Apex Legends, Code Freedom was created as
      a line of Army-sponsored Code Red tournaments.
    </p>
  </div>

  <p>
    I developed the trailer concept and motion graphics for the initial Code
    Freedom's trailer, capturing footage of Apex's in-game map and using After
    Effects and Mocha to motion track custom graphics onto the signage in the
    arena. The result was so convincing, it led to a humorous inquiry from the
    team at Respawn Entertainment, who asked us if I had somehow hacked the
    signs into their game.
  </p>
</div>

<div class="project__credits">
  <div class="project__credits-L">
    <h3>Credits</h3>
  </div>

  <div class="project__credits-R">
    <ul>
      <li>Logo Design & Style: {% include "includes/mateo.html" %}</li>
    </ul>
  </div>
</div>
