---
layout: "layouts/project.njk"
title: "Code Freedom"
videoID: "885424173"
subtitle: "Animation Direction, Trailer Direction, Cinematics Capture, Video Editing, 3D Animation, Motion Design"
video: "/assets/img/videos/arng-preview_compressed.mp4"
image: "/assets/img/projects/code-freedom/code-freedom_thumb.jpg"
date: 2024-04-01
tags: "project"
scope: "Brand Identity"
feature: "yes"
---

<h1 class="title">{{ title }}</h1>

<figure>
  <div style="padding: 41.89% 0 0 0; position: relative">
    <iframe
      src="https://player.vimeo.com/video/1044168677?h=ba304a046b&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
      title="Code Freedom 2024 | $25,000 Apex Legends Tournament Announcement"
    ></iframe>
  </div>
  <figcaption>Code Freedom - Apex Legends Tournament Announcement</figcaption>
</figure>

<div class="project__info">
  <div class="project__info-L">
    <p class="big">A premium series of Apex Legends tournaments.</p>
    <p>
      As the Army National Guard expanded its Code Freedom branding in 2024, the
      organization needed a high-impact visual identity to reflect a
      competitive, high-stakes tournament series across Apex Legends and
      Counter-Strike events.
    </p>
    <p>
      With gaming icons like ImperialHal, iiTzTimmy, and Summit1G engaging with
      the tournament, the branding needed to match the scale and prestige of the
      event, while adhering to strict guidelines for the use of the ARNG brand
      identity.
    </p>
  </div>

  <div class="wrapper-smaller">
    <div style="padding: 100% 0 0 0; position: relative">
      <iframe
        src="https://player.vimeo.com/video/1044168652?h=0fd05556ee&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
        frameborder="0"
        allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
        style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
        title="Code Freedom 2024 Announcement Trailer"
      ></iframe>
    </div>
    <figcaption>Code Freedom Logo Trailer</figcaption>
  </div>
</div>

<div>
  <h2>The Challenge:</h2>
  <div class="side-by-side">
    <p>
      1. Differentiate Code Freedom from other esports circuits with a unique,
      exciting brand presence that would resonate with FPS and Battle Royale
      audiences.
    </p>
    <p>
      2. Create scalable assets that could be easily adapted for multiple
      tournament cycles and marketing campaigns, but stay within the US Army's
      strict brand guidelines.
    </p>
    <p>
      3. Appeal to hardcore competitors and casual viewers alike, ensuring
      maximum brand visibility through the life of the campaign.
    </p>
  </div>
</div>

<figure>
  <div style="padding: 41.89% 0 0 0; position: relative">
    <iframe
      src="https://player.vimeo.com/video/1044168694?h=0282fdf723&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
      title="Code Freedom 2024 | Influencer Showdown Promo"
    ></iframe>
  </div>
  <figcaption>Influencer Showdown Event Trailer</figcaption>
</figure>
<div>
  <h2>The Solution:</h2>
  <p class="big">Six Tournaments, Six Brands.</p>
  <p>
    Collaborating closely with the National Guard, I looked for ways we could
    position the campaign for maximum visibility and success. The key? Treating
    the series not as one ongoing event, but six separate ones.
  </p>
  <div class="side-by-side">
    <div>
      <p class="big">I Want to Break Free</p>
      <p>
        Initially the Guard could only approve assets with a plain white
        background, which restricted our creative potential and visibility. I
        sent them a number of concepts that got them thinking about how a more
        stylish approach could benefit our reach. Convincing the US Army was no
        easy task, but it quickly became a rewarding collaboration and a win-win
        for everyone.
      </p>
    </div>

    <div>
      <p class="big">Six-Shooter With a Punch</p>
      <p>
        Employing a unique direction for each of the 2024 year's six
        tournaments, I ensured Code Freedom events would maintain a fresh look
        for each iteration, while maintaining brand cohesion over a series of
        events that spanned influencer showdowns, Apex Legends and CS2 events,
        and top-level competition.
      </p>
    </div>
  </div>
</div>
<figure>
  <div style="padding: 56.25% 0 0 0; position: relative">
    <iframe
      src="https://player.vimeo.com/video/1044168660?h=1d782c8bd2&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
      title="Code Freedom 2024 | Edge + Storm Trailer"
    ></iframe>
  </div>
  <figcaption>"The Edge" / "The Storm" - Dual Event Trailer</figcaption>
</figure>

<div>
  <div class="side-by-side">
    <div>
      <p class="big">Big Reveals for a Big Franchise</p>
  
      <p>
        My team developed the emblem-like Code Freedom logo in collaboration with
        the Army National Guard, exemplifying the brand's best qualities with an
        esports flair. Following a grand reveal of the new logo in cinematic
        fashion, I directed a video for each event in the series, bringing a unique
        style to each entry, and ensuring each reveal trailer felt new and exciting.
      </p>
    </div>
    <div>
      <p class="big">Non-Stop Entertainment</p>
      <p>
        We leaned hard into making Code Freedom an absolute beast of an entertainment experience, with non-stop broadcasts that kept fans engaged with the action over 250,000+ minutes of viewer watch time. With unique branding for each event, an analyst desk segment that avoided having BRB screens altogether, and plenty of shoutouts and CTAs for the Guard, our team and the ARNG squad alike were blown away by our creative direction over this six-event series.
      </p>
    </div>
  </div>


</div>
<figure>
  <div style="padding: 56.25% 0 0 0; position: relative">
    <iframe
      src="https://player.vimeo.com/video/1044168708?h=70f335d2b4&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
      title="Code Freedom 2024 | Night Life Trailer"
    ></iframe>
  </div>
  <figcaption>"Night Life" Event Trailer</figcaption>
</figure>

<div>
  <h2>The Impact:</h2>
  <div class="side-by-side">
    <div>
      <p class="big">Expanded Tournament Reach & Brand Recognition</p>
      <p>
        21.1M+ impressions across six events for a massive 160% increase in YoY
        growth for the Guard, with 22.9M minutes watched across Twitch
        broadcasts & player POV streams. Massive impressions, and massive reach
        for the campaign.
      </p>
    </div>
    <div>
      <p class="big">Stronger Engagement with Esports Influencers</p>
      <p>
        Gaming’s biggest names—ImperialHal, iiTzTimmy, Summit1G, and
        Sweet—organically engaged with the event, amplifying Code Freedom’s
        natural social impact.
      </p>
    </div>
  </div>
</div>

<video autoplay loop muted playsinline controls>
  <source
    src="/assets/img/projects/code-freedom/d-joQphE92QaUe9d.mp4"
    type="video/mp4"
  />
  Your browser does not support the video tag.
</video>

<figure>
  <div style="padding: 56.25% 0 0 0; position: relative">
    <iframe
      src="https://player.vimeo.com/video/1044168669?h=195fb39aa1&badge=0&autopause=0&player_id=0&app_id=58479&dnt=1/embed"
      allow="autoplay; fullscreen; picture-in-picture"
      allowfullscreen
      frameborder="0"
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    ></iframe>
  </div>
  <figcaption>"Champions" Event Trailer</figcaption>
</figure>

<div class="side-by-side">
  <video autoplay loop muted playsinline controls>
    <source
      src="/assets/img/projects/code-freedom/Code Freedom： Night Life Desk [oDyjKtc9bQk]_h264_crf23.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
  <video autoplay loop muted playsinline controls>
    <source
      src="/assets/img/projects/code-freedom/Code Freedom： The Edge Desk [7c3kubo3Xrc]_h264_crf23.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
</div>

<div class="contributions">
  <h2>Roles:</h2>
  <ul>
    <li>Creative Leadership</li>
    <li>Design System Development</li>
    <li>Event Trailer Concepting</li>
    <li>Production Oversight</li>
    <li>Animation Direction</li>
    <li>Post-Production Supervision</li>
  </ul>
</div>

<div class="project__credits">
  <div class="project__credits-L">
    <h3>Credits</h3>
  </div>

  <div class="project__credits-R">
    <ul>
      <li>Logo Design: {% include "includes/mateo.html" %}</li>
    </ul>
  </div>
</div>
