---
layout: "layouts/project.njk"
title: "BoomTV: Code Red"
video: "/assets/img/videos/codered_web.mp4"
subtitle: "Motion Design System, Broadcast Design, Animation Direction, Trailer Direction"
date: 2024-01-01
tags: "project"
scope: "Broadcast Animation"
feature: "yes"
---

<video autoplay loop muted playsinline>
  <source src="/assets/img/videos/codered-compressed.mp4" type="video/mp4" />
  Your browser does not support the video tag.
</video>

<h1 class="title">{{ title }}</h1>

<div class="project__info">
  <div class="project__info-L">
    <p class="big">
      BoomTV's flagship tournament series Code Red spans titles like Fortnite
      and Fall Guys, hosting substantial prize pools that draw the biggest
      influencers to compete. With massive audiences, presenting sponsors and
      publisher marketing campaigns go all-in on Code Red tournaments when they
      want to make a splash in the esports scene. Here are some of the Code Red
      campaigns I've had the opportunity to work on.
    </p>
  </div>

  <div class="project__info-R">
    <ul>
      <li>Motion Design System</li>
      <li>Broadcast Design</li>
      <li>Announcement Trailer</li>
    </ul>
  </div>
</div>

<div class="side-by-side">
  <div class="wrapper-smaller">
    <div style="padding: 100% 0 0 0; position: relative">
      <iframe
        src="https://player.vimeo.com/video/1025900497?h=67e1a188cf&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
        frameborder="0"
        allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
        style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
        title="Proving Grounds Rebrand Reveal"
      ></iframe>
    </div>
  </div>
  <div class="wrapper-smaller">
    <div style="padding: 100% 0 0 0; position: relative">
      <iframe
        src="https://player.vimeo.com/video/1025900290?title=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
        frameborder="0"
        allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
        style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
        title="Proving Grounds Rebrand Reveal"
      ></iframe>
    </div>
  </div>

  <div>
    <h2>Verizon</h2>
    <p class="big">
      A dueling set of social media announcements for Verizon's Summer & Winter
      Fortnite series.
    </p>
    <p>
      With a combined 2.3M+ views across these
      <a href="https://x.com/boomtv/status/1664708467813240837">Twitter</a>
      <a href="https://x.com/boomtv/status/1736823919506596267">videos</a>, the
      Fortnite community loved the announcements for these tournaments.
    </p>
  </div>
</div>

<div style="padding: 56.25% 0 0 0; position: relative">
  <iframe
    src="https://player.vimeo.com/video/802168637?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="Apex Legends - $75,000 Code Red"
  ></iframe>
</div>
<script src="https://player.vimeo.com/api/player.js"></script>

<h2>Code Freedom</h2>

<div class="side-by-side">
  <p class="big">
    For the Army National Guard and Apex Legends, Code Freedom was created as a
    line of Army-sponsored Code Red tournaments.
  </p>
  <p>
    I developed the trailer concept and motion graphics for Code Freedom's
    trailer, capturing footage of the in-game map and using After Effects and
    Mocha to motion track custom graphics onto the signage in the arena. The
    result was so convincing, the team at Respawn Entertainment asked us if we
    had hacked the signs into their game!
  </p>
</div>
<div class="project__credits">
  <div class="project__credits-L">
    <h3>Credits</h3>
  </div>

  <div class="project__credits-R">
    <ul>
      <li>Logo Design & Style: {% include "includes/mateo.html" %}</li>
    </ul>
  </div>
</div>
