---
layout: "layouts/project.njk"
title: "Code Freedom 2024"
videoID: "885424173"
subtitle: "Animation Direction, Trailer Direction, Cinematics Capture, Video Editing, 3D Animation, Motion Design"
video: "/assets/img/videos/arng-preview_compressed.mp4"
image: "/assets/img/projects/code-freedom/code-freedom_thumb.jpg"
date: 2024-04-01
tags: "project"
scope: "Brand Identity"
feature: "yes"
---

<figure>
  <div style="padding: 41.89% 0 0 0; position: relative">
    <iframe
      src="https://player.vimeo.com/video/1044168677?h=ba304a046b&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
      title="Code Freedom 2024 | $25,000 Apex Legends Tournament Announcement"
    ></iframe>
  </div>
  <figcaption>Code Freedom - Apex Legends Tournament Announcement</figcaption>
</figure>

<h1 class="title">{{ title }}</h1>

<div class="project__info">
  <div class="project__info-L">
    <p class="big">
      In 2024, I directed a series of animated trailers for the Army National
      Guard’s Code Freedom esports tournament campaign.
    </p>
    <p>
      Spanning tournaments in Apex Legends and Counter-Strike, the campaign
      featured top pro players and influencers. I created six core video assets,
      pushing my 3D animation and motion design skills to new heights.
    </p>
  </div>

  <div class="project__info-R">
    <ul>
      <li>Animation Direction</li>
      <li>Trailer Direction</li>
      <li>Cinematics Capture</li>
      <li>Video Editing</li>
      <li>3D Animation</li>
      <li>Motion Design</li>
    </ul>
  </div>
</div>

<div class="side-by-side">
  <div class="project__info">
    <div class="project__info-L">
      <h2>Animation</h2>
      <p>
        For the primary tournament branding, I crafted a 3D version of the Code
        Freedom logo in Blender, designing a cinematic flythrough reveal to give
        the campaign a bold, high-energy introduction.
      </p>
      <p>
        I then developed announcement videos for each tournament circuit,
        conducting deep dives into 3D animation research to refine my techniques
        at every stage. Each Apex Legends tournament had its own unique theme,
        giving me the freedom to experiment creatively while adapting the Code
        Freedom branding to a variety of styles.
      </p>
    </div>
  </div>
  <div class="wrapper-smaller">
    <figure>
      <div style="padding: 100% 0 0 0; position: relative">
        <iframe
          src="https://player.vimeo.com/video/1044168652?h=0fd05556ee&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
          frameborder="0"
          allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
          style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
          title="Code Freedom 2024 Announcement Trailer"
        ></iframe>
      </div>
      <figcaption>Code Freedom Logo Trailer</figcaption>
    </figure>
  </div>
</div>
<figure>
  <div style="padding: 41.89% 0 0 0; position: relative">
    <iframe
      src="https://player.vimeo.com/video/1044168694?h=0282fdf723&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
      title="Code Freedom 2024 | Influencer Showdown Promo"
    ></iframe>
  </div>
  <figcaption>Influencer Showdown Event Trailer</figcaption>
</figure>
<figure>
  <div style="padding: 56.25% 0 0 0; position: relative">
    <iframe
      src="https://player.vimeo.com/video/1044168660?h=1d782c8bd2&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
      title="Code Freedom 2024 | Edge + Storm Trailer"
    ></iframe>
  </div>
  <figcaption>"The Edge" / "The Storm" - Dual Event Trailer</figcaption>
</figure>
<figure>
  <div style="padding: 56.25% 0 0 0; position: relative">
    <iframe
      src="https://player.vimeo.com/video/1044168708?h=70f335d2b4&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
      title="Code Freedom 2024 | Night Life Trailer"
    ></iframe>
  </div>
  <figcaption>"Night Life" Event Trailer</figcaption>
</figure>
<figure>
  <div style="padding: 56.25% 0 0 0; position: relative">
    <iframe
      src="https://player.vimeo.com/video/1044168669?h=195fb39aa1&badge=0&autopause=0&player_id=0&app_id=58479&dnt=1/embed"
      allow="autoplay; fullscreen; picture-in-picture"
      allowfullscreen
      frameborder="0"
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    ></iframe>
  </div>
  <figcaption>"Champions" Event Trailer</figcaption>
</figure>

<div class="project__credits">
  <div class="project__credits-L">
    <h3>Credits</h3>
  </div>

  <div class="project__credits-R">
    <ul>
      <li>Logo Design: {% include "includes/mateo.html" %}</li>
    </ul>
  </div>
</div>
