---
layout: "layouts/project.njk"
title: "Fortnite"
videoID: "1026360987"
subtitle: "Reviving Fortnite’s OG Era with a Nostalgic Showdown."
video: "/assets/img/videos/reunion_loop (1080p).mp4"
image: "/assets/img/projects/fortnite-reunion/broadcast/Starting soon.webp"
date: 2023-06-04
tags: "project"
scope: "Broadcast Animation"
feature: "yes"
---

<h1 class="title">{{ title }}</h1>

<div style="padding: 56.25% 0 0 0; position: relative">
  <iframe
    src="https://player.vimeo.com/video/1026360987?autoplay=1&loop=1&muted=1&badge=0&autopause=0&controls=0&player_id=0&app_id=58479"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="Porsche Main Loop"
  >
  </iframe>
</div>

<h2>The Challenge</h2>
<div class="side-by-side">
  <div>
    <p class="big">{{ subtitle }}</p>
  </div>
  <p>
    When Fortnite OG was announced, it was an emotional return for longtime
    players. Epic Games required an event that felt both warmly nostalgic and
    can't miss, celebrating the game’s roots while delivering a high-energy,
    once-in-a-lifetime competitive experience. We knew we wanted to give them:
  </p>
</div>

<div class="side-by-side">
  <p>
    1. An emotional return, evoking the magic of Chapter 1 and uniting the
    Fortnite community while feeling fresh and modern, signaling nothing less
    than cutting-edge competition.
  </p>
  <p>
    2. A seamless multi-platform branding package with trailers, social content,
    live broadcasts, and competition that felt unmistakably, cohesively
    Fortnite.
  </p>
  <p>
    3. Maximum influence and retention – attracting Fortnite’s top streamers to
    drive engagement, visibility, and a shareable, hype-driven experience.
  </p>
</div>

<div class="side-by-side">
  <img
    src="/assets/img/projects/fortnite-reunion/reunion viewport1.webp"
    alt=""
  />
  <img
    src="/assets/img/projects/fortnite-reunion/reunion viewport 4.webp"
    alt=""
  />
</div>
<div class="side-by-side">
  <img
    src="/assets/img/projects/fortnite-reunion/reunion viewport 3.webp"
    alt=""
  />
  <img
    src="/assets/img/projects/fortnite-reunion/reunion viewport 2.webp"
    alt=""
  />
</div>

<h2>The Solution</h2>

<div class="side-by-side">
  <p class="big">A Taste of Sweet Victory</p>
  <p>
    To make The Reunion feel like a true celebration, I ideated around which
    symbols and traditions we typically partake in during celebrations. I then
    presented my pitch to the Fortnite team: A massive cake shaped like the
    returning map, decorated with iconic OG locations. Loving the concept, the
    team at Fortnite worked closely with me to coordinate which iconic locations
    would be returning, and together we unveiled The Reunion to fans in
    delicious style.
  </p>
</div>

<figure>
  <div class="vimeo-container" style="overflow: hidden">
    <div style="padding: 56.25% 0 0 0; position: relative">
      <iframe
        src="https://player.vimeo.com/video/880740907?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
        frameborder="0"
        allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
        style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
        title="Fortnite Reunion Promo"
      ></iframe>
    </div>
  </div>
  <figcaption>Fortnite: The Reunion - Announcement Trailer</figcaption>
</figure>

<video autoplay loop muted playsinline>
  <source
    src="/assets/img/projects/fortnite-reunion/broadcast/reunion loop 4.webm"
    type="video/webm"
  />
  <source
    src="/assets/img/projects/fortnite-reunion/broadcast/reunion loop 4.mp4"
    type="video/mp4"
  />
  Your browser does not support the video tag.
</video>
<div class="side-by-side">
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/fortnite-reunion/broadcast/reunion loop 6.webm"
      type="video/webm"
    />
    <source
      src="/assets/img/projects/fortnite-reunion/broadcast/reunion loop 6.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/fortnite-reunion/broadcast/reunion loop 3.webm"
      type="video/webm"
    />
    <source
      src="/assets/img/projects/fortnite-reunion/broadcast/reunion loop 3.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
</div>
<div class="side-by-side">
  <p class="big">Design That Tastes as Good as It Looks</p>
  <p>
    With the theme in place, every element was then designed to extend The
    Reunion's visual language seamlessly. I aimed to blend high-energy esports
    visuals with Fortnite’s signature vibrant style. From social assets to
    broadcast overlays, every screen felt like a natural extension of the game
    itself. With the cake as the central visual, my team seamlessly brought the
    event together over dessert.
  </p>
</div>
<video autoplay loop muted playsinline>
  <source
    src="/assets/img/projects/fortnite-reunion/broadcast/Behance_Sting.webm"
    type="video/webm"
  />
  <source
    src="/assets/img/projects/fortnite-reunion/broadcast/Behance_Sting.mp4"
    type="video/mp4"
  />
  Your browser does not support the video tag.
</video>
<video autoplay loop muted playsinline>
  <source
    src="/assets/img/projects/fortnite-reunion/broadcast/reunion loop 2.webm"
    type="video/webm"
  />
  <source
    src="/assets/img/projects/fortnite-reunion/broadcast/reunion loop 2.mp4"
    type="video/mp4"
  />
  Your browser does not support the video tag.
</video>

<div>
  <h2>The Impact</h2>

  <div>
    <div class="side-by-side">
      <p class="big">An Announcement Fans Couldn't Get Enough Of</p>
      <p>
        With over 2 million impressions and 69K+ engagements, it was clear the
        cake, the trailer, and the event all resonated strongly with the
        Fortnite community and longtime players.
      </p>
    </div>
    <div class="side-by-side">
      <p class="big">One of 2023’s Most-Watched Fortnite Events</p>
      <p>
        The Reunion reached 811K Hours Watched with 234K Peak Viewers in just
        four hours, becoming BoomTV's second-biggest tournament ever and the
        third-most popular Fortnite event of the year.
      </p>
    </div>
    <div class="side-by-side">
      <p class="big">Fortnite’s Biggest Influencers Brought the Hype</p>
      <p>
        Top Fortnite streamers, including Bugha, Mongraal, and Clix, dominated
        viewership. In fact, the official Fortnite channel wasn’t even in the
        top 10 most-watched streams—proving that The Reunion’s success was
        fueled by the community.
      </p>
    </div>
    <div class="side-by-side">
      <p class="big">The Premiere OG Tournament</p>
      <p>
        The Reunion surpassed other high-profile Fortnite OG tournaments in
        viewership, engagement, and prize pool impact, cementing BoomTV as a
        premier Fortnite tournament organizer and extending the community's
        visibility on the update far beyond Epic's expectations.
      </p>
    </div>
  </div>
</div>

<div class="contributions">
  <h2>My Roles</h2>
  <ul>
    <li>Creative Leadership</li>
    <li>Design System Development</li>
    <li>Event Trailer Concepting</li>
    <li>3D Environment & Logo Development</li>
    <li>Production Oversight</li>
    <li>Animation Direction</li>
    <li>Post-Production Supervision</li>
  </ul>
</div>

<div class="project__credits">
  <div class="project__credits-L">
    <h3>Credits</h3>
  </div>

  <div class="project__credits-R">
    <ul>
      <li>Logo Design: {% include "includes/mateo.html" %}</li>
    </ul>
  </div>
</div>
