---
layout: "layouts/project.njk"
title: "Fortnite"
videoID: "1026360987"
subtitle: "Animation Direction, Broadcast Design, Motion Design, Trailer Direction"
video: "/assets/img/videos/reunion_loop (1080p).mp4"
image: "/assets/img/projects/fortnite-reunion/broadcast/Starting soon.webp"
date: 2023-06-04
tags: "project"
scope: "Broadcast Animation"
feature: "yes"
---

<h1 class="title">{{ title }}</h1>

<div style="padding: 56.25% 0 0 0; position: relative">
  <iframe
    src="https://player.vimeo.com/video/1026360987?autoplay=1&loop=1&muted=1&badge=0&autopause=0&controls=0&player_id=0&app_id=58479"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="Porsche Main Loop"
  >
  </iframe>
</div>

<div class="project__info">
  <div class="project__info-L">
    <p class="big">Designing Fortnite's Iconic Throwback.</p>
    <p>
      To mark the launch of Fortnite OG, Epic Games and BoomTV partnered to
      create The Reunion, a high-stakes tournament bringing together top-tier
      pros, influencers, and nostalgic Fortnite fans on the game’s beloved
      original map. The goal was to build a celebratory brand identity that
      captured the feeling of returning home—a class reunion for Fortnite’s most
      dedicated players.
    </p>
  </div>

  <div class="project__info-R">
    <ul>
      <li>Animation Direction</li>
      <li>Broadcast Design</li>
      <li>Motion Design</li>
      <li>Announcement Trailer</li>
    </ul>
  </div>
</div>

<div class="side-by-side">
  <img
    src="/assets/img/projects/fortnite-reunion/reunion viewport1.webp"
    alt=""
  />
  <img
    src="/assets/img/projects/fortnite-reunion/reunion viewport 4.webp"
    alt=""
  />
</div>
<div class="side-by-side">
  <img
    src="/assets/img/projects/fortnite-reunion/reunion viewport 3.webp"
    alt=""
  />
  <img
    src="/assets/img/projects/fortnite-reunion/reunion viewport 2.webp"
    alt=""
  />
</div>

<div>
  <h2>The Challenge:</h2>
  <div class="side-by-side">
    <p>
      1. Fortnite OG was an emotional return for longtime players. The challenge
      was creating a visual identity and event branding that evoked nostalgia
      while still feeling fresh, exciting, and competition-ready.
    </p>
    <p>
      2. The event needed a cohesive motion package that extended across
      trailers, social content, live broadcasts, and in-game elements—all while
      seamlessly integrating with Fortnite’s evolving brand.
    </p>
    <p>
      3. With Fortnite’s biggest names streaming the event, the branding needed
      to ensure strong visibility, high retention, and a shareable, hype-driven
      experience.
    </p>
  </div>
</div>

<figure>
  <div class="vimeo-container" style="overflow: hidden">
    <div style="padding: 56.25% 0 0 0; position: relative">
      <iframe
        src="https://player.vimeo.com/video/880740907?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
        frameborder="0"
        allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
        style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
        title="Fortnite Reunion Promo"
      ></iframe>
    </div>
  </div>
  <figcaption>Fortnite: The Reunion - Announcement Trailer</figcaption>
</figure>

<div>
  <h2>The Solution:</h2>

  <div class="side-by-side">
    <div>
      <p class="big">Let Them Eat Cake</p>
      <p>
        To capture the spirit of The Reunion, I directed a high-energy animated
        announcement trailer with a nostalgic, celebratory atmosphere that hyped
        up both players and fans. The concept? A massive Fortnite-themed cake
        representing the OG map, in all its glory, with charming cake-toppers
        marking the old landmarks players loved.
      </p>
    </div>
    <div>
      <p class="big">A Motion System That Tastes as Good as It Looks</p>
      <p>
        I worked closely with Epic Games to ensure every map detail would truly
        reflect the OG update’s return, coordinating with them to learn which
        iconic landmarks would return to Fortnite's ever-changing world. With
        the cake as the centerpiece, I led the development of a dynamic,
        high-energy motion system making every broadcast screen feel like an
        extension of Fortnite, seamlessly bringing the event together over
        dessert.
      </p>
    </div>
  </div>
</div>

<video autoplay loop muted playsinline>
  <source
    src="/assets/img/projects/fortnite-reunion/broadcast/reunion loop 4.webm"
    type="video/webm"
  />
  <source
    src="/assets/img/projects/fortnite-reunion/broadcast/reunion loop 4.mp4"
    type="video/mp4"
  />
  Your browser does not support the video tag.
</video>
<div class="side-by-side">
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/fortnite-reunion/broadcast/reunion loop 6.webm"
      type="video/webm"
    />
    <source
      src="/assets/img/projects/fortnite-reunion/broadcast/reunion loop 6.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/fortnite-reunion/broadcast/reunion loop 3.webm"
      type="video/webm"
    />
    <source
      src="/assets/img/projects/fortnite-reunion/broadcast/reunion loop 3.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
</div>
<video autoplay loop muted playsinline>
  <source
    src="/assets/img/projects/fortnite-reunion/broadcast/Behance_Sting.webm"
    type="video/webm"
  />
  <source
    src="/assets/img/projects/fortnite-reunion/broadcast/Behance_Sting.mp4"
    type="video/mp4"
  />
  Your browser does not support the video tag.
</video>
<video autoplay loop muted playsinline>
  <source
    src="/assets/img/projects/fortnite-reunion/broadcast/reunion loop 2.webm"
    type="video/webm"
  />
  <source
    src="/assets/img/projects/fortnite-reunion/broadcast/reunion loop 2.mp4"
    type="video/mp4"
  />
  Your browser does not support the video tag.
</video>

<div>
  <h2>The Impact:</h2>

  <div class="side-by-side">
    <div>
      <p class="big">A Tournament That Dominated Viewership</p>
      <p>
        With 811K Hours Watched and 234K Peak Viewers across just four hours of
        airtime, this became the second-most popular BoomTV tournament ever and
        third-most popular Fortnite event of 2023.
      </p>
    </div>
    <div>
      <p class="big">Fortnite’s Biggest Influencers Amplified the Event</p>
      <p>
        Massive influencers, including Mongraal and Clix, were the top three
        most-watched streamers, driving engagement far beyond the official
        broadcast. The official Fortnite channel wasn’t even in the top
        10—proving the tournament’s success was powered by community-driven
        hype.
      </p>
    </div>
    <div>
      <p class="big">The Most-Watched Fortnite Tournament Post-OG Update</p>
      <p>
        The Reunion was the most successful competitive Fortnite event following
        the OG update, surpassing other high-profile tournaments in viewership
        and prize pool impact, cementing BoomTV as one of the premier Fortnite
        tournament organizers, while boosting Epic's visibility on the OG event
        far beyond their goals.
      </p>
    </div>
  </div>
</div>

<div class="contributions">
  <h2>Role:</h2>
  <ul>
    <li>Creative Leadership</li>
    <li>Design System Development</li>
    <li>Event Trailer Concepting</li>
    <li>3D Environment & Logo Development</li>
    <li>Production Oversight</li>
    <li>Animation Direction</li>
    <li>Post-Production Supervision</li>
  </ul>
</div>

<div class="project__credits">
  <div class="project__credits-L">
    <h3>Credits</h3>
  </div>

  <div class="project__credits-R">
    <ul>
      <li>Logo Design: {% include "includes/mateo.html" %}</li>
    </ul>
  </div>
</div>
