---
layout: "layouts/project.njk"
title: "Intel Inspires Esports Summit"
videoID: "1026298680"
subtitle: "Videography, Motion Design, Video Editing"
video: "/assets/img/videos/intel_inspires_-_event_sizzle (1080p).mp4"
image: "/assets/img/projects/intel-inspires/intel-inspires_thumb.jpg"
date: 2023-05-01
tags: "project"
scope: "Brand Identity"
feature: "yes"
---

<div style="padding: 56.25% 0 0 0; position: relative">
  <iframe
    src="https://player.vimeo.com/video/1026298680?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="Intel Inspires - Event Sizzle"
  ></iframe>
</div>

<h1 class="title">{{ title }}</h1>

<div class="project__info">
  <div class="project__info-L">
    <p class="big">
      Providing high-level esports competition to rising high school and college
      stars.
    </p>
    <p>
      Intel's annual scholastic esports summit is an exciting opportunity for
      asporing high school and college esports athletes to get experience
      competing in events, attending panels, and making connections with
      recruiters and fellow students
    </p>
    <p>
      For this project, I created a motion graphics and video promo package, as
      well as attended the event as a video production manager. Featuring live
      LAN competitions, the three day event was attended by over 1,000 students.
      At Esports Stadium Arlington, I helped coordinate candid, promo-ready
      video coverage of everything from intense gameplay moments to
      behind-the-scenes interactions from this annual esports summit.
    </p>
  </div>

  <div class="project__info-R">
    <ul>
      <li>Creative Direction</li>
      <li>Video Production</li>
      <li>Videography</li>
      <li>Motion Design</li>
      <li>Video Editing</li>
    </ul>
  </div>
</div>

<div style="padding: 56.25% 0 0 0; position: relative">
  <iframe
    src="https://player.vimeo.com/video/802167861?h=ba6e70a291&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="Intel Inspires Summit 2023 Announcement"
  ></iframe>
</div>
<script src="https://player.vimeo.com/api/player.js"></script>

<div class="project__credits">
  <div class="project__credits-L">
    <h3>Credits</h3>
  </div>

  <div class="project__credits-R">
    <ul>
      <li>Branding: {% include "includes/mateo.html" %}</li>
    </ul>
  </div>
</div>
