---
layout: "layouts/project.njk"
client: "KNDU-TV"
title: "TV Spots and Commercials"

video: "/assets/img/videos/kndu sizzle_h264_crf21.mp4"
image: "/assets/img/projects/kndu/kndu-thumb.jpg"
date: 2016-01-01
tags: "project"
scope: "Creative Direction"
feature: "no"
---

<figure>
  <div style="padding: 56.25% 0 0 0; position: relative">
    <iframe
      src="https://player.vimeo.com/video/215080046?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
      title="Sunday Night Football Promo"
    ></iframe>
  </div>
  <figcaption>
    "Sunday Night Football" Promo - Videography, Editing, Commercial Direction
  </figcaption>
</figure>

<h1 class="title">{{ client }}{% if title %} | {{ title }}{% endif %}</h1>

<div class="project__info">
  <div class="project__info-L">
    <p class="big">
      While working at KNDU, I developed a number of TV spots and motion
      graphics for various promotional campaigns. Here are some of the pieces I
      developed while at the station.
    </p>
  </div>

  <div class="project__info-R">
    <ul>
      <li>Direction</li>
      <li>Videography</li>
      <li>Production</li>
      <li>Editing</li>
      <li>Motion Strategy</li>
      <li>Project Management</li>
    </ul>
  </div>
</div>
<figure>
  <div style="padding: 56.25% 0 0 0; position: relative">
    <iframe
      src="https://player.vimeo.com/video/214398048?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
      title="NBC Right Now - Push Alerts: Dual Market"
    ></iframe>
  </div>
  <figcaption>
    "Weather Alerts, Dual Market" Promo - Videography, Editing, Motion Design
  </figcaption>
</figure>

<figure>
  <div style="padding: 56.25% 0 0 0; position: relative">
    <iframe
      src="https://player.vimeo.com/video/214398001?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
      title="SWX Overtime Fall Promo"
    ></iframe>
  </div>
  <figcaption>
    SWX Overtime "The Best" Promo - Videography, Drone Camera, Motion Design,
    and Editing
  </figcaption>
</figure>

<figure>
  <div style="padding: 56.25% 0 0 0; position: relative">
    <iframe
      src="https://player.vimeo.com/video/1045532725?h=4c63e49422&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media"
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
      title="KNDU-TV | Breaking News Animation"
    ></iframe>
  </div>
  <figcaption>KNDU-TV Breaking News Open - Motion Design</figcaption>
</figure>
<figure>
  <div style="padding: 56.25% 0 0 0; position: relative">
    <iframe
      src="https://player.vimeo.com/video/220564598?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
      title="NBC Right Now - Dialed In with Tracci Dial"
    ></iframe>
  </div>
  <figcaption>
    "Dialed In" Promo - Videography, Editing, Motion Design
  </figcaption>
</figure>

<figure>
  <div style="padding: 56.25% 0 0 0; position: relative">
    <iframe
      src="https://player.vimeo.com/video/211357680?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
      title="NBC Right Now - Push Alerts 2"
    ></iframe>
  </div>
  <figcaption>
    "Push Alerts" Promo - Videography, Editing, Motion Design
  </figcaption>
</figure>
