---
layout: "layouts/project.njk"
title: "Mountain Dew Champions Cup"
videoID: "1026261557"
subtitle: "Animation Direction, Broadcast Design, Motion Design, 3D Modeling, Trailer Direction"
video: "/assets/img/videos/mtn_dew_champions_cup_looping_video (1080p).mp4"
image: "/assets/img/projects/mountain-dew-champions-cup/mtndew-viewport-city.webp"
date: 2022-07-01
tags: "project"
scope: "Brand Identity"
feature: "yes"
---

<div style="padding: 56.25% 0 0 0; position: relative">
  <iframe
    src="https://player.vimeo.com/video/1026261557?autoplay=1&muted=1&loop=1&background=1"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="PG_previewLoop"
  ></iframe>
</div>

<h1 class="title">{{ title }}</h1>

<div class="project__info">
  <div class="project__info-L">
    <p class="big">Designing the city of champions.</p>
    <p>
      Presented by Mountain Dew Gaming, the Champions Cup was a summer esports
      gauntlet challenging top players to a battle for the ultimate trophy. I
      got to bring the iconic brand’s bold vision to life with a high-energy
      motion package, helping Mountain Dew announce their event in style and
      keep the energy strong through each broadcast.
    </p>
  </div>

  <div class="project__info-R">
    <ul>
      <li>Animation Direction</li>
      <li>Broadcast Design</li>
      <li>Motion Design</li>
      <li>3D Modeling</li>
      <li>Trailer Direction</li>
    </ul>
  </div>
</div>

<div class="side-by-side">
  <img
    src="/assets/img/projects/mountain-dew-champions-cup/mtndew-viewport-bottle.webp"
    alt=""
  />
  <img
    src="/assets/img/projects/mountain-dew-champions-cup/mtndew-viewport-cityhigh.webp"
    alt=""
  />
</div>
<div class="side-by-side">
  <img
    src="/assets/img/projects/mountain-dew-champions-cup/mtndew-viewport-city.webp"
    alt=""
  />
  <img
    src="/assets/img/projects/mountain-dew-champions-cup/mtndew-viewport-roofs.webp"
    alt=""
  />
</div>

<div class="side-by-side">
  <div class="wrapper-smaller">
    <div style="padding: 125% 0 0 0; position: relative">
      <iframe
        src="https://player.vimeo.com/video/885425059?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
        frameborder="0"
        allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
        style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
        title="Mountain Dew Champions Cup - Announcement Trailer"
      ></iframe>
    </div>
  </div>

  <div class="project__info">
    <div class="project__info-L">
      <h2>Animation</h2>

      <p class="big">A larger-than-life trailer.</p>
      <p>
        Mountain Dew’s goal was to make the Champion's Cup feel as grandiose as
        possible. Collaborating closely with the brand, I got the green light to
        build an announcement trailer with a neon-lit, Dew-themed cityscape,
        blending the brand's iconic colors with a cyberpunk aesthetic. At the
        center of it all, a towering megastructure, modeled after the physical
        trophy Mountain Dew would award its champion. The Champion's Cup
        broadcast saw 35,000 concurrent viewers witness the likes of
        TimTheTatman, ZLaner, LuluLuvely, Scump, NiceWigg, and JaredFPS throwing
        down while the world watched.
      </p>
    </div>
  </div>
</div>

<div class="side-by-side">
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/mountain-dew-champions-cup/Champions Cup Loop 1.webm"
      type="video/webm"
    />
    <source
      src="/assets/img/projects/mountain-dew-champions-cup/Champions Cup Loop 1.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/mountain-dew-champions-cup/Champions Cup Loop 2.webm"
      type="video/webm"
    />
    <source
      src="/assets/img/projects/mountain-dew-champions-cup/Champions Cup Loop 2.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
</div>
<div class="side-by-side">
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/mountain-dew-champions-cup/Champions Cup Loop 4.webm"
      type="video/webm"
    />
    <source
      src="/assets/img/projects/mountain-dew-champions-cup/Champions Cup Loop 4.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/mountain-dew-champions-cup/Champions Cup Loop 3.webm"
      type="video/webm"
    />
    <source
      src="/assets/img/projects/mountain-dew-champions-cup/Champions Cup Loop 3.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
</div>
<div class="side-by-side">
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/mountain-dew-champions-cup/Champions Cup Loop 5.webm"
      type="video/webm"
    />
    <source
      src="/assets/img/projects/mountain-dew-champions-cup/Champions Cup Loop 5.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>

  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/mountain-dew-champions-cup/Champions Cup Loop 7.webm"
      type="video/webm"
    />
    <source
      src="/assets/img/projects/mountain-dew-champions-cup/Champions Cup Loop 7.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/mountain-dew-champions-cup/Champions Cup Loop 6.webm"
      type="video/webm"
    />
    <source
      src="/assets/img/projects/mountain-dew-champions-cup/Champions Cup Loop 6.webm"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
</div>

<div class="project__credits">
  <div class="project__credits-L">
    <h3>Credits</h3>
  </div>

  <div class="project__credits-R">
    <ul>
      <li>Design: {% include "includes/mateo.html" %}</li>
    </ul>
  </div>
</div>
