---
layout: "layouts/project.njk"
title: "Mountain Dew"
videoID: "1026261557"
subtitle: "World-Class Players. Cinematic Experiences."
video: "/assets/img/projects/mountain-dew-champions-cup/mtn dew loop_h264_crf23.mp4"
image: "/assets/img/projects/mountain-dew-champions-cup/mtndew-viewport-city.webp"
date: 2022-07-01
tags: "project"
scope: "Brand Identity"
feature: "yes"
---

<h1 class="title">{{ title }}</h1>

<div style="padding: 56.25% 0 0 0; position: relative">
  <iframe
    src="https://player.vimeo.com/video/1026261557?autoplay=1&muted=1&loop=1&background=1"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="PG_previewLoop"
  ></iframe>
</div>

<div>
  <h2>The Challenge</h2>

  <div class="side-by-side">
    <div>
      <p class="big">
        {{ subtitle }}
      </p>
    </div>
    <p>
      Mountain Dew Gaming positioned itself at the forefront of fan-first
      esports entertainment, delivering electrifying tournaments with some of
      the biggest names in gaming. The challenge was to craft a bold,
      high-energy brand identity that captured the bold, energetic brand
      identity synonymous with Mountain Dew.
    </p>
  </div>
  <div class="side-by-side">
    <p>
      1. Mountain Dew's events needed to feel grandiose, seamlessly blending
      high-energy brand identity with the fast-paced, high-stakes nature of
      esports competition.
    </p>
    <p>
      2. From Fortnite’s vibrant, dynamic world to Counter-Strike’s tactical,
      high-pressure gameplay, each event required a custom motion and branding
      system that felt authentic to the game while staying true to Mountain
      Dew’s bold aesthetic.
    </p>
    <p>
      3. With top-tier gaming personalities like TimTheTatman, Scump, and
      LuluLuvely, the challenge was to create shareable, high-energy content
      that maximized community engagement and social virality.
    </p>
  </div>
</div>

<video autoplay loop muted playsinline>
  <source
    src="/assets/img/projects/mtn-dew-cs/cs viewport animation0001.mp4"
    type="video/mp4"
  />

  Your browser does not support the video tag.
</video>
<div class="side-by-side">
  <img src="/assets/img/projects/mtn-dew-cs/cs_viewport1.webp" alt="" />

  <img src="/assets/img/projects/mtn-dew-cs/cs_viewport2.webp" alt="" />
</div>

<div class="side-by-side">
  <p class="big">A High-Concept Explosion for the CS2 Showdown</p>
  <p>
    For Mountain Dew’s Counter-Strike 2 influencer showdown, I directed a
    high-energy announcement trailer centered around a custom-built, Mountain
    Dew Code Red-themed PC. Built from the trophy itself, the PC’s internal
    components brought to life a chaotic, ultra gamer machine before a CS2-style
    bomb detonated, revealing the tournament’s title card with Hollywood level
    flare.
  </p>
</div>

<div style="padding: 56.25% 0 0 0; position: relative">
  <iframe
    src="https://player.vimeo.com/video/885424173?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="MTN DEW Code Red CS Showdown Promo"
  ></iframe>
</div>

<h2>Designing the City of Champions</h2>

<div class="side-by-side">
  <img
    src="/assets/img/projects/mountain-dew-champions-cup/mtndew-viewport-bottle.webp"
    alt=""
  />
  <img
    src="/assets/img/projects/mountain-dew-champions-cup/mtndew-viewport-cityhigh.webp"
    alt=""
  />
</div>
<div class="side-by-side">
  <img
    src="/assets/img/projects/mountain-dew-champions-cup/mtndew-viewport-city.webp"
    alt=""
  />
  <img
    src="/assets/img/projects/mountain-dew-champions-cup/mtndew-viewport-roofs.webp"
    alt=""
  />
</div>

<div class="side-by-side">
  <div class="wrapper-smaller">
    <div style="padding: 125% 0 0 0; position: relative">
      <iframe
        src="https://player.vimeo.com/video/885425059?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
        frameborder="0"
        allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
        style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
        title="Mountain Dew Champions Cup - Announcement Trailer"
      ></iframe>
    </div>
  </div>

  <div class="project__info">
    <div class="project__info-L">
      <p class="big">A larger-than-life trailer.</p>
      <p>
        For The Champions Cup, Mountain Dew wanted to make the tournament feel
        like an esports spectacle, evoking the scale and prestige of a major
        championship event. I pitched them a cyberpunk-inspired cityscape,
        fusing Mountain Dew’s signature neon greens and bold aesthetics with a
        futuristic, high-energy metropolis.
      </p>
      <p>
        At the center of it all stood a massive megastructure, modeled after the
        real-life tournament trophy awarded to the champion. This seamless
        fusion of branding, game integration, and narrative design ensured that
        the tournament visuals extended across broadcast, trailers, and live
        events.
      </p>
    </div>
  </div>
</div>

<div class="side-by-side">
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/mountain-dew-champions-cup/Champions Cup Loop 1.webm"
      type="video/webm"
    />
    <source
      src="/assets/img/projects/mountain-dew-champions-cup/Champions Cup Loop 1.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/mountain-dew-champions-cup/Champions Cup Loop 2.webm"
      type="video/webm"
    />
    <source
      src="/assets/img/projects/mountain-dew-champions-cup/Champions Cup Loop 2.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
</div>

<div class="side-by-side">
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/mountain-dew-champions-cup/Champions Cup Loop 4.webm"
      type="video/webm"
    />
    <source
      src="/assets/img/projects/mountain-dew-champions-cup/Champions Cup Loop 4.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>

  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/mountain-dew-champions-cup/Champions Cup Loop 7.webm"
      type="video/webm"
    />
    <source
      src="/assets/img/projects/mountain-dew-champions-cup/Champions Cup Loop 7.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/mountain-dew-champions-cup/Champions Cup Loop 6.webm"
      type="video/webm"
    />
    <source
      src="/assets/img/projects/mountain-dew-champions-cup/Champions Cup Loop 6.webm"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
</div>

<div class="side-by-side">
  <p class="big">A Neon-Fueled, High Energy Broadcast Design</p>
  <div>
    <p>
      Seamlessly picking up with the reveal trailer left off, the Champion's Cup
      broadcast experience took viewers directly into the City of Champions,
      with a virtual set, numerous broadcast scenes, energetic stingers, and
      bold, clean visuals.
    </p>
    <p>
      Working closely with Mountain Dew, we were able to art direct details as
      minute as caster's scenes, providing renders of the Mountain Dew trophy
      for Gojj, and bottles of Mountain Dew for Spidertiff, who brought high
      energy to the entire broadcast, alongside host Puckett, anchoring from the
      meticulously crafted virtual studio.
    </p>
  </div>
</div>

<figure>
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/mountain-dew-champions-cup/Fortnite 2023-07-19 12-18-33_Trim_h264_crf23.mp4"
      type="video/mp4"
    />

    Your browser does not support the video tag.
  </video>
  <figcaption>
    Using Unreal Engine for Fortnite, we added the custom branded Mountain Dew
    trophy directly into the event as an in-game item.
  </figcaption>
</figure>

<div class="side-by-side">
  <p class="big">
    Bringing Mountain Dew Into the Game With Cross-Media Integration
  </p>
  <p>
    Beyond the trailers, it was important that we built a cohesive visual
    identity extended throughout broadcast scenes, social media, and even the
    game itself. For Fortnite, we made use of the trophy model developed for our
    marketing package, and used Unreal Editor for Fortnite to integrate it with
    the in-game environment, seamlessly tying the event branding back into the
    game itself.
  </p>
</div>
<figure>
  <div class="side-by-side">
    <img
      src="/assets/img/projects/mtndew-halo/ab05-artv2-mtndew_assets.webp"
      alt=""
    />
    <img src="/assets/img/projects/mtndew-halo/md_forge__green_.webp" alt="" />
  </div>
  <figcaption>
    Halo Infinite's Forge allowed us to develop branded maps for the Mountain
    Dew: Halo Infinite Community Gauntlet.
  </figcaption>
</figure>
<video autoplay loop muted playsinline>
  <source
    src="/assets/img/projects/mtndew-halo/Halo Announcement v2_h264_crf23.mp4"
    type="video/mp4"
  />

  Your browser does not support the video tag.
</video>

<div class="side-by-side">
  <p class="big">Bringing the Halo Community Together</p>
  <p>
    The Mountain Dew Game Fuel Halo Infinite Community Gauntlet was a
    celebration of Halo’s competitive legacy, uniting top-tier talent, iconic
    casters, and over 250 players across 64 teams. Designed to engage both
    hardcore competitors and nostalgic fans, the event introduced a unique
    pick-ban system and classic maps, creating an experience that felt both
    fresh and deeply rooted in Halo tradition.
  </p>
</div>

<img src="/assets/img/projects/mtndew-halo/slack-imgs.webp" alt="" />

<div>
  <h2>The Impact</h2>

  <div class="side-by-side">
    <p class="big">Tournaments That Captivated Millions</p>
    <p>
      Our work with Mountain Dew dominated the competitive gaming space, uniting
      top-tier talent across Fortnite, Counter-Strike 2, and Halo Infinite. The
      premium esports events collectively drew millions of viewers, with
      Mountain Dew securing 67% of all Halo Infinite Twitch viewership during
      peak hours and driving over 1.3 million total live views across its
      biggest tournaments.
    </p>
  </div>
  <div class="side-by-side">
    <p class="big">
      An Arena That Created Viral Moments And Meaningful Engagement
    </p>
    <p>
      On social media, the impact was just as explosive. Viral moments—including
      CS2 Showdown’s cinematic trailer, Champions Cup highlights, and Lunchbox’s
      Overkill clip in Halo Infinite—helped Mountain Dew tournaments generate
      over 2.2 million Twitter/X views, 740K+ YouTube views, and 438K+ Twitch
      views. With participation from gaming’s biggest content creators, these
      tournaments weren’t just events—they became must-watch spectacles that
      cemented Mountain Dew as a dominant force in influencer-driven gaming.
    </p>
  </div>
  <div class="side-by-side">
    <p class="big">The Lasting Influence of Mountain Dew</p>
    <p>
      The integration of Mountain Dew’s brand into competitive gaming culture
      left a lasting mark. The Halo Infinite Community Gauntlet’s format was so
      well received that 343 Industries extended its map playlist, demonstrating
      the impact that these events had on actively shaping the games and
      communities they touched.
    </p>
  </div>
</div>

<video autoplay loop muted playsinline>
  <source
    src="/assets/img/projects/mtn-dew-cs/bomb spin_mp4.mp4"
    type="video/mp4"
  />

  Your browser does not support the video tag.
</video>

<div class="contributions">
  <h2>My Roles</h2>
  <ul>
    <li>Creative Leadership</li>
    <li>Design System Development</li>
    <li>Event Trailer Concepting</li>
    <li>3D Modeling & Animation Direction</li>
    <li>Production Oversight</li>
  </ul>
</div>
<div class="project__credits">
  <div class="project__credits-L">
    <h3>Credits</h3>
  </div>

  <div class="project__credits-R">
    <ul>
      <li>Design: {% include "includes/mateo.html" %}</li>
    </ul>
  </div>
</div>
