---
layout: "layouts/project.njk"
title: "Mountain Dew"
videoID: "1026261557"
subtitle: "Animation Direction, Broadcast Design, Motion Design, 3D Modeling, Trailer Direction"
video: "/assets/img/projects/mountain-dew-champions-cup/mtn dew loop_h264_crf23.mp4"
image: "/assets/img/projects/mountain-dew-champions-cup/mtndew-viewport-city.webp"
date: 2022-07-01
tags: "project"
scope: "Brand Identity"
feature: "yes"
---

<h1 class="title">{{ title }}</h1>

<div style="padding: 56.25% 0 0 0; position: relative">
  <iframe
    src="https://player.vimeo.com/video/1026261557?autoplay=1&muted=1&loop=1&background=1"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="PG_previewLoop"
  ></iframe>
</div>

<div class="project__info">
  <div class="project__info-L">
    <p class="big">High-stakes tournaments. World-class players.</p>
    <p>
      Mountain Dew Gaming has positioned itself at the forefront of esports
      entertainment, delivering electrifying tournaments featuring some of the
      biggest names in gaming. Across Fortnite, Counter-Strike, and Halo, I
      helped bring Mountain Dew’s brand to life with cinematic trailers and
      dynamic broadcast integrations that kept the excitement strong from
      announcement to final showdown.
    </p>
  </div>

  <div class="project__info-R">
    <ul>
      <li>Animation Direction</li>
      <li>Broadcast Design</li>
      <li>Motion Design</li>
      <li>3D Modeling</li>
      <li>Trailer Direction</li>
    </ul>
  </div>
</div>

<div class="side-by-side">
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/mountain-dew-champions-cup/Champions Cup Loop 1.webm"
      type="video/webm"
    />
    <source
      src="/assets/img/projects/mountain-dew-champions-cup/Champions Cup Loop 1.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/mountain-dew-champions-cup/Champions Cup Loop 2.webm"
      type="video/webm"
    />
    <source
      src="/assets/img/projects/mountain-dew-champions-cup/Champions Cup Loop 2.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
</div>

<div>
  <h2>The Challenge:</h2>
  <div class="side-by-side">
    <p>
      1. Mountain Dew's events needed to feel larger than life, seamlessly
      blending high-energy brand identity with the fast-paced, high-stakes
      nature of esports competition.
    </p>
    <p>
      2. From Fortnite’s vibrant, dynamic world to Counter-Strike’s tactical,
      high-pressure gameplay, each event required a custom motion and branding
      system that felt authentic to the game while staying true to Mountain
      Dew’s bold aesthetic.
    </p>
    <p>
      3. With top-tier gaming personalities like TimTheTatman, Scump, and
      LuluLuvely, the challenge was to create shareable, high-energy content
      that maximized community engagement and social virality.
    </p>
  </div>
</div>

<div class="side-by-side">
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/mountain-dew-champions-cup/Champions Cup Loop 4.webm"
      type="video/webm"
    />
    <source
      src="/assets/img/projects/mountain-dew-champions-cup/Champions Cup Loop 4.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>

  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/mountain-dew-champions-cup/Champions Cup Loop 7.webm"
      type="video/webm"
    />
    <source
      src="/assets/img/projects/mountain-dew-champions-cup/Champions Cup Loop 7.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/mountain-dew-champions-cup/Champions Cup Loop 6.webm"
      type="video/webm"
    />
    <source
      src="/assets/img/projects/mountain-dew-champions-cup/Champions Cup Loop 6.webm"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
</div>

<h2>Designing the City of Champions</h2>

<div class="side-by-side">
  <img
    src="/assets/img/projects/mountain-dew-champions-cup/mtndew-viewport-bottle.webp"
    alt=""
  />
  <img
    src="/assets/img/projects/mountain-dew-champions-cup/mtndew-viewport-cityhigh.webp"
    alt=""
  />
</div>
<div class="side-by-side">
  <img
    src="/assets/img/projects/mountain-dew-champions-cup/mtndew-viewport-city.webp"
    alt=""
  />
  <img
    src="/assets/img/projects/mountain-dew-champions-cup/mtndew-viewport-roofs.webp"
    alt=""
  />
</div>

<div class="side-by-side">
  <div class="wrapper-smaller">
    <div style="padding: 125% 0 0 0; position: relative">
      <iframe
        src="https://player.vimeo.com/video/885425059?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
        frameborder="0"
        allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
        style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
        title="Mountain Dew Champions Cup - Announcement Trailer"
      ></iframe>
    </div>
  </div>

  <div class="project__info">
    <div class="project__info-L">
      <p class="big">A larger-than-life trailer.</p>
      <p>
        Mountain Dew’s goal was to make the Champion's Cup feel as grandiose as
        possible. Collaborating closely with the brand, I crafted a
        cyberpunk-inspired cityscape, fusing Mountain Dew’s signature colors
        with a futuristic metropolitan setting. At center stood a towering
        megastructure modeled after the real-life tournament trophy we would
        award the champion, creating a seamless connection between the game,
        broadcast, and brand identity.
      </p>
    </div>
  </div>
</div>

<div>
  <div>
    <div>
      <p class="big">Seamless, Cross-Media Integration</p>
      <p>
        Beyond the trailers, it was important that we built a cohesive visual
        identity extended throughout broadcast scenes, social media, and even
        the game itself. For Fortnite, we made use of the trophy model developed
        for our marketing package, and used Unreal Editor for Fortnite to
        integrate it with the in-game environment, seamlessly tying the event
        branding back into the game itself.
      </p>
    </div>
  </div>
</div>

<video autoplay loop muted playsinline>
  <source
    src="/assets/img/projects/mountain-dew-champions-cup/Fortnite 2023-07-19 12-18-33_Trim_h264_crf23.mp4"
    type="video/mp4"
  />

  Your browser does not support the video tag.
</video>

<video autoplay loop muted playsinline>
  <source
    src="/assets/img/projects/mtn-dew-cs/cs viewport animation0001.mp4"
    type="video/mp4"
  />

  Your browser does not support the video tag.
</video>
<div class="side-by-side">
  <img src="/assets/img/projects/mtn-dew-cs/cs_viewport1.webp" alt="" />

  <img src="/assets/img/projects/mtn-dew-cs/cs_viewport2.webp" alt="" />
</div>

<h2>A High-Concept Explosion for the CS2 Showdown</h2>

<div style="padding: 56.25% 0 0 0; position: relative">
  <iframe
    src="https://player.vimeo.com/video/885424173?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="MTN DEW Code Red CS Showdown Promo"
  ></iframe>
</div>

<div class="project__info">
  <div class="project__info-L">
    <p>
      For Mountain Dew’s Counter-Strike 2 influencer showdown, I directed a
      high-energy announcement trailer centered around a custom-built, Mountain
      Dew Code Red-themed PC. Built from the trophy itself, the PC’s internal
      components brought to life a chaotic, ultra gamer machine before a
      CS2-style bomb detonated, revealing the tournament’s title card with
      Hollywood level flare.
    </p>
  </div>

  <div class="project__info-R">
    <ul>
      <li>Animation Direction</li>
      <li>3D Modeling</li>
      <li>Announcement Trailer</li>
      <li>Motion Design</li>
    </ul>
  </div>
</div>

<div>
  <h2>The Impact:</h2>

  <div class="side-by-side">
    <div>
      <p class="big">Tournaments That Captivated Millions</p>
      <p>
        The Champions Cup saw 35,000 concurrent viewers and over 1 million live
        views, while the CS2 Showdown’s viral moments generated 750,000+ organic
        views across social media, proving Mountain Dew’s influence in esports.
      </p>
    </div>
    <div>
      <p class="big">Dominating Social Media & Streaming Platforms></p>
      <p>
        With participation from gaming’s biggest content creators, the events
        generated a combined 1.3M+ Twitter views, 740K+ YouTube views, and 438K+
        Twitch views, cementing Mountain Dew as a standout force in
        influencer-driven gaming events.
      </p>
    </div>
  </div>
</div>

<video autoplay loop muted playsinline>
  <source
    src="/assets/img/projects/mtn-dew-cs/bomb spin_mp4.mp4"
    type="video/webm"
  />

  Your browser does not support the video tag.
</video>
<div class="contributions">
  <h2>Roles:</h2>
  <ul>
    <li>Creative Leadership</li>
    <li>Design System Development</li>
    <li>Event Promo Conceptualization</li>
    <li>Animation Direction</li>
  </ul>
</div>
<div class="project__credits">
  <div class="project__credits-L">
    <h3>Credits</h3>
  </div>

  <div class="project__credits-R">
    <ul>
      <li>Design: {% include "includes/mateo.html" %}</li>
    </ul>
  </div>
</div>
