---
layout: "layouts/project.njk"
title: "Proving Grounds: 2025"
subtitle: "Positioning Proving Grounds to leave the status quo behind."
video: "/assets/img/projects/pg2025/2025 PG Loop_h264_preview.mp4"
image: "/assets/img/projects/pg2025/vlcsnap-2025-02-13-17h33m58s342.webp"
date: 2025-01-29
tags: "project"
scope: "Broadcast Animation"
feature: "yes"
---

<h1 class="title">{{ title }}</h1>

<figure>
  <div style="padding: 56.25% 0 0 0; position: relative">
    <iframe
      src="https://player.vimeo.com/video/1061082967?h=f62b7df497&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media"
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
      title="Proving Grounds | March Fragness Promo"
    ></iframe>
  </div>
  <figcaption>Promo for the PG March Fragness event series.</figcaption>
</figure>

<div>
  <h2>The Challenge</h2>

  <div class="side-by-side">
    <div>
      <p class="big">
        {{ subtitle }}
      </p>
    </div>
    <p>
      As a long-running pro-am esports series, Proving Grounds provided a
      competitive space for aspiring esports athletes to gain recognition and
      compete for major prizes. As the brand expanded in 2025, it needed a
      fresh, modular identity that could scale across broadcast, social, and
      live events while retaining its grassroots, underdog appeal. It needed to:
    </p>
  </div>

  <div class="side-by-side">
    <p>
      1. Retain the core Proving Grounds branding, colors, and logo while
      introducing a new design language that feels fresh, modular, and
      future-proof.
    </p>
    <p>
      2. Establish a cohesive motion system that elevates the broadcast
      experience and keeps production flexible across Twitch, YouTube, and
      social media.
    </p>
    <p>
      3. Ensure that the brand is instantly recognizable on social media, live
      streams, and tournament overlays—driving stronger engagement across
      platforms.
    </p>
  </div>
</div>

<video autoplay loop muted playsinline>
  <source
    src="/assets/img/projects/pg2025/PG2025_lockup.webm"
    type="video/webm"
  />
  <source
    src="/assets/img/projects/pg2025/PG2025_lockup_h264_crf23.mp4"
    type="video/mp4"
  />
  Your browser does not support the video tag.
</video>

<div>
  <h2>Creative Approach</h2>

  <div class="side-by-side">
    <p class="big">Street Art Meets Esports.</p>
    <p>
      To capture the classic storyline of the underdog rising to the top, we
      introduced an alternate PG icon inspired by street culture—reinforcing the
      tournament’s high-energy, competitive atmosphere while appealing to its
      grassroots community.
    </p>
  </div>

  <div class="side-by-side">
    <p class="big">Past Meets Future.</p>
    <p>
      Inspired by early 2000s futuristic design, we balanced legacy branding
      with a futuristic, high-end motion system influenced by early 2000s design
      aesthetics.
    </p>
  </div>
</div>

<video autoplay loop muted playsinline>
  <source
    src="/assets/img/projects/pg2025/Starting Soon Example.webm"
    type="video/webm"
  />
  <source
    src="/assets/img/projects/pg2025/Starting Soon Example_h264_crf23.mp4"
    type="video/mp4"
  />
  Your browser does not support the video tag.
</video>

<div class="side-by-side">
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/pg2025/PG_WatchParty_01-30-2025_Announcement.webm"
      type="video/webm"
    />
    <source
      src="/assets/img/projects/pg2025/PG_WatchParty_01-30-2025_Announcement_h264_crf23.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>

  <div>
    <p class="big">
      Whether on Twitch or your social timeline, Proving Grounds stands out.
    </p>
    <p>
      A dedicated square-format motion background for social media posts ensures
      Proving Grounds content stays consistent and high-visibility across
      platforms. A subject-first design format allows for seamless integration
      of player photos and influencer promotions.
    </p>
  </div>
</div>

<video autoplay loop muted playsinline>
  <source
    src="/assets/img/projects/pg2025/Primary Endpage.webm"
    type="video/webm"
  />
  <source
    src="/assets/img/projects/pg2025/Primary Endpage_h264_crf23.mp4"
    type="video/mp4"
  />
  Your browser does not support the video tag.
</video>

<div>
  <h2>The Impact</h2>
  <div class="side-by-side">
    <p class="big">Stronger Brand Recognition</p>
    <p>
      A flexible visual system that scales seamlessly from Twitch overlays to
      social media marketing, ensuring brand recognition across all tournament
      touchpoints.
    </p>
  </div>
  <div class="side-by-side">
    <p class="big">Faster Production Turnaround</p>
    <p>
      The modular motion system allows for faster iteration of assets, reducing
      design overhead for ongoing tournaments and marketing.
    </p>
  </div>
  <div class="side-by-side">
    <p class="big">Boosted Social Engagement</p>
    <p>
      The social-first design approach ensures that Proving Grounds content is
      optimized for visibility, increasing interaction across Twitter,
      Instagram, and TikTok.
    </p>
  </div>
  <div class="side-by-side">
    <p class="big">Future-Proof Identity</p>
    <p>
      By balancing legacy elements with new design innovations, Proving Grounds
      remains visually relevant as it expands into new competitive titles,
      staying true to its roots while breaking fresh ground.
    </p>
  </div>
</div>

<video autoplay loop muted playsinline>
  <source
    src="/assets/img/projects/pg2025/MarchKlutchshot Animated_h264_crf23.mp4"
    type="video/mp4"
  />
  Your browser does not support the video tag.
</video>

<div class="contributions">
  <h2>My Roles</h2>
  <ul>
    <li>Creative Leadership</li>
    <li>Design System Development</li>
    <li>Brand Guidelines Author</li>
    <li>Animation Direction</li>
  </ul>
</div>

<div class="project__credits">
  <div class="project__credits-L">
    <h3>Credits</h3>
  </div>

  <div class="project__credits-R">
    <ul>
      <li>Logo Design: {% include "includes/mateo.html" %}</li>
    </ul>
  </div>
</div>
