---
layout: "layouts/project.njk"
title: "Brand Refresh: Proving Grounds 2025"
subtitle: "Motion Design System, Broadcast Design, Animation Direction"
video: "/assets/img/projects/pg2025/2025 PG Loop_h264_preview.mp4"
image: "/assets/img/projects/pg2025/vlcsnap-2025-02-13-17h33m58s342.webp"
date: 2025-01-29
tags: "project"
scope: "Broadcast Animation"
feature: "yes"
---

<figure>
  <div style="padding: 56.25% 0 0 0; position: relative">
    <iframe
      src="https://player.vimeo.com/video/1061082967?h=f62b7df497&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media"
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
      title="Proving Grounds | March Fragness Promo"
    ></iframe>
  </div>
  <figcaption>Promo for the PG March Fragness event series.</figcaption>
</figure>

<h1 class="title">{{ title }}</h1>

<p class="big">
  Moving into 2025, Proving Grounds leaves the status quo behind.
</p>

<div class="side-by-side">
  <p>
    Proving Grounds is BoomTV’s long-running pro-am esports series, providing a
    competitive space for aspiring esports athletes to gain recognition and
    compete for major prizes. The series expanded in 2025, introducing Marvel
    Rivals alongside existing Apex Legends and Fortnite events. It became clear
    that the brand identity needed an evolution to reflect its growing scope
    while maintaining its underdog, grassroots appeal.
  </p>
  <p>
    My role was to lead the creative vision for this refresh, ensuring that the
    new identity remained authentic to the Proving Grounds legacy while adapting
    the brand to use a scalable, animated design system fully adaptable across
    broadcast, social, and live events.
  </p>
</div>

<video autoplay loop muted playsinline>
  <source
    src="/assets/img/projects/pg2025/PG2025_lockup.webm"
    type="video/webm"
  />
  <source
    src="/assets/img/projects/pg2025/PG2025_lockup_h264_crf23.mp4"
    type="video/mp4"
  />
  Your browser does not support the video tag.
</video>

<div>
  <h2>Strategic Goals</h2>
  <p class="big">Modernize the Brand Without Losing Its Identity</p>
  <div class="side-by-side">
    <p>
      1. Retain the core Proving Grounds branding, colors, and logo while
      introducing a new design language that feels fresh, modular, and
      future-proof.
    </p>
    <p>
      2. Establish a cohesive motion system that elevates the broadcast
      experience and keeps production flexible across Twitch, YouTube, and
      social media.
    </p>
    <p>
      3. Ensure that the brand is instantly recognizable on social media, live
      streams, and tournament overlays—driving stronger engagement across
      platforms.
    </p>
  </div>
</div>

<video autoplay loop muted playsinline>
  <source
    src="/assets/img/projects/pg2025/Starting Soon Example.webm"
    type="video/webm"
  />
  <source
    src="/assets/img/projects/pg2025/Starting Soon Example_h264_crf23.mp4"
    type="video/mp4"
  />
  Your browser does not support the video tag.
</video>

<div>
  <h2>Creative Execution</h2>
  <p class="big">
    A Modular, High-Impact Identity where Street Art meets Esports.
  </p>
  <div class="side-by-side">
    <div>
      <h4>Underdog Mentality</h4>
      <p>
        To capture the classic storyline of the underdog rising to the top, we
        introduced an alternate PG icon inspired by street art culture. This
        subtle evolution appeals to the tournament’s grassroots community while
        reinforcing its competitive, high-energy atmosphere.
      </p>
    </div>

    <p>
      Past Meets Future – Inspired by early 2000s futuristic design, floating
      glass distortions add a tactile, high-end feel while remaining evergreen
      assets that work across both live broadcasts and social media campaigns.
    </p>
    <div>
      <p>
        Motion-Driven Brand System – The refreshed package incorporates a
        shifting monochrome logo loop that keeps visuals dynamic without
        overpowering tournament broadcasts. This system ensures that branding
        remains strong and cohesive without distracting from gameplay.
      </p>
    </div>
  </div>
  <div class="side-by-side"></div>
</div>

<video autoplay loop muted playsinline>
  <source
    src="/assets/img/projects/pg2025/klutchshot feb Clip Comp v2.webm"
    type="video/webm"
  />
  <source
    src="/assets/img/projects/pg2025/klutchshot feb Clip Comp v2_h264_crf21.mp4"
    type="video/mp4"
  />
  Your browser does not support the video tag.
</video>
<video autoplay loop muted playsinline>
  <source
    src="/assets/img/projects/pg2025/PG Stinger Example.webm"
    type="video/webm"
  />
  <source
    src="/assets/img/projects/pg2025/PG Stinger Example_h264_crf23.mp4"
    type="video/mp4"
  />
  Your browser does not support the video tag.
</video>

<div class="side-by-side">
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/pg2025/PG_WatchParty_01-30-2025_Announcement.webm"
      type="video/webm"
    />
    <source
      src="/assets/img/projects/pg2025/PG_WatchParty_01-30-2025_Announcement_h264_crf23.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>

  <div>
    <p class="big">
      Whether on Twitch or your social timeline, Proving Grounds stands out.
    </p>
    <p>
      A dedicated square-format motion background was developed for social media
      announcements, ensuring that Proving Grounds content remains consistent
      across platforms, with a format that allows for easy integration of player
      photos and influencer promotions.
    </p>
  </div>
</div>

<video autoplay loop muted playsinline>
  <source
    src="/assets/img/projects/pg2025/Primary Endpage.webm"
    type="video/webm"
  />
  <source
    src="/assets/img/projects/pg2025/Primary Endpage_h264_crf23.mp4"
    type="video/mp4"
  />
  Your browser does not support the video tag.
</video>

<div class="project__credits">
  <div class="project__credits-L">
    <h3>Credits</h3>
  </div>

  <div class="project__credits-R">
    <ul>
      <li>Logo Design & Style: {% include "includes/mateo.html" %}</li>
    </ul>
  </div>
</div>
