---
layout: "layouts/project.njk"
title: "#PG 2025 Refresh"
subtitle: "Motion Design System, Broadcast Design, Animation Direction"
video: "/assets/img/projects/pg2025/2025 PG Loop_h264_crf23.mp4"
image: "/assets/img/projects/pg2025/vlcsnap-2025-02-13-17h33m58s342.webp"
date: 2025-01-29
tags: "project"
scope: "Broadcast Animation"
feature: "yes"
---

<video autoplay loop muted playsinline>
  <source
    src="/assets/img/projects/pg2025/2025 PG Loop.webm"
    type="video/webm"
  />
  <source
    src="/assets/img/projects/pg2025/2025 PG Loop_h264_crf23.mp4"
    type="video/mp4"
  />
  Your browser does not support the video tag.
</video>

<h1 class="title">{{ title }}</h1>

<div class="project__info">
  <div class="project__info-L">
    <p class="big">
      Bringing a new edge to the Proving Grounds brand for 2025.
    </p>
  </div>

  <div class="project__info-R">
    <ul>
      <li>Animation Direction</li>
      <li>Motion Design System</li>
      <li>Broadcast Design</li>
    </ul>
  </div>
</div>

<video autoplay loop muted playsinline>
  <source
    src="/assets/img/projects/pg2025/PG2025_lockup.webm"
    type="video/webm"
  />
  <source
    src="/assets/img/projects/pg2025/PG2025_lockup_h264_crf23.mp4"
    type="video/mp4"
  />
  Your browser does not support the video tag.
</video>

<h2>Motion System</h2>

<div class="side-by-side">
  <div>
    <p class="big">
      Moving into 2025, Proving Grounds leaves the status quo behind.
    </p>
    <p>
      To maintain the longstanding Proving Grounds branding, we kept the
      original Proving Grounds logo and colors intact, while introducing an
      alternate, street art-inspired PG icon.
    </p>
  </div>

  <div>
    <p>
      This updated design emphasizes motion and modularity. A single background
      motion loop, featuring a shifting Proving Grounds logo in monochrome, ties
      the package together and keeps production value high without distracting.
    </p>
    <p>
      The package is built with the orange accent of Proving Grounds in mind,
      allowing important elements to easily stand out against the monochrome
      design by highlighting them in color.
    </p>
    <p>
      A new addition to the Proving Grounds design is floating glass elements,
      which are rendered in 3D and distort items behind them. They're used to
      bring a new touch to the brand that feels organic and futuristic, evoking
      a bit of 2000-era futuristic glass. Evergreen assets like the broadcast
      intermission screen feature animated, pre-rendered versions of these glass
      elements spinning in place.
    </p>
  </div>
</div>

<div class="side-by-side">
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/pg2025/Alt PG Logo.webm"
      type="video/webm"
    />
    <source
      src="/assets/img/projects/pg2025/Alt PG Logo_h264_crf23.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/pg2025/Starting Soon Example.webm"
      type="video/webm"
    />
    <source
      src="/assets/img/projects/pg2025/Starting Soon Example_h264_crf23.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
</div>
<div class="side-by-side">
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/pg2025/klutchshot feb Clip Comp v2.webm"
      type="video/webm"
    />
    <source
      src="/assets/img/projects/pg2025/klutchshot feb Clip Comp v2_h264_crf21.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/pg2025/PG Stinger Example.webm"
      type="video/webm"
    />
    <source
      src="/assets/img/projects/pg2025/PG Stinger Example_h264_crf23.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
</div>

<div class="side-by-side">
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/pg2025/PG_WatchParty_01-30-2025_Announcement.webm"
      type="video/webm"
    />
    <source
      src="/assets/img/projects/pg2025/PG_WatchParty_01-30-2025_Announcement_h264_crf23.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>

  <div>
    <h2>Social Media</h2>

    <p>
      Optimized for social media, a square version of the Proving Grounds 2025
      motion background allows designers to quickly create social media
      announcements that integrate seamlessly with other #PG 2025 visuals, while
      looking great on the timeline.
    </p>
  </div>
</div>

<div class="project__credits">
  <div class="project__credits-L">
    <h3>Credits</h3>
  </div>

  <div class="project__credits-R">
    <ul>
      <li>Logo Design & Style: {% include "includes/mateo.html" %}</li>
    </ul>
  </div>
</div>
