---
layout: "layouts/project.njk"
title: "Porsche 911 Turbo Invitational"
videoID: "1025976777"
subtitle: "
Animation Direction,
Broadcast Design,
Trailer Direction
"
video: "/assets/img/videos/porsche_main_loop (1080p).mp4"
image: "/assets/img/projects/porsche-911/screencaps/porsche-bg.webp"
date: 2023-12-15
tags: "project"
scope: "Brand Identity"
feature: "yes"
---

<div style="padding: 56.25% 0 0 0; position: relative">
  <iframe
    src="https://player.vimeo.com/video/1025976777?autoplay=1&loop=1&muted=1&badge=0&autopause=0&controls=0&player_id=0&app_id=58479"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="Porsche Main Loop"
  >
  </iframe>
</div>

<h1 class="title">{{ title }}</h1>

<div class="project__info">
  <div class="project__info-L">
    <p class="big">
      Porsche and Rocket League teamed up to bring the Porsche 911 to the game,
      and kicked it all off with a flashy $50,000 tournament.
    </p>
  </div>

  <div class="project__info-R">
    <ul>
      <li>Animation Direction</li>
      <li>Broadcast Design</li>
      <li>Announcement Trailer</li>
    </ul>
  </div>
</div>

<video autoplay loop muted playsinline>
  <source
    src="/assets/img/projects/porsche-911/videos/Porsche Loop 5.webm"
    type="video/webm"
  />
  <source
    src="/assets/img/projects/porsche-911/videos/Porsche Loop 5.mp4"
    type="video/mp4"
  />
  Your browser does not support the video tag.
</video>

<div class="side-by-side">
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/porsche-911/videos/Porsche Casters.webm"
      type="video/webm"
    />
    <source
      src="/assets/img/projects/porsche-911/videos/Porsche Casters.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/porsche-911/videos/Porsche Socials.webm"
      type="video/webm"
    />
    <source
      src="/assets/img/projects/porsche-911/videos/Porsche Socials.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
</div>
<h2>Design</h2>
<div class="side-by-side">
  <p class="big">
    Vibrant colors accent a glitchy cyberpunk motion texture for a visual feast
    of a broadcast.
  </p>
  <p>
    Taking direction from the Rocket League art team’s seasonal branding, I
    crafted a looping visual glitch to serve as the background visual for this
    high energy tournament design. To create cohesion, this visual texture was
    used across various broadcast screens and event social media alike.
  </p>
</div>

<div class="side-by-side">
  <div class="wrapper-smaller"></div>
</div>

<div style="padding: 56.25% 0 0 0; position: relative">
  <iframe
    src="https://player.vimeo.com/video/886522615?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="Porsche 911 Turbo Invitational Promo"
  ></iframe>
</div>

<h2>Animation</h2>
<div class="side-by-side">
  <p class="big">
    A high-concept 3D announcement trailer to kick off a high-octane event.
  </p>
  <p>
    With just a few weeks to put together an announcement trailer, I crafted a
    3D animation concept that featured the Porsche 911 Turbos kicking off a 2v2
    match as the ball drops into the arena, while highlighting the iconic
    Porsche emblem on the cars. Although time constraints ultimately wouldn't
    allow for the completion of this animation in time for the event, this
    unfinished concept represents my original vision for the video.
  </p>
</div>

<div class="side-by-side">
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/porsche-911/videos/Porsche Loop 3.webm"
      type="video/webm"
    />
    <source
      src="/assets/img/projects/porsche-911/videos/Porsche Loop 3.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>

  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/porsche-911/videos/Porsche Loop 2.webm"
      type="video/webm"
    />
    <source
      src="/assets/img/projects/porsche-911/videos/Porsche Loop 2.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
</div>
<div class="side-by-side">
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/porsche-911/videos/Porsche Loop 4.webm"
      type="video/webm"
    />
    <source
      src="/assets/img/projects/porsche-911/videos/Porsche Loop 4.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>

  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/porsche-911/videos/Porsche Loop 1.webm"
      type="video/webm"
    />
    <source
      src="/assets/img/projects/porsche-911/videos/Porsche Loop 1.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>

  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/porsche-911/videos/Porsche Stinger.webm"
      type="video/webm"
    />
    <source
      src="/assets/img/projects/porsche-911/videos/Porsche Stinger.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
</div>

<h2>Broadcast Design</h2>
<div class="side-by-side">
  <div>
    <p class="big">A seamless visual experience from start to finish.</p>
  </div>
  <div>
    <p>
      Each screen was carefully crafted to maintain the sleek yet edgy vibe that
      fit both Porsche’s brand and Rocket League’s audience. A custom overlay,
      integrated with the Rocket League API, allowed for real-time updates and
      live stats, blending dynamic visuals with crucial game information to keep
      fans fully engaged in the action.
    </p>
  </div>
</div>

<div class="project__credits">
  <div class="project__credits-L">
    <h3>Credits</h3>
  </div>

  <div class="project__credits-R">
    <ul>
      <li>Design: {% include "includes/mateo.html" %}</li>
    </ul>
  </div>
</div>
