---
layout: "layouts/project.njk"
title: "Proving Grounds"
videoID: "1025757611"
subtitle: "Motion Design System, Broadcast Design, Animation Direction"
video: "/assets/img/videos/pg_previewloop (1080p).mp4"
image: "/assets/img/projects/proving-grounds/PG Imgs/apexladies.webp"
date: 2024-01-01
tags: "project"
scope: "Broadcast Animation"
feature: "no"
---

<div style="padding: 56.25% 0 0 0; position: relative">
  <iframe
    src="https://player.vimeo.com/video/1025757611?autoplay=1&muted=1&loop=1&background=1"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="PG_previewLoop"
  ></iframe>
</div>

<h1 class="title">{{ title }}</h1>

<div class="project__info">
  <div class="project__info-L">
    <p class="big">
      The long-running esports tournament franchise Proving Grounds was due for
      a modern makeover, complete with an edgy new motion system.
    </p>
  </div>

  <div class="project__info-R">
    <ul>
      <li>Motion Design System</li>
      <li>Broadcast Design</li>
      <li>Announcement Trailer</li>
    </ul>
  </div>
</div>

<video autoplay loop muted playsinline>
  <source
    src="/assets/img/projects/proving-grounds/PG Logo Loop.webm"
    type="video/webm"
  />
  <source
    src="/assets/img/projects/proving-grounds/PG Logo Loop.mp4"
    type="video/mp4"
  />
  Your browser does not support the video tag.
</video>
<h2>Design</h2>
<div class="side-by-side">
  <p class="big">
    Building on the original branding and logo, I worked with designer Mateo
    Julia-Wise on this refresh, leaning deeply on streaks of color, a modern
    tech core, and bold, frenetic animations.
  </p>
  <p></p>
</div>

<div class="side-by-side">
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/proving-grounds/PG Sizzle Loop 1.webm"
      type="video/webm"
    />
    <source
      src="/assets/img/projects/proving-grounds/PG Sizzle Loop 1.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/proving-grounds/PG Sizzle Loop 2.webm"
      type="video/webm"
    />
    <source
      src="/assets/img/projects/proving-grounds/PG Sizzle Loop 2.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/proving-grounds/PG Sizzle Loop 3.webm"
      type="video/webm"
    />
    <source
      src="/assets/img/projects/proving-grounds/PG Sizzle Loop 3.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
</div>

<div class="side-by-side">
  <div class="wrapper-smaller">
    <div style="padding: 75% 0 0 0; position: relative">
      <iframe
        src="https://player.vimeo.com/video/908806528?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
        frameborder="0"
        allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
        style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
        title="Proving Grounds Rebrand Reveal"
      ></iframe>
    </div>
  </div>

  <div>
    <h2>Animation</h2>

    <p>
      Combining noise and grain, mixed frame rates, and flashing patterns, I
      attempted to amplify the unapologetically intense style that captures the
      tournament's spirit. I directed a video promo to unveil the new refresh,
      signaling the tournament’s return for excited players.
    </p>

    <script
      async
      src="https://platform.twitter.com/widgets.js"
      charset="utf-8"
    ></script>
  </div>
</div>

<div class="side-by-side">
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/proving-grounds/PG Broadcast Loop 1.webm"
      type="video/webm"
    />
    <source
      src="/assets/img/projects/proving-grounds/PG Broadcast Loop 1.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/proving-grounds/PG_Leaderboard.webm"
      type="video/webm"
    />
    <source
      src="/assets/img/projects/proving-grounds/PG_Leaderboard.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
</div>
<div class="side-by-side">
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/proving-grounds/PG Casters.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/proving-grounds/Sting.webm"
      type="video/webm"
    />
    <source
      src="/assets/img/projects/proving-grounds/Sting.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
</div>

<h2>Motion System</h2>

<div class="side-by-side">
  <p class="big">
    A versatile motion system creates a cohesive and instantly recognizable
    style for Proving Grounds social media and broadcasts alike.
  </p>
  <p>
    For live broadcasts, social media assets, website elements, and anything
    in-between, my goal was to make the new Proving Grounds animations instantly
    recognizable no matter the screen size or platform.
  </p>
</div>
<div class="side-by-side">
  <blockquote class="twitter-tweet">
    <p lang="en" dir="ltr">
      🚨 New Year, New
      <a
        href="https://twitter.com/hashtag/ProvingGrounds?src=hash&amp;ref_src=twsrc%5Etfw"
        >#ProvingGrounds</a
      >
      🚨<br /><br />🎟️ Multiple Tournaments Per Month<br />🎮 Variety of Games
      <br />🫂 Hosted For The Community<br />💰 $500+ Prize Pools<br /><br />More
      details and how to sign up below ⬇️
      <a href="https://t.co/PUHQ4QoK5d">pic.twitter.com/PUHQ4QoK5d</a>
    </p>
    &mdash; BoomTV (@boomtv)
    <a
      href="https://twitter.com/boomtv/status/1745541610023121152?ref_src=twsrc%5Etfw"
      >January 11, 2024</a
    >
  </blockquote>
  <blockquote class="twitter-tweet">
    <p lang="en" dir="ltr">
      Announcing the FIRST Invite Only
      <a
        href="https://twitter.com/hashtag/ProvingGrounds?src=hash&amp;ref_src=twsrc%5Etfw"
        >#ProvingGrounds</a
      >
      Marvel Rivals Tournament! 🦸<br /><br />📅 December 20th @ 4:00 PM EST<br />💰
      $500 Prize Pool<br />🦸 6v6 Bracket Format<br /><br />Tag your team of 6
      below for a chance to be invited 👀
      <a href="https://t.co/TIwyN6GjLQ">pic.twitter.com/TIwyN6GjLQ</a>
    </p>
    &mdash; BoomTV (@boomtv)
    <a
      href="https://twitter.com/boomtv/status/1868834375187808765?ref_src=twsrc%5Etfw"
      >December 17, 2024</a
    >
  </blockquote>
  <script
    async
    src="https://platform.twitter.com/widgets.js"
    charset="utf-8"
  ></script>
  <blockquote class="twitter-tweet">
    <p lang="en" dir="ltr">
      Announcing Our Second Last Apex Legends
      <a
        href="https://twitter.com/hashtag/ProvingGrounds?src=hash&amp;ref_src=twsrc%5Etfw"
        >#ProvingGrounds</a
      >
      Ladies Night of The Year 🦃<br /><br />📅 November 8th @ 6:00 PM ET<br />💵
      $500 Prize Pool<br />🌎 Open Globally - Virginia Host<br /><br />✅
      Register your team here 👉
      <a href="https://t.co/kosO97nYA0">https://t.co/kosO97nYA0</a>
      <a href="https://t.co/SblVLeFB5J">pic.twitter.com/SblVLeFB5J</a>
    </p>
    &mdash; BoomTV (@boomtv)
    <a
      href="https://twitter.com/boomtv/status/1853890047407472774?ref_src=twsrc%5Etfw"
      >November 5, 2024</a
    >
  </blockquote>
  <script
    async
    src="https://platform.twitter.com/widgets.js"
    charset="utf-8"
  ></script>
</div>
<div class="project__credits">
  <div class="project__credits-L">
    <h3>Credits</h3>
  </div>

  <div class="project__credits-R">
    <ul>
      <li>Logo Design & Style: {% include "includes/mateo.html" %}</li>
    </ul>
  </div>
</div>
