---
layout: "layouts/project.njk"
title: "Proving Grounds"
videoID: "1025757611"
subtitle: "Motion Design System, Broadcast Design, Animation Direction"
video: "/assets/img/videos/pg_previewloop (1080p).mp4"
image: "/assets/img/projects/proving-grounds/PG Imgs/apexladies.webp"
date: 2024-01-01
tags: "project"
scope: "Broadcast Animation"
feature: "yes"
---

<div style="padding: 56.25% 0 0 0; position: relative">
  <iframe
    src="https://player.vimeo.com/video/1025757611?autoplay=1&muted=1&loop=1&background=1"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="PG_previewLoop"
  ></iframe>
</div>

<h1 class="title">{{ title }}</h1>

<div class="project__info">
  <div class="project__info-L">
    <p class="big">
      The long-running esports tournament franchise Proving Grounds was due for
      a modern makeover, complete with an edgy new motion system.
    </p>
  </div>

  <div class="project__info-R">
    <ul>
      <li>Motion Design System</li>
      <li>Broadcast Design</li>
      <li>Announcement Trailer</li>
    </ul>
  </div>
</div>

<video autoplay loop muted playsinline>
  <source
    src="/assets/img/projects/proving-grounds/PG Logo Loop.webm"
    type="video/webm"
  />
  <source
    src="/assets/img/projects/proving-grounds/PG Logo Loop.mp4"
    type="video/mp4"
  />
  Your browser does not support the video tag.
</video>
<h2>Design</h2>
<div class="side-by-side">
  <p class="big">
    Building on the original branding and logo, I worked with designer Mateo
    Julia-Wise to refresh the brand with streaks of color, a modern tech core,
    and bold, frenetic animations.
  </p>
  <p></p>
</div>

<div class="side-by-side">
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/proving-grounds/PG Sizzle Loop 1.webm"
      type="video/webm"
    />
    <source
      src="/assets/img/projects/proving-grounds/PG Sizzle Loop 1.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/proving-grounds/PG Sizzle Loop 2.webm"
      type="video/webm"
    />
    <source
      src="/assets/img/projects/proving-grounds/PG Sizzle Loop 2.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/proving-grounds/PG Sizzle Loop 3.webm"
      type="video/webm"
    />
    <source
      src="/assets/img/projects/proving-grounds/PG Sizzle Loop 3.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
</div>

<div class="side-by-side">
  <div class="wrapper-smaller">
    <div style="padding: 75% 0 0 0; position: relative">
      <iframe
        src="https://player.vimeo.com/video/908806528?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
        frameborder="0"
        allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
        style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
        title="Proving Grounds Rebrand Reveal"
      ></iframe>
    </div>
  </div>

  <div>
    <h2>Animation</h2>
    <p class="big">
      A bold new animation package to reshape Proving Grounds for the future,
      setting a fierce tone for cutthroat esports competitions.
    </p>
    <p>
      Combining noise and grain, mixed frame rates, and flashing patterns
      amplifies the unapologetic, intense style that captures the tournament's
      spirit. A 30-second announcement revealed the new refresh, signaling the
      tournament’s return with a new edge.
    </p>
  </div>
</div>

<div class="side-by-side">
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/proving-grounds/PG Broadcast Loop 1.webm"
      type="video/webm"
    />
    <source
      src="/assets/img/projects/proving-grounds/PG Broadcast Loop 1.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/proving-grounds/PG_Leaderboard.webm"
      type="video/webm"
    />
    <source
      src="/assets/img/projects/proving-grounds/PG_Leaderboard.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
</div>
<div class="side-by-side">
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/proving-grounds/PG Broadcast Loop 2.webm"
      type="video/webm"
    />
    <source
      src="/assets/img/projects/proving-grounds/PG Broadcast Loop 2.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/proving-grounds/Sting.webm"
      type="video/webm"
    />
    <source
      src="/assets/img/projects/proving-grounds/Sting.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
</div>

<h2>Broadcast Design</h2>

<div class="side-by-side">
  <p class="big">
    A versatile motion system creates a cohesive and instantly recognizable
    style for Proving Grounds social media and broadcasts alike.
  </p>
  <p>
    The consistent style strengthens Proving Grounds broadcasts on any platform,
    allowing audiences to immediately connect with the dynamic visual language
    wherever they encounter it.
  </p>
</div>
<div class="project__credits">
  <div class="project__credits-L">
    <h3>Credits</h3>
  </div>

  <div class="project__credits-R">
    <ul>
      <li>Logo Design & Style: {% include "includes/mateo.html" %}</li>
    </ul>
  </div>
</div>
