---
layout: "layouts/project.njk"
title: "Staring At The Sun"
video: "/assets/img/projects/sats/sungazer art.mp4"
image: "/assets/img/projects/sats/sungazer_art_HD_0002.webp"
subtitle: "Animation Direction, Motion Design, Art Direction"
date: 2025-01-13
tags: "project"
feature: "yes"
---

<video autoplay loop muted playsinline>
  <source src="/assets/img/projects/sats/sungazer art.mp4" type="video/mp4" />
  Your browser does not support the video tag.
</video>
<h1 class="title">{{ title }}</h1>

<div class="project__info">
  <div class="project__info-L">
    <p>
      For their debut album, I've been working with rock band Staring at the Sun
      to create a series of visuals that capture the sound and themes of their
      music. For the first single off their upcoming album, Sungazer, I created
      animated album artwork and a set of motion graphics displaying cryptic
      messages, as we work to build lore around the band's music as part of an
      ongoing multimedia project.
    </p>

    <p>
      The visuals for Sungazer are only the first small step of this project,
      and I plan to update this page as we continue to release more artwork
      together. For now, check out the band's debut single
      <a
        href="https://distrokid.com/hyperfollow/staringatthesun2/sungazer-2/"
        target="_blank"
        >on your music platform of choice!</a
      >
    </p>
  </div>

  <div class="project__info-R">
    <ul>
      <li>Animation Direction</li>
      <li>Motion Design</li>
      <li>Art Direction</li>
    </ul>
  </div>
</div>
<figure>
  <div class="side-by-side">
    <img src="/assets/img/projects/sats/single-cover-text.webp" alt="" />
    <img src="/assets/img/projects/sats/single-cover-notext.webp" alt="" />
  </div>
  <figcaption>Sungazer - Single Artwork</figcaption>
</figure>
<iframe
  style="border-radius: 12px; margin: 0 auto"
  src="https://open.spotify.com/embed/track/6tAxiMKuhBx8AMGca13PN0?utm_source=generator"
  width="75%"
  height="352"
  frameBorder="0"
  allowfullscreen=""
  allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
  loading="lazy"
></iframe>
<div class="side-by-side">
  <img src="/assets/img/projects/sats/viewport1.jpg" alt="" />
  <img src="/assets/img/projects/sats/viewport2.jpg" alt="" />
</div>
<div class="side-by-side">
  <figure>
    <video autoplay loop muted playsinline>
      <source
        src="/assets/img/projects/sats/Sungazer_Canvas_HD.mp4"
        type="video/mp4"
      />
      Your browser does not support the video tag.
    </video>
    <figcaption>Sungazer - Spotify Canvas Loop</figcaption>
  </figure>
  <figure>
    <video autoplay loop muted playsinline>
      <source
        src="/assets/img/projects/sats/Sungazer_FlowerLoop_h264_crf23.mp4"
        type="video/mp4"
      />
      Your browser does not support the video tag.
    </video>
    <figcaption>Alternate Canvas Loop</figcaption>
  </figure>
</div>

<div class="project__credits-R">
  <ul>
    <li>Lettering: Zam Ortega</li>
  </ul>
</div>
