---
layout: "layouts/project.njk"
title: "Tfue Tuesday"
videoID: "1026622499"
subtitle: "Animation Direction, Motion Design, Trailer Direction, 3D Renders"
video: "/assets/img/videos/tfueloopv2.mp4"
image: "/assets/img/projects/tfue-tuesday/tfue-thumb.jpg"
date: 2023-11-21
tags: "project"
scope: "Brand Identity"
feature: "yes"
---

<div style="padding: 56.25% 0 0 0; position: relative">
  <iframe
    src="https://player.vimeo.com/video/1026622499?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="Tfue Tuesday Announcement Teaser"
  ></iframe>
</div>

<h1 class="title">{{ title }}</h1>

<div class="project__info">
  <div class="project__info-L">
    <p class="big">
      As one of Fortnite’s top influencers, Tfue wanted to debut his own
      high-stakes $100,000 tournament in partnership with Fortnite and Epic
      Games.
    </p>
    <p>
      I approached his announcement trailer with 3D modeling and animation to
      amplify and reveal the vibrant comic book-inspired visuals we developed
      for the event. We continued to develop that style for the broadcast
      package, crafting a seamless look that would entertain Tfue and fans
      alike.
    </p>
  </div>

  <div class="project__info-R">
    <ul>
      <li>Animation Direction</li>
      <li>Motion Design</li>
      <li>Trailer Direction</li>
      <li>3D Renders</li>
    </ul>
  </div>
</div>

<video autoplay loop muted playsinline>
  <source
    src="/assets/img/projects/tfue-tuesday/Tfue 1.webm"
    type="video/webm"
  />
  <source
    src="/assets/img/projects/tfue-tuesday/Tfue 1_h264_crf23.mp4"
    type="video/mp4"
  />
  Your browser does not support the video tag.
</video>

<video autoplay loop muted playsinline>
  <source
    src="/assets/img/projects/tfue-tuesday/Tfue 2.webm"
    type="video/webm"
  />
  <source
    src="/assets/img/projects/tfue-tuesday/Tfue 2_h264_crf23.mp4"
    type="video/mp4"
  />
  Your browser does not support the video tag.
</video>

<video autoplay loop muted playsinline>
  <source
    src="/assets/img/projects/tfue-tuesday/Tfue 3.webm"
    type="video/webm"
  />
  <source
    src="/assets/img/projects/tfue-tuesday/Tfue 3_h264_crf23.mp4"
    type="video/mp4"
  />
  Your browser does not support the video tag.
</video>

<h2>Vol. 2: Most Wanted</h2>
<div class="side-by-side">
  <p class="big">
    Every good comic storyline needs a second chapter. After the resounding
    success of Tfue Tuesday, Tfue was eager for round two, and my team was ready
    to deliver.
  </p>
  <p>
    We adapted our original branding to align with Fortnite’s "Most Wanted"
    event, working closely with Epic Games on brand alignment and style. With
    just a week to develop this event, we prioritized utilizing existing assets
    and refining the branding to remain recognizably Tfue Tuesday, while
    creating a visual distinction that would excite fans for the next chapter in
    the saga.
  </p>
</div>

<video autoplay loop muted playsinline>
  <source
    src="/assets/img/projects/tfue-tuesday/Tfue 5.webm"
    type="video/webm"
  />
  <source
    src="/assets/img/projects/tfue-tuesday/Tfue 5_h264_crf23.mp4"
    type="video/mp4"
  />
  Your browser does not support the video tag.
</video>

<video autoplay loop muted playsinline>
  <source
    src="/assets/img/projects/tfue-tuesday/Tfue 6.webm"
    type="video/webm"
  />
  <source
    src="/assets/img/projects/tfue-tuesday/Tfue 6_h264_crf23.mp4"
    type="video/mp4"
  />
  Your browser does not support the video tag.
</video>

<div class="side-by-side">
  <figure>
    <img src="/assets/img/projects/tfue-tuesday/Tfue2-Closeup.webp" alt="" />
    <figcaption>
      BoomTV's Teaser for Vol. 2, featuring an original 3D render giving a peek
      at the new style.
    </figcaption>
  </figure>

  <figure>
    <img
      src="/assets/img/projects/tfue-tuesday/Screenshot 2025-01-29 141047.webp"
      alt=""
    />
    <figcaption>Screenshot of Tfue's announcement post.</figcaption>
  </figure>
</div>

<h2>Vol. 3: The Return</h2>

<div class="side-by-side">
  <p class="big">
    After taking an extended hiatus from the streaming world, Tfue returned to
    the spotlight with the third installation of Tfue Tuesday, just in time for
    Fortnite's OG event.
  </p>
  <p>
    I aimed to craft an announcement trailer that evoked a melodramatic comic
    book storyline - framing the story around his dramatic exit from the
    streaming world, and triumphant return. Working closely with Tfue, we pulled
    scenes from his viral break announcement, transforming them into a graphic
    novel-inspired journey that announced his comeback and the tournament all at
    once.
  </p>
</div>

<div style="padding: 56.25% 0 0 0; position: relative">
  <iframe
    src="https://player.vimeo.com/video/885442280?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="Tfue Tuesday Returns Promo"
  ></iframe>
</div>

<img
  src="/assets/img/projects/tfue-tuesday/$100,000 Tfue Tuesday featuring Fortnite ｜ The RETURN of Tfue ｜ !leaderboard [886208917].mp4.00_00_07_27.Still001.webp"
  alt=""
/>

<video autoplay loop muted playsinline>
  <source
    src="/assets/img/projects/tfue-tuesday/Tfue 4.webm"
    type="video/webm"
  />
  <source
    src="/assets/img/projects/tfue-tuesday/Tfue 4_h264_crf23.mp4"
    type="video/mp4"
  />
  Your browser does not support the video tag.
</video>

<div class="side-by-side">
  <img
    src="/assets/img/projects/tfue-tuesday/$100,000 Tfue Tuesday featuring Fortnite ｜ The RETURN of Tfue ｜ !leaderboard [1539748214].mp4.00_00_03_41.Still002.webp"
    alt="Leaderboard Example, showing a white leaderboard with comic-inspired lettering next to the Tfue Tuesday Returns logo, on a sky blue background with a half-tone graphic novel effect."
  />
  <img
    src="/assets/img/projects/tfue-tuesday/True Tuesday Returns Stinger [2874168307].mp4.00_00_05_03.Still001.webp"
    alt=""
  />
</div>

<div class="project__credits">
  <div class="project__credits-L">
    <h3>Credits</h3>
  </div>

  <div class="project__credits-R">
    <ul>
      <li>Branding & Style: {% include "includes/mateo.html" %}</li>
    </ul>
  </div>
</div>
