---
layout: "layouts/project.njk"
title: "Tfue Tuesday"
videoID: "1026622499"
subtitle: "Animation Direction, Motion Design, Trailer Direction, 3D Renders"
video: "/assets/img/videos/tfue_tuesday_announcement_teaser (1080p).mp4"
image: "/assets/img/projects/tfue-tuesday/Tfue2-Closeup.webp"
date: 2023-02-07
tags: "project"
scope: "Brand Identity"
feature: "yes"
---

<div style="padding: 56.25% 0 0 0; position: relative">
  <iframe
    src="https://player.vimeo.com/video/1026622499?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="Tfue Tuesday Announcement Teaser"
  ></iframe>
</div>

<h1 class="title">{{ title }}</h1>

<div class="project__info">
  <div class="project__info-L">
    <p class="big">
      As one of Fortnite’s top influencers, Tfue joined forces with Epic Games
      to launch a high-stakes $100,000 tournament. My goal was to create an
      announcement that captured the energy of the event, embracing the bold
      comic-inspired visuals and amplifying Tfue Tuesday’s impact in style.
    </p>
  </div>

  <div class="project__info-R">
    <ul>
      <li>Animation Direction</li>
      <li>Motion Design</li>
      <li>Trailer Direction</li>
      <li>3D Renders</li>
    </ul>
  </div>
</div>

<div class="side-by-side">
  <img src="/assets/img/projects/tfue-tuesday/Tfue2-Closeup.webp" alt="" />

  <div class="project__info">
    <div class="project__info-L">
      <h2>Most Wanted</h2>

      <p>
        After the success of Tfue Tuesday, Tfue and Epic Games teamed up for a
        second round alongside Fortnite’s "Most Wanted" event. With just a week
        to design an asset, we redesigned the Tfue Tuesday cover for Volume 2,
        and I created a new set of 3D renders to help BoomTV and Tfue promote
        the event!
      </p>
      <figure>
        <img
          src="/assets/img/projects/tfue-tuesday/Screenshot 2025-01-29 141047.webp"
          alt=""
        />
        <figcaption>
          Twitter screenshot of Tfue's announcement tweet.
        </figcaption>
      </figure>
    </div>
  </div>
</div>

<div style="padding: 56.25% 0 0 0; position: relative">
  <iframe
    src="https://player.vimeo.com/video/885442280?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="Tfue Tuesday Returns Promo"
  ></iframe>
</div>

<h2>Vol. 3: The Return</h2>

<div class="side-by-side">
  <p class="big">
    After taking an extended hiatus from the streaming world, Tfue returned to
    the spotlight with the third installation of Tfue Tuesday, just in time for
    Fortnite's OG event.
  </p>
  <p>
    I aimed to craft a video that harkened back to the comic book style of Tfue
    Tuesday, while framing the story around his dramatic hiatus from the
    streaming world, and triumphant return. Working closely with Tfue, I pulled
    scenes from his viral break announcement, transforming them into a graphic
    novel-inspired journey that announced his comeback and the tournament all at
    once.
  </p>
</div>

<div class="project__credits">
  <div class="project__credits-L">
    <h3>Credits</h3>
  </div>

  <div class="project__credits-R">
    <ul>
      <li>Branding & Style: {% include "includes/mateo.html" %}</li>
    </ul>
  </div>
</div>
