---
layout: "layouts/project.njk"
title: "Tfue"
videoID: "1026622499"
subtitle: "Capturing the comic book storyline of Fortnite's Top Influencer."
video: "/assets/img/videos/tfueloopv2.mp4"
image: "/assets/img/projects/tfue-tuesday/tfue-thumb.jpg"
date: 2023-03-01
tags: "project"
scope: "Brand Identity"
feature: "yes"
---

<h1 class="title">{{ title }}</h1>

<div style="padding: 56.25% 0 0 0; position: relative">
  <iframe
    src="https://player.vimeo.com/video/1026622499?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="Tfue Tuesday Announcement Teaser"
  ></iframe>
</div>

<div>
  <h2>The Challenge</h2>

  <div class="side-by-side">
    <div>
      <p class="big">
        {{ subtitle }}
      </p>
    </div>
    <p>
      When Fortnite’s top influencer, Tfue, partnered with Epic Games to launch
      his own $100,000 tournament series, the event needed to be as visually
      dynamic as it was competitive. The challenge was to create a distinct,
      evolving brand identity that resonated with Tfue’s massive audience while
      maintaining the highest production quality across multiple tournaments.
      This would involve:
    </p>
  </div>

  <div class="side-by-side">
    <p>
      1. Developing a creative framework that was adaptable enough to feel fresh
      with each iteration, while grounding fans with a staple brand they could
      instantly recognize and share excitement about.
    </p>
    <p>
      2. Delivering stylish, high-impact visuals under tight deadlines, as
      things would move fast when working with Tfue – a household name-level
      streamer – who made plans with us on the fly with little structure or time
      to develop ideas.
    </p>
    <p>
      Driving a narrative through multiple events, keeping fans engaged with a
      series that was flashy, high-stakes, and ever-present, generating buzz and
      engagement around when the next entry would take place.
    </p>
  </div>
</div>

<video autoplay loop muted playsinline>
  <source
    src="/assets/img/projects/tfue-tuesday/Tfue 1.webm"
    type="video/webm"
  />
  <source
    src="/assets/img/projects/tfue-tuesday/Tfue 1_h264_crf23.mp4"
    type="video/mp4"
  />
  Your browser does not support the video tag.
</video>

<video autoplay loop muted playsinline>
  <source
    src="/assets/img/projects/tfue-tuesday/Tfue 2.webm"
    type="video/webm"
  />
  <source
    src="/assets/img/projects/tfue-tuesday/Tfue 2_h264_crf23.mp4"
    type="video/mp4"
  />
  Your browser does not support the video tag.
</video>

<video autoplay loop muted playsinline>
  <source
    src="/assets/img/projects/tfue-tuesday/Tfue 3.webm"
    type="video/webm"
  />
  <source
    src="/assets/img/projects/tfue-tuesday/Tfue 3_h264_crf23.mp4"
    type="video/mp4"
  />
  Your browser does not support the video tag.
</video>

<div>
  <h2>Creative Approach</h2>

  <div class="side-by-side">
    <p class="big">Inspiration from the Classics</p>
    <p>
      Drawing inspiration from the most iconic medium for ongoing narratives –
      comic books – the name Tfue Tuesday took shape as a catchy title for an
      event series that could span multiple volumes, like how comics release
      over multiple issues. The aesthetic translated seamlessly across broadcast
      graphics, trailers, and promotional assets, reinforcing the tournament’s
      legendary, high-stakes atmosphere.
    </p>
  </div>
</div>

<video autoplay loop muted playsinline>
  <source
    src="/assets/img/projects/tfue-tuesday/Tfue 5.webm"
    type="video/webm"
  />
  <source
    src="/assets/img/projects/tfue-tuesday/Tfue 5_h264_crf23.mp4"
    type="video/mp4"
  />
  Your browser does not support the video tag.
</video>

<video autoplay loop muted playsinline>
  <source
    src="/assets/img/projects/tfue-tuesday/Tfue 6.webm"
    type="video/webm"
  />
  <source
    src="/assets/img/projects/tfue-tuesday/Tfue 6_h264_crf23.mp4"
    type="video/mp4"
  />
  Your browser does not support the video tag.
</video>

<div class="side-by-side">
  <p class="big">Evolving the Brand Across Chapters</p>
  <p>
    Following the breakout success of Tfue Tuesday, Epic Games and Tfue reunited
    for a second event just one week later. For Vol. 2, aligning with Fortnite's
    "Most Wanted" event, I led a visual adaptaion of the original Tfue Tuesday
    branding that would maintain the Tfue Tuesday look and feel, while
    integrating new visual elements that aligned with the ongoing in-game event.
  </p>
</div>

<div class="side-by-side">
  <figure>
    <img src="/assets/img/projects/tfue-tuesday/Tfue2-Closeup.webp" alt="" />
    <figcaption>
      BoomTV's Teaser for Vol. 2, featuring an original 3D render giving a peek
      at the new style.
    </figcaption>
  </figure>

  <figure>
    <img
      src="/assets/img/projects/tfue-tuesday/Screenshot 2025-01-29 141047.webp"
      alt=""
    />
    <figcaption>Screenshot of Tfue's announcement post.</figcaption>
  </figure>
</div>

<div style="padding: 56.25% 0 0 0; position: relative">
  <iframe
    src="https://player.vimeo.com/video/885442280?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="Tfue Tuesday Returns Promo"
  ></iframe>
</div>

<div class="side-by-side">
  <p class="big">Turning Tfue’s Return Into a Cinematic Event</p>
  <p>
    After taking an extended hiatus from the streaming world, Tfue returned to
    the spotlight with the third installation of Tfue Tuesday, just in time for
    Fortnite's OG event. I aimed to craft a trailer that evoked a melodramatic
    comic book storyline - framing the story around his dramatic exit from the
    streaming world, and triumphant return. For Vol. 3, Tfue's return became a
    significant part of the storyline, making the event feel like a cultural
    moment in competitive Fortnite.
  </p>
</div>

<img
  src="/assets/img/projects/tfue-tuesday/$100,000 Tfue Tuesday featuring Fortnite ｜ The RETURN of Tfue ｜ !leaderboard [886208917].mp4.00_00_07_27.Still001.webp"
  alt=""
/>

<div>
  <h2>The Impact</h2>
  <div class="side-by-side">
    <p class="big">Fans Turned Up in Big Numbers</p>
    <p>
      Tfue Tuesday quickly became a cornerstone event in competitive Fortnite,
      drawing hundreds of thousands of viewers and cementing its status as one
      of the most talked-about tournaments in the scene. The explosive debut
      pulled in over 532,000 hours watched, with 156,000 peak viewers, setting
      the bar for the series’ success.
    </p>
  </div>
  <div class="side-by-side">
    <p class="big">An Adaptable, Iconic Creative Framework</p>
    <p>
      As the tournament evolved, so did the creative vision. Vol. 2 introduced a
      refreshed brand identity that aligned with Fortnite’s evolving seasonal
      themes, showing the Fortnite team that we designed for scale and
      adaptability, working under an accelerated timeline.
    </p>
  </div>
  <div class="side-by-side">
    <p class="big">Elevating Tfue to Larger-Than-Life Status</p>
    <p>
      By Vol. 3: The Return, the stakes had never been higher. Tfue’s highly
      anticipated comeback wasn’t just a competitive moment—it was a cultural
      event. Driven by a cinematic trailer that turned the tournament into a
      larger-than-life narrative, the final installment matched the debut’s
      record-breaking numbers, proving that esports branding, when done right,
      doesn’t just support an event, but becomes part of its identity.
    </p>
  </div>
</div>

<video autoplay loop muted playsinline>
  <source
    src="/assets/img/projects/tfue-tuesday/Tfue 4.webm"
    type="video/webm"
  />
  <source
    src="/assets/img/projects/tfue-tuesday/Tfue 4_h264_crf23.mp4"
    type="video/mp4"
  />
  Your browser does not support the video tag.
</video>

<div class="side-by-side">
  <img
    src="/assets/img/projects/tfue-tuesday/$100,000 Tfue Tuesday featuring Fortnite ｜ The RETURN of Tfue ｜ !leaderboard [1539748214].mp4.00_00_03_41.Still002.webp"
    alt="Leaderboard Example, showing a white leaderboard with comic-inspired lettering next to the Tfue Tuesday Returns logo, on a sky blue background with a half-tone graphic novel effect."
  />
  <img
    src="/assets/img/projects/tfue-tuesday/True Tuesday Returns Stinger [2874168307].mp4.00_00_05_03.Still001.webp"
    alt=""
  />
</div>

<div class="contributions">
  <h2>My Roles</h2>
  <ul>
    <li>Creative Leadership</li>
    <li>Design System Development</li>
    <li>Event Trailer Concepting</li>
    <li>3D Environment & Logo Development</li>
    <li>Production Oversight</li>
    <li>Animation Direction</li>
    <li>Post-Production Supervision</li>
  </ul>
</div>

<div class="project__credits">
  <div class="project__credits-L">
    <h3>Credits</h3>
  </div>

  <div class="project__credits-R">
    <ul>
      <li>Branding & Style: {% include "includes/mateo.html" %}</li>
    </ul>
  </div>
</div>
