---
layout: "layouts/project.njk"
title: "UFC"
videoID: "1026298680"
subtitle: "Video Editing, Motion Design"
video: "/assets/img/videos/UFC Loop_h264_crf23.mp4"
image: "/assets/img/projects/ufc/ufc-thumb.jpg"
date: 2021-01-01
tags: "project"
scope: "Brand Identity"
feature: "yes"
---

<h1 class="title">{{ title }}</h1>

<figure>
  <div style="padding: 56.25% 0 0 0; position: relative">
    <iframe
      src="https://player.vimeo.com/video/567221727?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
      title="UFC 252 Social Promo"
    ></iframe>
  </div>
  <figcaption>UFC 252: Miocic vs. Cormier III Promo</figcaption>
</figure>

<div class="project__info">
  <div class="project__info-L">
    <p class="big">Shaping the Story of Combat Sports.</p>
    <p>
      As a Post Producer for UFC Originals, I helped shape the narrative of some
      of the biggest fights in combat sports, delivering a mix of high-energy
      promos, long-form documentaries, and branded content partnerships. Every
      UFC project required deep research, archive pulls, and an understanding of
      fighter storylines, all while working within UFC’s signature promo style
      to create content that resonates with millions of fans worldwide.
    </p>
  </div>

  <div class="project__info-R">
    <ul>
      <li>Creative Direction</li>
      <li>Video Editing</li>
      <li>Motion Design</li>
    </ul>
  </div>
</div>

<figure>
  <div style="padding: 56.25% 0 0 0; position: relative">
    <iframe
      src="https://player.vimeo.com/video/567221189?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
      title="UFC 246 Social Promo"
    ></iframe>
  </div>
  <figcaption>UFC 246: McGregor vs. Cowboy Promo</figcaption>
</figure>

<div>
  <h2>Archive-Driven Editing with Cinematic Impact</h2>
  <div class="side-by-side">
    <p>
      UFC fight promos are about more than just highlights—they’re about
      storytelling that builds anticipation. Working with the UFC
      post-production team, I helped develop a range of broadcast and digital
      promos that set the stage for some of the promotion’s biggest pay-per-view
      events.
    </p>
  </div>
</div>

<!-- <figure>
  <div style="padding: 56.25% 0 0 0; position: relative">
    <iframe
      src="https://player.vimeo.com/video/643291054?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
      title="UFC Fight Night: Benavidez vs Figueiredo social promo"
    ></iframe>
  </div>
  <figcaption>UFC Fight Night: Benavidez vs Figueiredo promo</figcaption>
</figure> -->
<div class="youtube-container">
  <iframe
    src="https://www.youtube.com/embed/36rFx-vkSIA?si=zEJtLK-JS5p3ciz4"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>
</div>
<div>
  <h2>Deep Dives into the Fight Game</h2>
  <div class="side-by-side">
    <p>
      Beyond the promos, I worked on long-form UFC Originals programming,
      crafting in-depth features that explored fighters’ journeys, rivalries,
      and defining moments. Shows that included Fight Flashback, Greatest
      Fights, Profiles in Combat, and Top 10, with episodes released on UFC's
      Fight Pass services and broadcast on ESPN.
    </p>
    <p>
      With thousands of hours of fight footage, interviews, and press
      conferences to pull from, every project required curating the right
      moments to build a narrative that felt both dramatic and real.
    </p>
  </div>
</div>
<!-- 
<figure>
  <div style="padding: 56.25% 0 0 0; position: relative">
    <iframe
      src="https://player.vimeo.com/video/643291191?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
      title="UFC Fight Night: Till vs. Masvidal social promo"
    ></iframe>
  </div>
  <figcaption>UFC Fight Night: Till vs. Masvidal promo</figcaption>
</figure> -->

<div class="youtube-container">
  <iframe
    src="https://www.youtube.com/embed/8DCxRxqeqVw?si=bR39z-0ZKt5xcl9n"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>
</div>

<div>
  <h2>Social Media</h2>
  <div class="side-by-side">
    <p>
      The UFC served over 650 million fans across social platforms during my
      time with the organization. Part of my role was to help develop compelling
      social content for fans that would authentically represent the brand while
      engaging fight fans and new viewers alike.
    </p>
    <p>
      With thousands of hours of fight footage, interviews, and press
      conferences to pull from, every project required curating the right
      moments to build a narrative. Any upcoming event would require a slate of
      pre and post-event social content, with some from ongoing templates and
      many wholy original works.
    </p>
  </div>
  <div class="side-by-side">
    <p>
      Social content coordination I had a hand in involved developing motion
      graphics, video templates, and brand guidelines for ongoing social media
      franchises.
    </p>
    <p>
      A personal favorite project I developed and edited was "Yoel Beats to
      Study To," an original social asset depicting UFC legend Yoel Romero in
      the role of the Lofi Study girl, while chopping and mixing his interview
      into an original song.
    </p>
  </div>
</div>
<div style="padding: 56.25% 0 0 0; position: relative">
  <iframe
    src="https://player.vimeo.com/video/567220914?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="Yoel Beats to Study To"
  ></iframe>
</div>
<div style="padding: 56.25% 0 0 0; position: relative">
  <iframe
    src="https://player.vimeo.com/video/644598304?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="Disabled Veterans of America | UFC Memorial Visit"
  ></iframe>
</div>
<div>
  <h2>Branded Partner Content</h2>
  <div class="side-by-side">
    <p>
      The UFC signs numerous partnerships annually, each with their own
      deliverables to manage and creative challenges to overcome. My work on
      partner content was all about finding natural, compelling ways to
      incorporate brands into fighter narratives. I worked on sponsored segments
      and branded video series that aligned with UFC’s tone while delivering on
      sponsor objectives.
    </p>
    <p>
      Some of these notable partnerships included work with Disabled American
      Veterans, Modelo, Marvel Entertainment, Ziprecruiter, and Timex.
    </p>
  </div>
</div>

<div style="padding: 56.25% 0 0 0; position: relative">
  <iframe
    src="https://player.vimeo.com/video/629608351?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="ZipRecruiter | Brandon Moreno"
  ></iframe>
</div>

<div class="contributions">
  <h2>My Roles</h2>
  <ul>
    <li>Creative Leadership</li>
    <li>Post-Production Direction</li>
    <li>Motion Design</li>
  </ul>
</div>
