---
layout: "layouts/project.njk"
title: "Verizon x Xbox"
subtitle: "Cinematics Capture, Video Editing, Motion Design, Trailer Direction"
video: "/assets/img/projects/skyblock-showdown/skyblockLoop2_h264_crf23.mp4"
image: "/assets/img/projects/sea-of-thieves/sot-thumb.jpg"
date: 2022-11-28
tags: "project"
scope: "Brand Identity"
feature: "yes"
---

<h1 class="title">{{ title }}</h1>

<video autoplay loop muted playsinline>
  <source
    src="/assets/img/projects/skyblock-showdown/skyblockLoop2_h264_crf23.mp4"
    type="video/mp4"
  />
  Your browser does not support the video tag.
</video>

<div class="project__info">
  <div class="project__info-L">
    <p class="big">
      A strategic partnership between Verizon, Xbox, and top gaming influencers.
    </p>
    <p>
      In collaboration with Xbox Game Pass, Rare, and Starfish Studios, I helped
      bring Sea of Thieves and Minecraft to life through a series of
      high-profile gaming events, cinematic trailers, and custom tournament
      branding. These campaigns combined engaging storytelling, immersive
      in-game visuals, and creator-led broadcasts to make Verizon a visible
      force in the gaming space.
    </p>
  </div>

  <div class="project__info-R">
    <ul>
      <li>Cinematics Capture</li>
      <li>Video Editing</li>
      <li>Motion Design</li>
      <li>Trailer Direction</li>
    </ul>
  </div>
</div>

<video autoplay loop muted playsinline>
  <source
    src="/assets/img/projects/skyblock-showdown/skyblockLoop1_h264_crf23.mp4"
    type="video/mp4"
  />
  Your browser does not support the video tag.
</video>

<div>
  <h2>The Challenge</h2>
  <div class="side-by-side">
    <p>
      1. Unlike traditional esports titles, Sea of Thieves and Minecraft don’t
      have built-in competitive formats. Each event needed to be custom-designed
      to create thrilling gameplay moments while keeping Verizon’s brand
      integration organic and immersive.
    </p>
    <p>
      2. Both campaigns relied on high-profile gaming creators to drive
      engagement, meaning the content strategy needed to capture attention
      before, during, and after the events.
    </p>
    <p>
      3. From Verizon-branded hub worlds in Minecraft to dynamic tournament
      branding in Sea of Thieves, the challenge was ensuring the branding felt
      natural while reinforcing Xbox’s All Access messaging.
    </p>
  </div>
</div>

<figure>
  <div style="padding: 56.25% 0 0 0; position: relative">
    <iframe
      src="https://player.vimeo.com/video/1025896604?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
      title="Minecraft: Skyblock Showdown Announcement Trailer"
    ></iframe>
  </div>
  <figcaption>Minecraft: Skyblock Showdown Reveal Trailer</figcaption>
</figure>

<h2>A Custom-Built Survival Arena for Influencer Competition</h2>

<div class="side-by-side">
  <div>
    <p>
      For Skyblock Showdown, we transformed Minecraft’s classic Skyblock
      challenge into a fully branded, Verizon-powered challenge. With
      custom-curated gameplay and 37 unique challenges, the event pushed
      creators to strategize, collaborate, and compete for victory.
    </p>
  </div>
  <div>
    <p>
      To ensure seamless Verizon integration, I teamed up with Starfish Studios
      to design a Verizon-branded hub world.
    </p>

    <p>
      With top creators like DrLupo, SmallAnt, and Hannahxxrose, the event hit
      26,800+ peak concurrent viewers, making it one of the biggest Verizon x
      Xbox activations to date.
    </p>
  </div>
</div>

<figure>
  <div style="padding: 56.25% 0 0 0; position: relative">
    <iframe
      src="https://player.vimeo.com/video/1044168735?h=0b0b173dbf&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
      title="Bilge Rat Bingo | Show Open"
    ></iframe>
  </div>
  <figcaption>Bilge Rat Bingo Show Opener</figcaption>
</figure>

<!-- <div style="padding: 56.25% 0 0 0; position: relative">
  <iframe
    src="https://player.vimeo.com/video/1044168719?h=5b9d5978f6&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="Sea of Thieves - Bilge Rat Bingo Trailer"
  ></iframe>
</div> -->

<div>
  <h2>Competitive Mayhem on the High Seas</h2>
  <div class="side-by-side">
    <p>
      Sea of Thieves has always been about freedom and exploration, but for
      Bilge Rat Bingo, we introduced a structured, high-stakes competition
      format that turned the game into a chaotic, cutthroat kill race.
    </p>
    <p>
      I oversaw the production of two featued videos for the event: An
      announcement trailer capturing the game’s swashbuckling energy and teasing
      the all-star influencer lineup, and a broadcast opener designed to immerse
      viewers in the competition’s high-stakes atmosphere.
    </p>
  </div>
</div>

<div class="side-by-side">
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/sea-of-thieves/SoT_HolidayClashAnnounce_h264_crf23.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
  <div>
    <h2>A Festive Free-for-All</h2>

    <p>
      For the Holiday Clash tournament, we took the Bilge Rat Bingo format and
      reworked it into a winter-themed competition, keeping the high-energy
      pacing while adding holiday-inspired challenges.
    </p>
  </div>
</div>

<div>
  <h2>The Impact</h2>
  <div class="side-by-side">
    <div>
      <p class="big">Social & Broadcast Reach</p>
      <p>
        With 1.6 million+ social media impressions, 529,000+ hours of watch
        time, and 67,000+ total engagements, Verizon and Xbox showed that Xbox's
        approachable, casual gaming library can deliver high-impact, competitive
        content when paired with the right format and branding strategy.
      </p>
    </div>
    <div>
      <p class="big">A Foundational Esports Framework</p>
      <p>
        Following our previous Xbox Game Pass events in Sea of Thieves, the
        success of Verizon x Xbox events helped solidify a competitive
        tournament model for both Sea of Thieves and Minecraft, opening doors
        for future influencer-led competitions under partnered banners.
      </p>
    </div>
  </div>
</div>

<div class="contributions">
  <h2>My Roles</h2>
  <ul>
    <li>Creative Leadership</li>
    <li>Design System Development</li>
    <li>Production Management</li>
    <li>Social Promo Strategy</li>
    <li>Animation Direction</li>
  </ul>
</div>
