---
layout: "layouts/video-project.njk"
title: "Sea of Thieves"
subtitle: "Cinematics Capture, Video Editing, Motion Design, Trailer Direction"
video: "/assets/img/videos/sea_of_thieves_-_bilge_rat_bingo_trailer (720p).mp4"
image: "/assets/img/projects/sea-of-thieves/sot-thumb.jpg"
date: 2022-11-28
tags: "project"
scope: "Brand Identity"
feature: "yes"
---

<div style="padding: 56.25% 0 0 0; position: relative">
  <iframe
    src="https://player.vimeo.com/video/1044168719?h=5b9d5978f6&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="Sea of Thieves - Bilge Rat Bingo Trailer"
  ></iframe>
</div>

<h1 class="title">{{ title }}</h1>

<div class="project__info">
  <div class="project__info-L">
    <p class="big">
      In Partnership with the teams at Xbox, Game Pass, and Microsoft, I
      produced a set of videos for this $35,000 official Sea of Thieves bingo
      tournament, broadcast live on the Sea of Thieves Twitch channel.
    </p>
    <p>
      This project involved in-game HUD-less footage capture of gameplay and
      cinematics, and editing two videos, one announcement trailer for the
      event, and one show opener for the official broadcast to get the audience
      hyped.
    </p>
  </div>

  <div class="project__info-R">
    <ul>
      <li>Cinematics Capture</li>
      <li>Video Editing</li>
      <li>Motion Design</li>
      <li>Trailer Direction</li>
    </ul>
  </div>
</div>

<figure>
  <div style="padding: 56.25% 0 0 0; position: relative">
    <iframe
      src="https://player.vimeo.com/video/1044168735?h=0b0b173dbf&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
      title="Bilge Rat Bingo | Show Open"
    ></iframe>
  </div>
  <figcaption>Bilge Rat Bingo Show Opener</figcaption>
</figure>

<h2>Holiday Clash</h2>
<p>
  A smaller holiday-themed event, the Sea of Thieves Holiday clash, was held the
  following year, where I had the opportunity to revisit the project, updating
  assets to provide fresh motion design for the event announcement on the
  official Sea of Thieves social accounts.
</p>

<blockquote class="twitter-tweet">
  <p lang="en" dir="ltr">
    Introducing the Sea of Thieves Holiday Clash! Tune in to watch invited
    Galleon crews collide in an intense Bilge Rat Bingo brawl, competing for a
    share of $25,000. The contest begins at 8pm UTC this Saturday, December
    2nd.<br /><br />🏴‍☠️ More Info:
    <a href="https://t.co/R7UdTEuHS0">https://t.co/R7UdTEuHS0</a>
    <a href="https://t.co/JXJiNrXcUg">pic.twitter.com/JXJiNrXcUg</a>
  </p>
  &mdash; Sea of Thieves (@SeaOfThieves)
  <a
    href="https://twitter.com/SeaOfThieves/status/1730315939747332389?ref_src=twsrc%5Etfw"
    >November 30, 2023</a
  >
</blockquote>
<script
  async
  src="https://platform.twitter.com/widgets.js"
  charset="utf-8"
></script>
