---
layout: "layouts/video-project.njk"
title: "Impact Gaming"
subtitle: "Directing, Video Editing, Videography, Project Management"
image: "/assets/img/projects/impact/impact thumb.jpg"
date: 2018-01-01
tags: "project"
scope: "Brand Identity"
feature: "no"
---

<div style="padding: 56.25% 0 0 0; position: relative">
  <iframe
    src="https://player.vimeo.com/video/402376416?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="Inspire 1: New World Blues | Impact Gaming"
  ></iframe>
</div>

<h1 class="title">{{ title }}</h1>

<div class="project__info">
  <div class="project__info-L">
    <p class="big">
      In 2018, Impact Gaming housed its H1Z1 Pro League team in Las Vegas,
      Nevada for a 10 week competition against the best of the best.
    </p>
    <p>
      I was brought on as video production manager, overseeing media production
      strategy for the team. While living in Vegas with the team, I filmed
      hundreds of hours of behind-the-scenes footage, interviews with players
      and coaches, and crafted a documentary web series detailing the team's
      successes and failures throughout the season. I also handled filming and
      editing partner content and social media pieces. These are some of the
      video pieces I shot and edited while with Impact Gaming. Enjoy!
    </p>
  </div>

  <div class="project__info-R">
    <ul>
      <li>Creative Production</li>
      <li>Video Production</li>
      <li>Direction</li>
      <li>Editing</li>
      <li>Motion Design</li>
      <li>Project Management</li>
    </ul>
  </div>
</div>

<div style="padding: 56.25% 0 0 0; position: relative">
  <iframe
    src="https://player.vimeo.com/video/636597366?h=550110ca9f&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="Impact Gaming H1Z1 | Growth Holdings House Tour"
  ></iframe>
</div>
