---
layout: "layouts/video-project.njk"
title: "UFC Promotions"
videoID: "1026298680"
subtitle: "Video Editor"
video: "/assets/img/videos/ufc_246_social_promo_web.mp4"
date: 2021-01-01
tags: "project"
scope: "Brand Identity"
feature: "yes"
---

<div style="padding: 56.25% 0 0 0; position: relative">
  <iframe
    src="https://player.vimeo.com/video/567221727?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="UFC 252 Social Promo"
  ></iframe>
</div>

<h1 class="title">{{ title }}</h1>

<div class="project__info">
  <div class="project__info-L">
    <p class="big">
      As an editor for UFC, I had the opportunity to work on TV spots and social
      media promos for some of the world's largest combat sports events. Here is
      some of my work from my time at UFC.
    </p>
  </div>

  <div class="project__info-R">
    <ul>
      <li>Video Editing</li>
      <li>Motion Design</li>
    </ul>
  </div>
</div>
<div style="padding: 56.25% 0 0 0; position: relative">
  <iframe
    src="https://player.vimeo.com/video/567221189?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="UFC 246 Social Promo"
  ></iframe>
</div>

<div style="padding: 56.25% 0 0 0; position: relative">
  <iframe
    src="https://player.vimeo.com/video/643291054?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="UFC Fight Night: Benavidez vs Figueiredo social promo"
  ></iframe>
</div>

<div style="padding: 56.25% 0 0 0; position: relative">
  <iframe
    src="https://player.vimeo.com/video/643291191?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="UFC Fight Night: Till vs. Masvidal social promo"
  ></iframe>
</div>
