---
layout: "layouts/video-project.njk"
title: "UFC"
videoID: "1026298680"
subtitle: "Video Editing, Motion Design"
video: "/assets/img/videos/UFC Loop_h264_crf23.mp4"
image: "/assets/img/projects/ufc/ufc-thumb.jpg"
date: 2021-01-01
tags: "project"
scope: "Brand Identity"
feature: "no"
---

<figure>
  <div style="padding: 56.25% 0 0 0; position: relative">
    <iframe
      src="https://player.vimeo.com/video/567221727?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
      title="UFC 252 Social Promo"
    ></iframe>
  </div>
  <figcaption>UFC 252: Miocic vs. Cormier III Promo (Editor)</figcaption>
</figure>

<h1 class="title">{{ title }}</h1>

<div class="project__info">
  <div class="project__info-L">
    <p class="big">
      As an editor for UFC, I had the opportunity to work on TV spots and social
      media promos for some of the world's largest combat sports events.
    </p>
    <p>
      All UFC edits require in-depth research, extensive archive pulls, and
      collaborative storytelling to create compelling narratives around a fight.
      Knowledge of the sport is essential, along with a sense for how UFC
      approaches video promos, though editorial creativity is encouraged. Access
      to UFC's vast broadcast archive with all camera angles, as well as
      specialty cinematic footage, allowed me tons of choices when making these
      edits. Here is some of my work from my time at UFC.
    </p>
  </div>

  <div class="project__info-R">
    <ul>
      <li>Creative Direction</li>
      <li>Video Editing</li>
      <li>Motion Design</li>
    </ul>
  </div>
</div>

<figure>
  <div style="padding: 56.25% 0 0 0; position: relative">
    <iframe
      src="https://player.vimeo.com/video/567221189?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
      title="UFC 246 Social Promo"
    ></iframe>
  </div>
  <figcaption>UFC 246: McGregor vs. Cowboy Promo (Editor)</figcaption>
</figure>
<figure>
  <div style="padding: 56.25% 0 0 0; position: relative">
    <iframe
      src="https://player.vimeo.com/video/643291054?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
      title="UFC Fight Night: Benavidez vs Figueiredo social promo"
    ></iframe>
  </div>
  <figcaption>
    UFC Fight Night: Benavidez vs Figueiredo promo (Editor)
  </figcaption>
</figure>

<figure>
  <div style="padding: 56.25% 0 0 0; position: relative">
    <iframe
      src="https://player.vimeo.com/video/643291191?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
      title="UFC Fight Night: Till vs. Masvidal social promo"
    ></iframe>
  </div>
  <figcaption>UFC Fight Night: Till vs. Masvidal promo (Editor)</figcaption>
</figure>
