@use "../scss/util/" as u;

.about-image {
  display: flex; /* Enables flexbox layout */
  flex-direction: column; /* Ensures a vertical layout */
  justify-content: center; /* Centers the content vertically */
  align-items: center; /* Centers the content horizontally */
  width: clamp(500px, 30vw, 500px); /* Responsive width */
  text-align: center; /* For centering text if needed */
  // border-radius: 50%;

  @include u.breakpoint-down(small) {
    width: 95vw;
  }
}
.responsive-image {
  width: 100%; /* Make sure the image scales within the parent */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Removes any bottom spacing */
}

.about__text {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-block: 30px;
  gap: u.rem(18);

  @include u.breakpoint-down(small) {
    display: flex;
    flex-direction: column;
    gap: u.rem(20);
    align-items: center;
  }
}

.about__title,
.about__p {
  flex-basis: 1;
}

.about__title {
  font-size: u.rem(36);

  @include u.breakpoint-down(small) {
    font-size: u.rem(48);
  }
}

.about__sig {
  color: var(--pico-primary);
  font-family: "Parisienne", "Brush Script MT", "Lucida Handwriting", serif;
  font-size: u.rem(32);
  text-align: right;
  display: block;
  text-align: center;
}

.about__info {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 0 auto;
  gap: u.rem(40);
  width: 100%;

  @include u.breakpoint-down(small) {
    flex-direction: column;
  }
}

.about__info-column ul {
  padding-left: 0;
  font-size: 0.9rem;

  @include u.breakpoint-down(small) {
    text-align: center;
  }
}

.about-video {
  margin-block-start: 25px;
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  border-radius: 25%;

  @include u.breakpoint-down(small) {
    text-align: center;
    display: inline-block;
  }
}

figure {
  display: flex;
  flex-direction: column;

  @include u.breakpoint-down(small) {
    align-items: center;
  }
}

.about__text figcaption {
  font-style: italic;
  font-size: 12px;

  @include u.breakpoint(medium) {
    display: inline-block;
    margin-inline-start: 20%;
  }
}

.about__title {
  @include u.breakpoint-down(small) {
    text-align: center;
  }
}

.about__p ul {
  @include u.breakpoint-down(small) {
    text-align: center;
  }
}
