@use "../scss/util/" as u;

.about-image {
  display: flex; /* Enables flexbox layout */
  flex-direction: column; /* Ensures a vertical layout */
  justify-content: center; /* Centers the content vertically */
  align-items: center; /* Centers the content horizontally */
  width: clamp(250px, 30vw, 500px); /* Responsive width */
  text-align: center; /* For centering text if needed */
  border-radius: 50%;

  @include u.breakpoint-down(small) {
    width: 95vw;
  }
}
.responsive-image {
  width: 100%; /* Make sure the image scales within the parent */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Removes any bottom spacing */
}
