
.collapsible {
    cursor: pointer;
    border: none;
    text-align: left;
    outline: none;
    width: 100%;
  }
  
  .reveal {
    background-color: rgba(255, 255, 255, 0);
    max-height: 0; /* Start collapsed */
    overflow: hidden; /* Hide overflowing content */
    transition: max-height 0.3s ease; /* Smooth transition for height changes */
    margin-top: 10px; /* Space above the revealed content */
    padding: 0; /* Adjust as needed */
    padding-left: 10px; /* Add left padding */
  }
  
  .collapsible.active + .reveal {
    max-height: 100vh; /* Allow for dynamic max-height */
  }
  
  .collapsible:after {
    content: "+"; /* Unicode character for "plus" sign (+) */
    font-size: 24px;
    color: var(--pico-primary);
    // float: right;
    margin-left: 10px;
  }
  
  .active:after {
    content: "−"; /* Unicode character for "minus" sign (-) */
  }
  