.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;

  &:focus {
    left: 0;
    width: auto;
    background-color: #ffffff;
    height: auto;
    padding: 0.5rem;
    border: 1px solid;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

#theme-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
}

.vimeo-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  transform: scale(1.01); /* Slight scaling to prevent sub-pixel issues */
  transform-origin: top left;
}

.vimeo-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 101%;
  height: 101%;
  border: 0;

  box-sizing: border-box;
}

.intro-sub {
  transition: opacity 1s ease;
  opacity: 1;
}

.intro-sub.fade-out {
  opacity: 0;
}
