@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400&display=swap");

body {
  font-family: "Crimson Pro", serif;
  font-weight: 400; /* Regular weight */
  font-optical-sizing: auto; /* Optional */
}

/* Other styles */
h1,
h2,
h3 {
  font-family: "Crimson Pro", serif;
  font-weight: 600; /* Regular weight */
  margin: 20px 0;
  line-height: 1;
}

p {
  line-height: 1.5;
}
