@use "../scss/util/" as u;

@font-face {
  font-family: "Parisienne";
  src: url("/assets/fonts/Parisienne/Parisienne-regular.woff2") format("woff2"),
    url("/assets/fontsParisienne/Parisienne-regular.woff") format("woff"),
    url("/assets/fontParisienne/Parisienne-regular.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Rethink Sans";
  src: url("/assets/fonts/Rethink-Sans/RethinkSans-Regular.woff2")
      format("woff2"),
    url("/assets/fonts/Rethink-Sans/RethinkSans-Regular.woff") format("woff"),
    url("/assets/fonts/Rethink-Sans/RethinkSans-Regular.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Hahmlet", serif;
  src: url("/assets/fonts/hahmlet/Hahmlet-Regular.woff2") format("woff2"),
    url("/assets/fonts/hahmlet/Hahmlet-Regular.woff") format("woff"),
    url("/assets/fonts/hahmlet/Hahmlet-Regular.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Bagnard";
  src: url("/assets/fonts/Bagnard/Bagnard.woff2") format("woff2"),
    url("/assets/fonts/Bagnard/Bagnard.woff") format("woff"),
    url("/assets/fonts/Bagnard/Bagnard.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ringift";
  src: url("/assets/fonts/Ringift/Ringift.woff2") format("woff2"),
    url("/assets/fonts/Ringift/Ringift.woff") format("woff"),
    url("/assets/fonts/Ringift/Ringift.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Hahmlet", "Times New Roman", serif;
}

h1,
h2,
h3 {
  font-family: "Ringift", serif;
  font-weight: 200;
  margin-block-start: 30px;
  line-height: 1;
}

h1 {
  font-size: 3rem;
  font-size: clamp(3rem, 2.8rem + 1vw, 4rem);
}

h1 span.jade,
h2 span.jade,
h3 span.jade,
p span.jade {
  color: var(--pico-primary);
  font-family: "Ringift", "Times New Roman", serif;
}

span.jade-hover {
  font-family: "Ringift", "Times New Roman", serif;
  transition: color 0.3s ease;
}

span.jade-hover:hover {
  color: var(--pico-primary);
}

p {
  line-height: 2;
  font-size: 0.75rem;
  font-size: clamp(0.75rem, 0.72rem + 0.16vw, 0.9rem);
}

li {
  font-size: 0.75rem;
  font-size: clamp(0.75rem, 0.72rem + 0.16vw, 0.9rem);
}

p.big {
  font-size: 1.2rem;
  font-size: clamp(1.2rem, 1.15rem + 0.25vw, 1.45rem);
}
p.med,
li {
  font-size: 1rem;
  font-size: clamp(1rem, 0.96rem + 0.19999999999999996vw, 1.2rem);
}

.title,
.subtitle {
  font-family: "Ringift", sans-serif;
  font-size: 3rem;
  font-size: clamp(3rem, 2.8rem + 1vw, 4rem);
  text-align: left;
  font-weight: 200;
}
.subtitle {
  font-size: 1.2rem;
}

.gallery__title,
nav,
.next,
.previous,
.back,
.intro {
  font-family: "Ringift", serif;
}

.button * {
  font-family: "inherit";
}

.button h1,
.button h2,
.button p,
button *,
button {
  font-family: "Ringift", serif;
}
