@use "../scss/util/" as u;

.gallery {
  display: flex;
  flex-direction: column;
  gap: u.rem(80);
  margin-block-end: 80px;

  @include u.breakpoint-down(small) {
    margin-block-start: 20vh;
  }

  &__title {
    font-size: 2rem;
    font-size: clamp(2rem, 1.9rem + 0.5vw, 2.5rem);
    width: 100%;
    margin: 0;

    &:hover {
      text-decoration: underline;
    }
  }

  &__subtitle {
    font-size: 1rem;
    color: var(--pico-h1-color);
    width: 100%;
  }

  &__title,
  &__subtitle {
    display: block;

    @include u.breakpoint-down(small) {
      width: 100%;
    }
  }
}

.gallery img {
  width: 100%;
  border-radius: 2px;
  object-fit: cover;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}

.image-title {
  margin-top: 0.5rem;
  color: white;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: u.rem(10);
  width: 100%;
  margin-top: u.rem(24);

  @include u.breakpoint-down(small) {
    flex-direction: column;
    gap: u.rem(20);
  }
}

.vimeo-container {
  width: 90vw;
  height: calc(90vw * 9 / 16);
}

.iframe-wrapper {
  position: relative;
  padding-top: 56.25%;
  height: 100%; /* Ensure wrapper takes full height */
}

.iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
