@use "../scss/util/" as u;
.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: u.rem(40);
  margin-block-end: 60px;

  @include u.breakpoint(large) {
    grid-template-columns: repeat(2, 1fr);
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: u.rem(16);
  }

  &__title {
    font-size: 2rem;
    margin: 0;
    color: var(--pico-primary);

    &:hover {
      text-decoration: underline;
      color: var(--pico-primary-hover);
    }
  }

  &__subtitle {
    font-size: 1rem;
    color: var(--pico-h1-color);
  }

  &__title,
  &__subtitle {
    display: block;

    @include u.breakpoint-down(small) {
      width: 100%;
    }
  }

  &__intro {
    max-width: 75ch;
    text-align: left;
  }

  @include u.breakpoint-down(medium) {
    grid-template-columns: 1fr;
  }
}

.gallery img,
.gallery video,
.image-preview-container img,
.image-preview-container video {
  width: 100%;
  border-radius: 2px;
  object-fit: cover;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.image-container,
.image-preview-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center video/image below title */
  gap: u.rem(16);
  width: 100%;
  max-width: 1080px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: scale(1.02);
  }
}

.image-title {
  color: white;
  text-align: left; /* Center title and description */
  display: flex;
  flex-direction: column;
  gap: u.rem(8);
  width: 100%;
}

.image-preview-title {
  color: white;
  text-align: left; /* Center title and description */
  display: flex;
  flex-direction: column;
  gap: u.rem(8);
  width: 100%;
}

.vimeo-container-gallery {
  width: 100%;
  max-width: 1920px;
  background-size: cover;
  background-position: center;
  background-color: transparent;

  @include u.breakpoint-down(medium) {
    width: 100%;
  }

  iframe {
    position: relative;
    z-index: 0;
    transition: filter 0.5s;
    background: transparent;

    @include u.breakpoint(medium) {
      filter: grayscale(100%);
    }
  }

  &:hover iframe {
    filter: grayscale(0%);
  }
}

.iframe-wrapper-gallery {
  position: relative;
  padding-top: 56.25%;
  height: 100%;
}

.iframe-wrapper-gallery iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
