@use "../scss/util/" as u;

.intro {
  font-size: 1.75rem;
  text-align: center;
  max-width: 40ch;
  margin: 0 auto;
  margin-block-end: u.rem(40);
  @media (orientation: portrait) {
    max-width: 90%;
  }
}
.intro-sub {
  font-size: 1.2rem;
  text-align: left;
}
