@use "../scss/util/" as u;

.project {
  &__info {
    display: flex;

    @include u.breakpoint-down(small) {
      flex-direction: column;
    }
  }

  &__credits {
    display: flex;

    @include u.breakpoint-down(small) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__info-L {
    flex-basis: 90%;
  }

  &__info-R {
    flex-basis: 10%;

    @include u.breakpoint(medium) {
      margin-right: u.rem(100);
    }
  }

  &__info li {
    font-size: 0.9rem;
  }

  &__info ul {
    @include u.breakpoint-down(small) {
      padding-inline-start: 0;
    }
  }

  &__credits ul {
    @include u.breakpoint-down(small) {
      padding-inline-start: 0;
      text-align: center;
    }
  }

  &__credits {
    justify-content: space-between;
  }

  &__credits-R {
    @include u.breakpoint(medium) {
      // margin-right: u.rem(100);
    }
  }

  &__credits-R li {
    font-size: 0.9rem;
  }
}

.project-layout > img {
  min-width: 100%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  margin-block: 20px;
}

.next-arrow,
.previous-arrow {
  width: 20px;
  margin-inline: 10px;
}

.project-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.project-navigation .previous {
  text-align: left;
}

.project-navigation .next {
  text-align: right;
  margin-left: auto; /* Push the next link to the right */
}

.project-layout p {
  max-width: 800px;
}

.center {
  align-self: center;
}
