@use "../scss/util/" as u;

.title {
  margin-top: u.rem(50);
}

.project-layout > img {
  min-width: 100%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

  @include u.breakpoint-down(small) {
    min-width: 100vw;
  }
}

.title {
  font-size: u.rem(64);
  text-align: center;
  line-height: 0.75;
}
