@use "../scss/util/" as u;

.wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.wrapper-m {
  width: clamp(250px, 75vw, 1600px);

  @include u.breakpoint-down(medium) {
    width: clamp(250px, 98vw, 1080px);
    max-width: 98%;
  }
  @include u.breakpoint(medium) {
    // margin-left: clamp(175px, 15vw, 150px);
  }
}
.wrapper-h {
  width: 95vw;
  @include u.breakpoint-down(medium) {
    width: clamp(250px, 98vw, 1600px);
    max-width: 98%;
  }
  @include u.breakpoint(medium) {
    // margin-left: clamp(175px, 15vw, 150px);
  }
}

.wrapper-a {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: clamp(250px, 85vw, 2100px);
  gap: 10px;

  @include u.breakpoint-down(medium) {
    width: clamp(250px, 98vw, 1080px);
    max-width: 98%;
  }
  @include u.breakpoint(medium) {
    margin-left: clamp(175px, 15vw, 150px);
    margin-inline: 100px;
  }
}

.wrapper-f {
  gap: 10%;
  width: clamp(250px, 85vw, 1200px);
  @include u.breakpoint-down(medium) {
    width: clamp(250px, 98vw, 1080px);
    max-width: 98%;
  }
  @include u.breakpoint(medium) {
    margin-left: clamp(20px, 25vw, 250px);
    margin-top: 250px;
  }
}

.wrapper-c {
  width: clamp(250px, 75vw, 1600px);
  @include u.breakpoint-down(medium) {
    width: clamp(250px, 98vw, 1080px);
    max-width: 98%;
  }
  @include u.breakpoint(medium) {
    margin-left: clamp(175px, 15vw, 150px);
  }
}

.wrapper-home {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0;

  @include u.breakpoint-down(small) {
    flex-direction: column;
  }
}

.footer__wrapper {
  margin: 0 auto;
  justify-content: center;
}

.topnav__wrapper {
  display: flex;
  flex-direction: row;
  @include u.breakpoint-down(small) {
    // display: flex;
  }
}
