---
layout: "layouts/project.njk"
title: "Next Level"
videoID: "1026353184"
subtitle: "Direction, Video Editing, Project Management"
video: "/assets/img/videos/zsmit_loop (1080p).mp4"
image: "/assets/img/projects/next-level/nextLevel_thumb.jpg"
date: 2022-05-01
tags: "project"
scope: "Brand Identity"
feature: "no"
---

<div class="youtube-container">
  <iframe
    src="https://www.youtube.com/embed/PXabv6v8Jqk?si=UB0Mbi4NYLlvnO78"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>
</div>

<h1 class="title">{{ title }}</h1>

<div class="project__info">
  <div class="project__info-L">
    <p class="big">
      As executive producer and director on this esports documentary, I oversaw
      all aspects of production, and additionally served as editor for the
      piece. Next Level is part of a BoomTV content plan to connect with the
      esports community by highlighting key players and providing insight into
      their lives for fans.
    </p>
  </div>

  <div class="project__info-R">
    <ul>
      <li>Creative Direction</li>
      <li>Editing</li>
      <li>Motion Strategy</li>
    </ul>
  </div>
</div>

<div class="project__credits">
  <div class="project__credits-L">
    <h3>Credits</h3>
  </div>

  <div class="project__credits-R">
    <ul>
      <li>Branding: {% include "includes/mateo.html" %}</li>
      <li>Director of Photography: Justin Pagano</li>
    </ul>
  </div>
</div>
