@font-face {
    font-family: 'Avantgarde';
    src: url('AvantgardeLight.woff2') format('woff2'),
        url('AvantgardeLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avantgarde';
    src: url('AvantgardeBold.woff2') format('woff2'),
        url('AvantgardeBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avantgarde';
    src: url('AvantgardeRegular.woff2') format('woff2'),
        url('AvantgardeRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

