{% include "includes/header.html" %}
<main id="main">
  <article>
    <div id="top"></div>
    {% include "includes/nav.html" %}
    <div class="wrapper wrapper-home">
      <div class="layout-main wrapper-m project-layout">
        {{ content | safe }}

        {# Get the current project's URL #} {% set currentUrl = page.url %} {%
        set currentIndex = -1 %} {# Loop through the projects to find the
        current index #} {% for project in collections.animation %} {% if
        project.url == currentUrl %} {% set currentIndex = loop.index0 %} {# Use
        loop.index0 for 0-based index #} {% endif %} {% endfor %} {# Set
        previous and next projects based on the current index #} {% set previous
        = collections.animation[currentIndex - 1] if currentIndex > 0 else null
        %} {% set next = collections.animation[currentIndex + 1] if currentIndex
        < collections.animation | length - 1 else null %} {% include
        "includes/explore-more.html" %}
      </div>
    </div>
  </article>
</main>
{% include "includes/footer.html" %}
