{% include "includes/header.html" %}
<main id="main">
  <article>
    <div id="top"></div>
    {% include "includes/nav.html" %}
    <div class="wrapper wrapper-home">
      <div class="layout-main wrapper-m project-layout">
        {{ content | safe }}

        {# Get the current project's URL #} {% set currentUrl = page.url %} {%
        set currentIndex = -1 %} {# Loop through the sorted collection to find
        the current project index #} {% for project in collections.video %} {%
        if project.url == currentUrl %} {% set currentIndex = loop.index0 %} {#
        Use loop.index0 for 0-based index #} {% endif %} {% endfor %} {# Set
        previous and next projects based on the current index #} {% set previous
        = collections.video[currentIndex - 1] if currentIndex > 0 else null %}
        {% set next = collections.video[currentIndex + 1] if currentIndex <
        collections.video | length - 1 else null %} {# Include the "explore
        more" section #} {% include "includes/explore-more.html" %}
      </div>
    </div>
  </article>
</main>
{% include "includes/footer.html" %}
