<footer class="footer" id="contact">
    <h2 class="visually-hidden">Footer</h2>
    <div class="footer__wrapper wrapper-f two-col">
      <div class="footer__info">
        <h2>Let's Connect!</h2>
        <p>If you’re interested in collaborating, please fill out this quick form to help me get the big picture of your project. Don't skimp on details - the more specific you can be, the better!

          </p>

           <p> My goal is to respond to every inquiry, and I prioritize projects that feel like a great fit. I'm a one-woman creative studio and I enjoy being challenged. If you don't see an exact example of what you're looking for within my portfolio, don't let that dissuade you. Research and development are my forte, and I have a knack for finding solutions to problems.</p>
           <p> I'm especially passionate about projects that focus on social impact and humanitarian missions. If you're working to help create equality and address social challenges, I would love to hear from you. If you'd like to just send me a quick message, email me at <a href="mailto:hi@tifajade.com">hi@tifajade.com</a>.</p>
      </div>
     
      {% include "includes/contact-form.html" %}

          
    </div>
    {% include "includes/backtotop.html" %}
     <div class="footer__legal">    
      {% include "includes/socials.html" %}
      <p>&copy; <span id="currentYear"></span> Tifa Jade. All rights reserved.</p>



</div>

</footer>
<script src="/app/js/darkmode.js" defer></script>
<script src="/app/js/footer.js" defer></script>
<script src="/app/js/collapsible.js" defer></script>
<script src="/app/js/scroll.js" defer></script>
<script src="/app/js/sticky.js" defer></script>

</body>
</html>
