<footer class="footer" id="contact">
    <h2 class="visually-hidden">Footer</h2>
    <div class="footer__wrapper wrapper-f two-col">
      <div class="footer__info">
        <h2>Let's Connect!</h2>
        <p>If you’re interested in collaborating, I’d love to hear from you! Please fill out this quick form and share your project details, including scope, deliverables, timeline, and budget. The more specific you can be, the better!

          </p>

           <p> My goal is to respond to every inquiry, and I prioritize projects that feel like a great fit. I'm especially passionate about projects that focus on social impact and humanitarian missions. If you're working to help create equality and addresses social challenges, I would especially love to hear from you, regardless of budget.</p>
           <p>I'm a one-girl creative studio who loves a good challenge. If you don't see an exact example of what you're looking for within my portfolio, don't let that dissuade you. Research and development are my forte, and I love developing custom solutions. I look forward to connecting with you!</p>
      </div>
     
      {% include "includes/contact-form.html" %}

          
    </div>
    {% include "includes/backtotop.html" %}
     <div class="footer__legal">    
      {% include "includes/socials.html" %}
      <p>&copy; <span id="currentYear"></span> Tifa Jade. All rights reserved.</p>



</div>

</footer>
<script src="https://player.vimeo.com/api/player.js"></script>
<script src="/app/js/darkmode.js"></script>
<script src="/app/js/footer.js"></script>
<script src="/app/js/collapsible.js"></script>
<script src="/app/js/scroll.js"></script>
<script src="/app/js/sticky.js"></script>

</body>
</html>
