<section class="gallery" id="gallery">
  <div class="featured-gallery">
    <h2 class="visually-hidden">Featured Projects</h2>
    {% for project in collections.projects %} {% if project.data.feature ==
    'yes' %}
    <div class="image-container">
      <a href="{{ project.url }}">
        {% if project.data.videoID %}
        <div class="vimeo-container-gallery">
          <div class="iframe-wrapper-gallery">
            <!-- Clickable overlay -->

            <iframe
              src="https://player.vimeo.com/video/{{ project.data.videoID }}?autoplay=1&muted=1&loop=1&dnt=1&background=1"
              frameborder="0"
              allow="autoplay; fullscreen; picture-in-picture"
              title="{{ project.data.title }}"
              allowfullscreen
            ></iframe>
            <!-- <div class="clickable-overlay">
              <a href="{{ project.url }}"></a>
            </div> -->
          </div>
        </div>
        {% else %}
        <img
          src="{{ project.data.image }}"
          alt="{{ project.data.title }}"
          class="gallery__image"
        />
        {% endif %}
      </a>
      <div class="image-title">
        <a href="{{ project.url }}">
          <h2 class="gallery__title">{{ project.data.title }}</h2>
        </a>
        <a href="{{ project.url }}">
          <p class="gallery__subtitle">{{ project.data.subtitle }}</p>
        </a>
      </div>
    </div>
    {% endif %} {% endfor %}
  </div>

  <div class="non-featured-gallery">
    {% for project in collections.projects %} {% if project.data.feature == 'no'
    %}
    <div class="image-container non-featured-item">
      <a href="{{ project.url }}">
        {% if project.data.videoID %}
        <div class="vimeo-container-gallery">
          <div class="iframe-wrapper-gallery">
            <iframe
              src="https://player.vimeo.com/video/{{ project.data.videoID }}?autoplay=1&muted=1&loop=1&dnt=1&background=1"
              frameborder="0"
              allow="autoplay; fullscreen; picture-in-picture"
              title="{{ project.data.title }}"
              allowfullscreen
            ></iframe>
          </div>
        </div>
        {% else %}
        <img
          src="{{ project.data.image }}"
          alt="{{ project.data.title }}"
          class="gallery__image"
        />
        {% endif %}
      </a>
      <div class="image-non-featured-title">
        <a href="{{ project.url }}">
          <h2 class="gallery__non-featured-title">{{ project.data.title }}</h2>
        </a>
        <a href="{{ project.url }}">
          <p class="gallery__subtitle">{{ project.data.subtitle }}</p>
        </a>
      </div>
    </div>
    {% endif %} {% endfor %}
  </div>
</section>
