<li class="topnav__item">
  <a
    href="/index.html"
    class="topnav__link {% if page.url == '/index.html' %}current-page{% endif %}"
    >Animation</a
  >
</li>
<li class="topnav__item">
  <a href="/video/index.html" class="topnav__link">Video</a>
</li>
<li class="topnav__item">
  <a href="/showreel/index.html">Showreel</a>
</li>
<li class="topnav__item">
  <a
    href="/about/index.html"
    class="topnav__link {% if page.url == '/about/index.html' %}current-page{% endif %}"
    >About Me</a
  >
</li>
<li class="topnav__item">
  <a
    href="/contact/index.html"
    class="topnav__link {% if page.url == '/about/index.html' %}current-page{% endif %}"
    >Connect</a
  >
</li>
