<aside class="sidebar">
  <h2 class="visually-hidden">Header</h2>
  <div class="wrapper topnav__wrapper">
    <nav class="content">
      <a href="/"
        ><h1 class="sidebar__homelink">
          TIFA <span class="jade">JADE</span>
        </h1></a
      >

      <ul class="topnav__links">
        {% include "includes/links.html" %} {% include
        "includes/themetoggle.html" %}

        <li class="topnav__item">
          <button id="menu-toggle" class="hamburger">☰</button>
        </li>
      </ul>
    </nav>
  </div>
</aside>

<div id="hamburger-menu-overlay" class="hamburger-overlay">
  <div class="hamburger-overlay-content">
    <nav class="menu">
      <ul class="hamburger-links">
        <h1 class="hamburger-description">
          Tifa Jade is an animation director, motion designer, and storyteller
          crafting impactful visuals for global brands.
        </h1>
        {% include "includes/links.html" %} {% include
        "includes/themetoggle.html" %}
      </ul>
    </nav>
    {% include "includes/legal.html" %}

    <span id="close-hamburger-menu" class="close-hamburger-overlay"
      >&times;</span
    >
  </div>
</div>
