---
layout: "layouts/base.html"
title: "About Tifa Jade"
subtitle: "Empowering others with thoughtful motion design systems, expert 2D & 3D animation, and seasoned video editing."
description: "Tifa Jade is an animator and creative director empowering others with thoughtful motion design systems, expert 2D & 3D animation, and seasoned video editing."
---

{% include "includes/nav.html" %}
<div class="wrapper wrapper-home">
  <div class="layout-main wrapper-a">
    <h1 class="visually-hidden">{{ title }}</h1>

    {% include "includes/about_bio.html" %}

    <div class="about__text">
      <h2 class="about__title" style="margin: 0">Specialties</h2>
      <div class="about__p">
        <ul class="specialties">
          <li>Creative Production</li>
          <li>Animation Direction</li>
          <li>Motion Design</li>
          <li>Post-Production Supervision</li>
          <li>Production Coordination</li>
          <li>3D Illustration and Animation</li>
        </ul>
      </div>
    </div>
    <div class="about__text">
      <h2 class="about__title" style="margin: 0">Featured Work & Awards</h2>
      <div class="about__p">
        <ul>
          <li>
            Animation Director, <i>Fortnite: The Reunion</i>, Event Promo for
            Epic Games (2023)
          </li>
          <li>
            Animation Director, <i>Mountain Dew Champion's Cup</i>, Event Promo
            for Mountain Dew (2023)
          </li>
          <li>
            Animation Director, <i>Tfue Tuesday</i>, Event Promo for Epic Games
            (2023)
          </li>
          <li>
            Animation Director, <i>Skyblock Showdown</i>, Event Promo for
            Microsoft (2023)
          </li>
          <li>
            Producer, Editor, <i>Next Level: The Rise of Zsmit</i>, documentary
            (2022)
          </li>
          <li>
            Producer, Editor, <i>Impact Inspire</i>, Impact Gaming's flagship
            documentary series, (2018)
          </li>
          <!-- <li>
            Editor, <i>UFC: The Thrill and the Agony</i>, selected epiodes (2019
            - 2021)
          </li>
          <li>
            Editor, <i>UFC: Profiles in Combat</i>, Michael Bisping, Max
            Holloway (2019 - 2021)
          </li>
          <li>
            Editor, <i>UFC: Greatest Fights</i>, selected epiodes (2019 - 2021)
          </li>
          <li>Editor, <i>UFC: 25 Years in Short</i>, Finding Forest (2018)</li> -->
          <li>
            Director, Producer, Videographer, Editor,
            <i>Fear None: Football Season with the Richland Bombers</i>,
            6-episode documentary series aired on SWX, (2017-2018)
          </li>
          <li>Best Director award, Eastern Washington University (2016)</li>
          <li>
            Writer, Director, <i>The Ethernaut</i>, Student Academy Awards
            shortlist (2016)
          </li>
          <li>
            Most Promising Director, Spokane International Film Festival (2016)
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
