---
layout: "layouts/homepage.html"
title: "Tifa Jade - Animation & Video Production"
subtitle: "Empowering others with thoughtful motion design systems, expert 2D & 3D animation, and seasoned video editing."
description: "Tifa Jade is an animator empowering others with thoughtful motion design systems, expert 2D & 3D animation, and seasoned video editing."
---

{% include "includes/nav.html" %}

<div id="scroll-point" class="wrapper wrapper-home">
  <div class="layout-main wrapper-h-home">
    <div class="layout-main wrapper-a-home">
      {% include "includes/about_bio.html" %}
    </div>

    <div class="intro" id="animation">
      {% include "includes/gallery.html" %}
    </div>
  </div>

  <script src="/app/js/hover.js"></script>
</div>
