---
layout: "layouts/base.html"
title: "Tifa Jade"
description:
---

<!-- <div class="preloader">
  <div class="loader"></div>
</div> -->

{% include "includes/nav.html" %}

<!-- Video Background -->
<div class="video-background">
  <iframe
    src="https://player.vimeo.com/video/482898747?autoplay=1&loop=1&background=1"
    frameborder="0"
    allow="autoplay; fullscreen"
    allowfullscreen
  ></iframe>
  <div class="video-overlay"></div>
</div>

<div class="wrapper wrapper-home">
  <div class="layout-main wrapper-m">
    <div class="intro">
      <h1>
        Tifa Jade is an animation director empowering brands with thoughtful
        motion design.<br />
      </h1>
      <a href="/showreel"><button>See Showreel</button></a>
    </div>

    {% include "includes/gallery.html" %}
  </div>
</div>
