---
layout: "layouts/base.html"
title: "Tifa Jade - Animation Portfolio"
subtitle: "Empowering others with thoughtful motion design systems, expert 2D & 3D animation, and seasoned video editing."
description: "Tifa Jade is an animator empowering others with thoughtful motion design systems, expert 2D & 3D animation, and seasoned video editing."
---

{% include "includes/nav.html" %}

<div class="wrapper wrapper-home">
  <div class="layout-main wrapper-h">
    <h2>I'm TJ. Welcome to my portfolio!</h2>

    <div class="gallery__intro">
      <p>
        Below you can see a collection of my featured animation work. Feel free
        to explore each individual project to learn more about them. For samples
        of my video editing and production, see
        <a href="/video/index.html">this page.</a>
      </p>

      <p>
        I learned how to code so I could build this portfolio from the ground
        up, and I'm constantly adding new features and projects. You can see the
        updates to this website on
        <a href="https://github.com/adobopunk" target="_blank">my Github.</a>
        Thanks for stopping by!
      </p>
    </div>
    <button class="showreel">See My Showreel!</button>

    <div class="intro">{% include "includes/gallery.html" %}</div>
  </div>

  <div id="showreel-overlay" class="overlay">
    <div class="overlay-content">
      {% include "includes/reel.html" %}
      <span class="close-overlay">&times;</span>
    </div>
  </div>

  <script src="/app/js/homepage.js"></script>
  <script src="/app/js/hover.js"></script>
  <script src="/app/js/showreel.js" defer></script>
</div>
