---
layout: "layouts/project.njk"
title: "Fortnite Reunion 2023"
image: "/assets/img/projects/influencer comp.webp"
date: 2023-06-04
tags: "project"
scope: "Broadcast Animation"
---

<div class="vimeo-container" style="overflow: hidden">
  <div class="iframe-wrapper">
    <iframe
      src="https://player.vimeo.com/video/880740907?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
      width="1920"
      height="1080"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
      title="Fortnite Reunion Promo"
    ></iframe>
  </div>
</div>

<h1 class="title">{{ title }}</h1>

<div class="project__info">
  <div class="project__info-L">
    <p>
      Tiny Pond is an independent creative co-op cofounded by myself, Mateo JW,
      and Cory Sobon. Our goal was to form a collective to take on a diverse
      range of creative work with a focus on events branding and broadcast
      design. The goal of the website was to build a visually impactful landing
      page and portfolio to showcase our wide range of talent and creative
      offerings.
    </p>
  </div>

  <div class="project__info-R">
    <ul>
      <li>Website</li>
      <li>Animation</li>
    </ul>
  </div>
</div>

<img src="/assets/img/projects/poster_1.1.1.jpg" alt="Description of image 3" />
<img src="/assets/img/projects/reunion-bg.webp" alt="Description of image 4" />
<p>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus doloribus
  dolore ipsa veritatis sit quam. Sequi tempore voluptas sunt numquam tenetur
  blanditiis ipsum? In, perspiciatis tempora dicta minima laborum, doloribus
  eligendi rerum sequi voluptate repudiandae corrupti voluptatum incidunt eum ea
  animi voluptates sed nesciunt! Tenetur molestias suscipit voluptates. Sapiente
  quaerat, voluptas nemo harum totam adipisci dolorem laboriosam? Natus ipsum
  veniam quod tempore optio accusamus. Corporis dolorum nihil voluptatibus
  ratione quos veniam laudantium praesentium accusamus illo hic ipsum ducimus
  ullam, beatae fugit, maiores reiciendis blanditiis! Quia assumenda explicabo
  ea pariatur dolorem?
</p>
<img
  src="/assets/img/projects/broadcast-1x.webp"
  alt="Description of image 1"
/>
<img
  src="/assets/img/projects/influencer comp.webp"
  alt="Description of image 2"
/>
<div class="project__credits">
  <div class="project__credits-L">
    <p>Credits</p>
  </div>

  <div class="project__credits-R">
    <ul>
      <li>Branding: Mateo JW</li>
    </ul>
  </div>
</div>
