---
layout: "layouts/project.njk"
title: "Fortnite Reunion"
videoID: "880740907"
subtitle: "Helping Epic Games celebrate Fortnite's return to form with a legendary tournament, featuring an oh-so-sweet tribute to the map that started it all."
image: "/assets/img/projects/influencer comp.webp"
date: 2023-06-04
tags: "project"
scope: "Broadcast Animation"
feature: "yes"
---

<div class="vimeo-container" style="overflow: hidden">
  <div style="padding: 56.25% 0 0 0; position: relative">
    <iframe
      src="https://player.vimeo.com/video/880740907?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
      title="Fortnite Reunion Promo"
    ></iframe>
  </div>
</div>

<h1 class="title">{{ title }}</h1>

<div class="project__info">
  <div class="project__info-L">
    <p class="big">
      The Fortnite team aimed to spotlight their Fortnite OG event with
      "Reunion," a tournament that reunited past and present legends on the OG
      map. Working closely with the team at Epic to learn exactly which
      locations would return, I rendered nostalgic map features as charming cake
      toppers, presenting the returning map as a stylized, class-reunion style
      cake for an unforgettable event trailer.
    </p>
  </div>

  <div class="project__info-R">
    <ul>
      <li>Animation Direction</li>
      <li>Broadcast Design</li>
      <li>Announcement Trailer</li>
    </ul>
  </div>
</div>

<div class="project__credits">
  <div class="project__credits-L">
    <h3>Credits</h3>
  </div>

  <div class="project__credits-R">
    <ul>
      <li>Logo Design: {% include "includes/mateo.html" %}</li>
    </ul>
  </div>
</div>
