---
layout: "layouts/project.njk"
title: "Fortnite Reunion"
videoID: "1026360987"
subtitle: "Helping Epic Games celebrate Fortnite's return to form with a legendary tournament, featuring an oh-so-sweet tribute to the map that started it all."
image: "/assets/img/projects/influencer comp.webp"
date: 2023-06-04
tags: "project"
scope: "Broadcast Animation"
feature: "yes"
---

<div style="padding: 56.25% 0 0 0; position: relative">
  <iframe
    src="https://player.vimeo.com/video/1026360987?autoplay=1&loop=1&muted=1&badge=0&autopause=0&controls=0&player_id=0&app_id=58479"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="Porsche Main Loop"
  >
  </iframe>
</div>

<h1 class="title">{{ title }}</h1>

<div class="project__info">
  <div class="project__info-L">
    <p class="big">
      The Fortnite team threw a grand reunion bash for their Fortnite OG event,
      gathering legends old and new to duke it out on the beloved classic map.
      The goal was to design a celebratory event that would feel as nostalgic as
      a class reunion, with all the joy of a long-awaited homecoming.
    </p>
  </div>

  <div class="project__info-R">
    <ul>
      <li>Animation Direction</li>
      <li>Broadcast Design</li>
      <li>Announcement Trailer</li>
    </ul>
  </div>
</div>

<div class="side-by-side">
  <img
    src="/assets/img/projects/fortnite-reunion/reunion viewport1.webp"
    alt=""
  />
  <img src="/assets/img/projects/fortnite-reunion/stills/51.png" alt="" />
</div>
<div class="side-by-side">
  <img
    src="/assets/img/projects/fortnite-reunion/reunion viewport 3.webp"
    alt=""
  />
  <img
    src="/assets/img/projects/fortnite-reunion/reunion viewport 2.webp"
    alt=""
  />
</div>

<div class="vimeo-container" style="overflow: hidden">
  <div style="padding: 56.25% 0 0 0; position: relative">
    <iframe
      src="https://player.vimeo.com/video/880740907?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
      title="Fortnite Reunion Promo"
    ></iframe>
  </div>
</div>

<h2>Animation</h2>

<div class="side-by-side">
  <p class="big">
    Working closely with the team at Epic to learn exactly which locations would
    return, I rendered nostalgic map features as charming cake toppers,
    presenting the returning map as a stylized, class-reunion style cake for an
    unforgettable event trailer.
  </p>
  <p>
    A system of over 30,000 particles rounded out the look of the cake, with
    frosting drop trees and delicious sprinkles coating the cake in an edible
    terrain system.
  </p>
</div>

<div class="side-by-side">
  <video autoplay loop muted>
    <source
      src="/assets/img/projects/fortnite-reunion/broadcast/reunion loop 1.webm"
      type="video/webm"
    />
    Your browser does not support the video tag.
  </video>
  <video autoplay loop muted>
    <source
      src="/assets/img/projects/fortnite-reunion/broadcast/reunion loop 4.webm"
      type="video/webm"
    />
    Your browser does not support the video tag.
  </video>
</div>
<div class="side-by-side">
  <video autoplay loop muted>
    <source
      src="/assets/img/projects/fortnite-reunion/broadcast/reunion loop 6.webm"
      type="video/webm"
    />
    Your browser does not support the video tag.
  </video>
</div>
<div class="side-by-side">
  <video autoplay loop muted>
    <source
      src="/assets/img/projects/fortnite-reunion/broadcast/reunion loop 3.webm"
      type="video/webm"
    />
    Your browser does not support the video tag.
  </video>
  <video autoplay loop muted>
    <source
      src="/assets/img/projects/fortnite-reunion/broadcast/Behance_Sting.webm"
      type="video/webm"
    />
    Your browser does not support the video tag.
  </video>
  <video autoplay loop muted>
    <source
      src="/assets/img/projects/fortnite-reunion/broadcast/reunion loop 2.webm"
      type="video/webm"
    />
    Your browser does not support the video tag.
  </video>
</div>

<h2>Broadcast Design</h2>

<div class="side-by-side">
  <p class="big">An oh-so-sweet motion system for a fun, dynamic broadcast.</p>
  <p>
    With the cake as a centerpiece, I animated Mateo's logo into a 3D stinger,
    capturing the playful essence of the event. We designed custom broadcast
    screens and elements that harmonized with the cake's aesthetic, integrating
    bold colors and lively graphics that realized a cohesive and immersive
    broadcast design.
  </p>
</div>

<div class="project__credits">
  <div class="project__credits-L">
    <h3>Credits</h3>
  </div>

  <div class="project__credits-R">
    <ul>
      <li>Logo Design: {% include "includes/mateo.html" %}</li>
    </ul>
  </div>
</div>
