---
layout: "layouts/project.njk"
title: "Midnight Society"
videoID: "1026695987"
subtitle: "Directing a series of features around the upcoming game release Deadrop."
image: "/assets/img/projects/poster_1.1.1.jpg"
date: 2023-03-17
tags: "project"
feature: "yes"
---

<div style="padding: 56.25% 0 0 0; position: relative">
  <iframe
    src="https://player.vimeo.com/video/1026695987?autoplay=1&loop=1&muted=1&badge=0&autopause=0&controls=0&player_id=0&app_id=58479"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="Midnight Society Loop"
  >
  </iframe>
</div>

<h1 class="title">{{ title }}</h1>

<div class="project__info">
  <div class="project__info-L">
    <p class="big">
      For Midnight Society's early access Snapshot V event, I was on-site at
      Esports Arena Arlington to meet with the developers of Deadrop and craft a
      suite of videos and motion graphics for their big showcase, in just a few
      days' time.
    </p>
  </div>

  <div class="project__info-R">
    <ul>
      <li>Motion Design</li>
      <li>Video Production</li>
      <li>Broadcast Design</li>
    </ul>
  </div>
</div>

<div style="padding: 56.25% 0 0 0; position: relative">
  <iframe
    src="https://player.vimeo.com/video/1026694239?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="SnapshotV_TheatricalExtractions+SYN_SocialNoTowerKey_HD"
  ></iframe>
</div>

<div class="side-by-side">
  <div class="video-wrapper side-video" style="position: relative">
    <iframe
      src="https://player.vimeo.com/video/1026694069?badge=0&autopause=0&player_id=0&app_id=58479/embed"
      allow="autoplay; fullscreen; picture-in-picture"
      allowfullscreen
      frameborder="0"
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    ></iframe>
  </div>
  <div class="video-wrapper side-video" style="position: relative">
    <iframe
      src="https://player.vimeo.com/video/1026693978?badge=0&autopause=0&player_id=0&app_id=58479/embed"
      allow="autoplay; fullscreen; picture-in-picture"
      allowfullscreen
      frameborder="0"
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    ></iframe>
  </div>
</div>

<h2 class="project__step-title">Developer Features</h2>
<div class="side-by-side">
  <p class="big">
    Collaborating with the team at Midnight Society to film, edit, and design a
    motion system for Deadrop.
  </p>
  <p>
    As a remote studio, Midnight Society's developers aren't often in the same
    room. That's why for their big snapshot event for fans, it was essential to
    be on site with the developers to hear them explain the features of their
    game, and edit their interviews into features for the big night, working
    with the team to capture and source gameplay footage.
  </p>
</div>

<div style="padding: 56.25% 0 0 0; position: relative">
  <iframe
    src="https://player.vimeo.com/video/1026704194?autoplay=1&loop=1&muted=1&badge=0&autopause=0&controls=0&player_id=0&app_id=58479"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="Midnight Society Loop"
  >
  </iframe>
</div>

<h2 class="project__step-title">Broadcast and Arena Design</h2>
<div class="side-by-side">
  <p class="big">
    Wrapping a gritty cyberpunk dystopia in a neon-lit, tech-infused sheen: raw,
    intense, and sleek enough for the big screen.
  </p>
  <p>
    On site at Esports Arena Arlington, I built a dynamic motion design system
    for the event's video features, broadcast loops, stingers, and arena
    billboards. With access to developer builds, I captured in-game
    environments, built seamless loops, and in collaboration with designer Mateo
    Julia-Wise, we rendered extra-wide motion graphics for the massive triple
    screens at Esports Arena, and the various digital billboards throughout the
    stadium.
  </p>
</div>

<div class="project__credits">
  <div class="project__credits-L">
    <h3>Credits</h3>
  </div>

  <div class="project__credits-R">
    <ul>
      <li>Style: {% include "includes/mateo.html" %}</li>
    </ul>
  </div>
</div>
