---
layout: "layouts/project.njk"
title: "Motion Reel"
description: "Tifa Jade - Reel | Montage of my favorite keyframed work"
image: "/assets/img/projects/influencer comp.webp"
date: 2049-10-02
tags: "project"
scope: "Showcase of my favorite keyframed pieces"
---

{% include "includes/reel.html" %}

<h1 class="title">{{ title }}</h1>

<div class="project__info">
  <div class="project__info-L">
    <p>
      Highlights of my animation work. Tools I use include Blender, After Effects, Procreate, and 
    </p>
  </div>
</div>
