---
layout: "layouts/project.njk"
title: "Mountain Dew Champions Cup"
videoID: "885425059"
subtitle: "Crafting a skyscraper sized announcement for a monumental gaming brand."
image: "/assets/img/projects/influencer comp.webp"
date: 2022-05-09
tags: "project"
scope: "Brand Identity"
feature: "no"
---

<div class="project__info">
  <div class="project__info-L">
    <h1 class="title">{{ title }}</h1>
  </div>

  <div class="project__info-R">
    <ul>
      <li>Animation Direction</li>
      <li>Broadcast Design</li>
      <li>Announcement Trailer</li>
    </ul>
  </div>
</div>

<div style="padding: 125% 0 0 0; position: relative">
  <iframe
    src="https://player.vimeo.com/video/885425059?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="MTN DEW Champions Cup Teaser"
  ></iframe>
</div>

<h2 class="project__step-title">Context</h2>

<p class="big">
  With a high-profile $25,000 gauntlet spanning multiple esports titles, the
  team at Mountain Dew Gaming aimed to make a bold impact in the esports
  community, delivering high production value, an engaging tournament
  experience, and an iconic trophy.
</p>

<div class="project__credits">
  <div class="project__credits-L">
    <p>Credits</p>
  </div>

  <div class="project__credits-R">
    <ul>
      <li>Logo Design: {% include "includes/mateo.html" %}</li>
    </ul>
  </div>
</div>
