---
layout: "layouts/project.njk"
title: "Mountain Dew Champions Cup"
videoID: "1026261557"
subtitle: "Crafting a skyscraper sized announcement for a monumental gaming brand."
image: "/assets/img/projects/influencer comp.webp"
date: 2022-07-01
tags: "project"
scope: "Brand Identity"
feature: "yes"
---

<div style="padding: 56.25% 0 0 0; position: relative">
  <iframe
    src="https://player.vimeo.com/video/1026261557?autoplay=1&muted=1&loop=1&background=1"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="PG_previewLoop"
  ></iframe>
</div>

<h1 class="title">{{ title }}</h1>

<div class="project__info">
  <div class="project__info-L">
    <p class="big">
      Presented by Mountain Dew Gaming, the Champions Cup was a thrilling summer
      tournament challenging top players across leading esports titles to a
      battle for the ultimate trophy. Together with designer Mateo Julia-Wise,
      we brought the iconic brand’s bold vision to life with a high-energy event
      package, amplifying the excitement as esports legends faced off to claim
      the title of Mountain Dew Champion.
    </p>
  </div>

  <div class="project__info-R">
    <ul>
      <li>Animation Direction</li>
      <li>Broadcast Design</li>
      <li>Announcement Trailer</li>
    </ul>
  </div>
</div>

<div class="side-by-side">
  <img
    src="/assets/img/projects/mountain-dew-champions-cup/mtndew-viewport-bottle.webp"
    alt=""
  />
  <img
    src="/assets/img/projects/mountain-dew-champions-cup/mtndew-viewport-cityhigh.webp"
    alt=""
  />
</div>
<div class="side-by-side">
  <img
    src="/assets/img/projects/mountain-dew-champions-cup/mtndew-viewport-city.webp"
    alt=""
  />
  <img
    src="/assets/img/projects/mountain-dew-champions-cup/mtndew-viewport-roofs.webp"
    alt=""
  />
</div>

<div class="side-by-side">
  <div class="wrapper-smaller">
    <div style="padding: 125% 0 0 0; position: relative">
      <iframe
        src="https://player.vimeo.com/video/885425059?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
        frameborder="0"
        allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
        style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
        title="Mountain Dew Champions Cup - Announcement Trailer"
      ></iframe>
    </div>
  </div>

  <div class="project__info">
    <div class="project__info-L">
      <h2>Animation</h2>

      <p class="big">
        Mountain Dew’s goal was to make the Champion's Cup feel
        larger-than-life, and I delivered with an announcement trailer that
        reached skyscraper heights. Collaborating closely with the brand, I
        integrated the design of Mountain Dew's physical trophy into a neon-lit,
        Dew-themed cityscape, blending the brand's iconic colors with a
        cyberpunk aesthetix, and a towering trophy that rises at the center of
        it all.
      </p>
      <p>
        The Mountain Dew team was thrilled with the result, which captured the
        energy and scale they envisioned for the event. The event itself peaked
        at 35,000 viewers, and saw the likes of TimTheTatman, ZLaner,
        LuluLuvely, Scump, NiceWigg, and JaredFPS throwing down while the world
        watched.
      </p>
    </div>
  </div>
</div>

<div class="side-by-side">
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/mountain-dew-champions-cup/Champions Cup Loop 1.webm"
      type="video/webm"
    />
    <source
      src="/assets/img/projects/mountain-dew-champions-cup/Champions Cup Loop 1.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/mountain-dew-champions-cup/Champions Cup Loop 2.webm"
      type="video/webm"
    />
    <source
      src="/assets/img/projects/mountain-dew-champions-cup/Champions Cup Loop 2.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
</div>
<div class="side-by-side">
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/mountain-dew-champions-cup/Champions Cup Loop 4.webm"
      type="video/webm"
    />
    <source
      src="/assets/img/projects/mountain-dew-champions-cup/Champions Cup Loop 4.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/mountain-dew-champions-cup/Champions Cup Loop 3.webm"
      type="video/webm"
    />
    <source
      src="/assets/img/projects/mountain-dew-champions-cup/Champions Cup Loop 3.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
</div>
<div class="side-by-side">
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/mountain-dew-champions-cup/Champions Cup Loop 5.webm"
      type="video/webm"
    />
    <source
      src="/assets/img/projects/mountain-dew-champions-cup/Champions Cup Loop 5.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>

  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/mountain-dew-champions-cup/Champions Cup Loop 7.webm"
      type="video/webm"
    />
    <source
      src="/assets/img/projects/mountain-dew-champions-cup/Champions Cup Loop 7.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/mountain-dew-champions-cup/Champions Cup Loop 6.webm"
      type="video/webm"
    />
    <source
      src="/assets/img/projects/mountain-dew-champions-cup/Champions Cup Loop 6.webm"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
</div>

<h2 class="project__step-title">Broadcast Design</h2>

<div class="side-by-side">
  <p class="big">
    Neon green and an over-the-top 3D style guided our broadcast design,
    anchored by a motion loop of the foggy green cityscape.
  </p>
  <p></p>
</div>

<div class="project__credits">
  <div class="project__credits-L">
    <p>Credits</p>
  </div>

  <div class="project__credits-R">
    <ul>
      <li>Design: {% include "includes/mateo.html" %}</li>
    </ul>
  </div>
</div>
