---
layout: "layouts/project.njk"
title: "Off The Grid All Stars"
videoID: "1031855861"
subtitle: "Designing what $600,000 of battle royale action looks like"
date: 2024-11-20
tags: "project"
feature: "yes"
---

<div class="vimeo-container" style="padding: 56.25% 0 0 0; position: relative">
  <iframe
    src="https://player.vimeo.com/video/1031855861?badge=0&amp;autoplay=1&muted=1&loop=1&background=1&controls=0;app_id=58479"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="OTG All Stars Loop"
  ></iframe>
</div>

<h1 class="title">{{ title }}</h1>

<div class="project__info">
  <div class="project__info-L">
    <p class="big">
      Bold design. Big prizes. A motion system for a truly premium esports
      event.
    </p>
  </div>

  <div class="project__info-R">
    <ul>
      <li>Animation Direction</li>
      <li>Motion System</li>
      <li>Broadcast Design</li>
    </ul>
  </div>
</div>

<video autoplay loop muted playsinline>
  <source
    src="/assets/img/projects/otg-allstars/Starting Soon.mp4"
    type="video/mp4"
  />
  Your browser does not support the video tag.
</video>

<div class="side-by-side">
  <p class="big">
    A blend of cinematic flair and gritty intensity for a battle royale showcase
    like no other.
  </p>
  <p>
    In collaboration with Joined Media and Off The Grid, we crafted a luxury
    event identity that merged the glamour of winning gold with the raw energy
    of competitive gaming. A bold, opulent design set the tone for prestige,
    while a looping tech-inspired backdrop added a layer of edge and grit,
    granting the entire visual experience continuity.
  </p>
</div>

<div class="side-by-side">
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/otg-allstars/Casters.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/otg-allstars/leaderboard.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
</div>
<div class="side-by-side">
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/otg-allstars/prizing.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/otg-allstars/leaderboard 2.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
</div>
<div class="side-by-side">
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/otg-allstars/Highlights.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/otg-allstars/champions.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
  <video autoplay loop muted playsinline>
    <source
      src="/assets/img/projects/otg-allstars/Replay.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
</div>

<div class="project__credits">
  <div class="project__credits-L">
    <h3>Credits</h3>
  </div>

  <div class="project__credits-R">
    <ul>
      <li>
        Graphic Design: Joined Media & {% include "includes/mateo.html" %}
      </li>
    </ul>
  </div>
</div>
