---
layout: "layouts/project.njk"
title: "Proving Grounds"
videoID: "1025757611"
subtitle: "Designing a modern motion identity for a classic esports community tournament series."
image: "/assets/img/projects/influencer comp.webp"
date: 2024-01-01
tags: "project"
scope: "Broadcast Animation"
---

<div style="padding: 56.25% 0 0 0; position: relative">
  <iframe
    src="https://player.vimeo.com/video/1025757611?autoplay=1&muted=1&loop=1&background=1"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="PG_previewLoop"
  ></iframe>
</div>

<h1 class="title">{{ title }}</h1>

<div class="project__info">
  <div class="project__info-L">
    <p class="big">
      The Fortnite team at Epic Games sought to promote their Fortnite OG event,
      celebrating the return of the original battle royale map with a $100,000
      tournament that would see legendary influencers reunite on the OG map for
      the first time since its spectacular departure.
    </p>
  </div>

  <div class="project__info-R">
    <ul>
      <li>Motion Design System</li>
      <li>Broadcast Design</li>
      <li>Announcement Trailer</li>
    </ul>
  </div>
</div>

<div style="padding: 75% 0 0 0; position: relative">
  <iframe
    src="https://player.vimeo.com/video/908806528?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="Proving Grounds Rebrand Reveal"
  ></iframe>
</div>
<script src="https://player.vimeo.com/api/player.js"></script>

<div class="project__credits">
  <div class="project__credits-L">
    <p>Credits</p>
  </div>

  <div class="project__credits-R">
    <ul>
      <li>Style: {% include "includes/mateo.html" %}</li>
    </ul>
  </div>
</div>
