---
layout: "layouts/project.njk"
title: "Minecraft: Skyblock Showdown"
videoID: "1026362847"
subtitle: "Designing a trailer full of mystery and intrigue for Verizon's Minecraft tournament, with high quality cinematics captured on a custom in-game map."
image: "/assets/img/projects/skyblock-showdown/skyblockThumb.jpg"
date: 2023-01-23
tags: "project"
scope: "Brand Identity"
feature: "no"
---

<div style="padding: 56.25% 0 0 0; position: relative">
  <iframe
    src="https://player.vimeo.com/video/1025896604?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="Minecraft: Skyblock Showdown Announcement Trailer"
  ></iframe>
</div>

<h1 class="title">{{ title }}</h1>

<div class="project__info">
  <div class="project__info-L">
    <p class="big">
      Collaborating with the team at Starfish Studios, I produced an
      announcement trailer for Xbox's Skyblock Showdown Minecraft event,
      presented by Verizon.
    </p>
  </div>

  <div class="project__info-R">
    <ul>
      <li>Cinematic Capture</li>
      <li>Announcement Trailer</li>
    </ul>
  </div>
</div>

<div class="project__credits">
  <div class="project__credits-L">
    <h3>Credits</h3>
  </div>

  <div class="project__credits-R">
    <ul>
      <li>Branding: {% include "includes/mateo.html" %}</li>
      <li>Map: Starfish Studios</li>
    </ul>
  </div>
</div>
