---
layout: "layouts/project.njk"
title: "Tfue Tuesday"
videoID: "1026622499"
subtitle: "Unveiling an elite tournament franchise for one of Fortnite's biggest influencers."
image: "/assets/img/projects/skyblock-showdown/skyblockThumb.jpg"
date: 2023-02-07
tags: "project"
scope: "Brand Identity"
feature: "no"
---

<div style="padding: 56.25% 0 0 0; position: relative">
  <iframe
    src="https://player.vimeo.com/video/1026622499?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="Tfue Tuesday Announcement Teaser"
  ></iframe>
</div>

<h1 class="title">{{ title }}</h1>

<div class="project__info">
  <div class="project__info-L">
    <p class="big">
      As one of Fortnite’s top influencers, Tfue joined forces with Epic Games
      to launch a high-stakes $100,000 tournament. My goal was to create an
      announcement that captured the energy of the event, embracing the bold
      comic-inspired visuals and amplifying Tfue Tuesday’s impact in style.
    </p>
  </div>

  <div class="project__info-R">
    <ul>
      <li>Animation Direction</li>
      <li>Motion Design</li>
    </ul>
  </div>
</div>

<div class="side-by-side">
  <img src="/assets/img/projects/tfue-tuesday/Tfue2-Closeup.webp" alt="" />

  <div class="project__info">
    <div class="project__info-L">
      <h2>Most Wanted</h2>

      <p class="big">So good, we ran it back.</p>
      <p>
        After the success of Tfue Tuesday, Tfue and Epic Games teamed up for a
        second round alongside Fortnite’s "Most Wanted" event. With just a week
        to design, I couldn’t produce a full announcement trailer, but I helped
        build excitement within the community with a striking visual preview for
        Vol. 2.
      </p>
    </div>
  </div>
</div>

<div style="padding: 56.25% 0 0 0; position: relative">
  <iframe
    src="https://player.vimeo.com/video/885442280?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="Tfue Tuesday Returns Promo"
  ></iframe>
</div>

<h2>Tfue Returns</h2>

<div class="side-by-side">
  <p class="big">
    After taking an extended hiatus from the streaming world, Tfue returned to
    the spotlight with the third installation of Tfue Tuesday, just in time for
    Fortnite's OG event.
  </p>
  <p>
    I aimed to craft a video that fully captured the comic book flair of Tfue
    Tuesday, framing his story around a dramatic hiatus and triumphant return.
    Working closely with Tfue, I pulled scenes from his viral break
    announcement, transforming them into a graphic novel-inspired journey that
    portrayed his exit and epic comeback.
  </p>
</div>

<div class="project__credits">
  <div class="project__credits-L">
    <h3>Credits</h3>
  </div>

  <div class="project__credits-R">
    <ul>
      <li>Branding & Style: {% include "includes/mateo.html" %}</li>
    </ul>
  </div>
</div>
