---
layout: "layouts/project.njk"
title: "Tiny Pond"
videoID: "1023830150"
subtitle: "Building a visual motion identity for an independent creative studio bursting with talent."
image: "/assets/img/projects/poster_1.1.1.jpg"
date: 2049-10-02
tags: "project"
---

<div class="vimeo-container" style="padding: 37.5% 0 0 0; position: relative">
  <iframe
    src="https://player.vimeo.com/video/1024238430?h=37b57b3115&amp;autoplay=1&muted=1&loop=1&background=1&controls=0;app_id=58479"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="tinyPond_forestLoop"
  ></iframe>
</div>

<h1 class="title">{{ title }}</h1>

<div class="project__info">
  <div class="project__info-L">
    <p>
      Tiny Pond is an independent creative co-op cofounded by myself, Mateo JW,
      and Cory Sobon. Our goal was to form a collective to take on a diverse
      range of creative work with a focus on events branding and broadcast
      design. The goal of the website was to build a visually impactful landing
      page and portfolio to showcase our wide range of talent and creative
      offerings.
    </p>
  </div>

  <div class="project__info-R">
    <ul>
      <li>3D Animation</li>
      <li>Creative Direction</li>
      <li>Website</li>
    </ul>
  </div>
</div>

<img
  src="/assets/img/projects/tiny-pond/tinyPond_Logo.webp"
  alt="3D render of broadcast controls in an outdoor forest environment"
/>

<div class="side-by-side">
  <img
    src="/assets/img/projects/tiny-pond/tinyPond-screenshot-hero.webp"
    alt="Tiny Pond website, hero section reading 'We Craft Elite Visuals.' in a large bold font over an image of a pond in a forest."
  />
  <img
    src="/assets/img/projects/tiny-pond/tinyPond-screenshot-design.webp"
    alt="Tiny Pond website, homepage reading 'Design with Purpose' in a large bold font beside a collage of designs."
  />
</div>

<div class="vimeo-container" style="overflow: hidden">
  <div style="padding: 56.25% 0 0 0; position: relative">
    <iframe
      src="https://player.vimeo.com/video/1024236609?autoplay=1&muted=1&loop=1&background=1"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    ></iframe>
  </div>
</div>

<div class="side-by-side">
  <img
    src="/assets/img/projects/tiny-pond/tinyPond-screenshot-about.webp"
    alt="Tiny Pond website, about section"
  />
  <img
    src="/assets/img/projects/tiny-pond/tinyPond-screenshot-contact.webp"
    alt="Tiny Pond website, about section"
  />
</div>

<img
  src="/assets/img/projects/broadcast-1x.webp"
  alt="3D render of broadcast controls in an outdoor forest environment"
/>

<img
  src="/assets/img/projects/influencer comp.webp"
  alt="Images of famous influencers and event logos projected above the surface of a pond"
/>
<div class="project__credits">
  <div class="project__credits-L">
    <p>Credits</p>
  </div>

  <div class="project__credits-R">
    <ul>
      <li>Branding: Mateo JW</li>
    </ul>
  </div>
</div>
