---
layout: "layouts/project.njk"
title: "Tiny Pond"
videoID: "1023830150"
subtitle: "Building a visual motion identity for an independent creative studio bursting with talent."
image: "/assets/img/projects/poster_1.1.1.jpg"
date: 2049-10-02
tags: "project"
---

<div class="vimeo-container" style="padding: 37.5% 0 0 0; position: relative">
  <iframe
    src="https://player.vimeo.com/video/1024238430?h=37b57b3115&amp;autoplay=1&muted=1&loop=1&background=1&controls=0;app_id=58479"
    frameborder="0"
    allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    title="tinyPond_forestLoop"
  ></iframe>
</div>

<h1 class="title">{{ title }}</h1>

<div class="project__info">
  <div class="project__info-L">
    <p class="big">
      Tiny Pond is an independent creative co-op aiming to establish a
      reputation as a go-to studio for fresh, dynamic branding and motion
      design.
    </p>
  </div>

  <div class="project__info-R">
    <ul>
      <li>3D Animation</li>
      <li>Creative Direction</li>
      <li>Website</li>
    </ul>
  </div>
</div>

<img
  src="/assets/img/projects/tiny-pond/tinyPond_Logo.webp"
  alt="Bold white text reading 'Tiny Pond' on a dark blue abstract background, to the left of the text is a simple green lilly pad icon with a pink water lilly flower."
/>

<h1>Design System</h1>
<div class="side-by-side">
  <p class="big">
    A brand identity that embodies creativity, collaboration, and expertise,
    appealing to clients seeking innovative visual solutions.
  </p>
  <p>
    Tiny Pond's design system features a bold, thick font and a vibrant green
    and pink logo depicting a lily pad and water lily, symbolizing our small
    size and the rich ecosystem of expertise that lies beneath the surface. This
    identity embodies our commitment to sustainable practices and transparency,
    appealing to clients who seek innovative visual solutions while fostering
    collaboration and community.
  </p>
</div>

<div class="vimeo-container" style="overflow: hidden">
  <div style="padding: 56.25% 0 0 0; position: relative">
    <iframe
      src="https://player.vimeo.com/video/1024236609?autoplay=1&muted=1&loop=1&background=1"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture; clipboard-write"
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%"
    ></iframe>
  </div>
</div>

<div class="side-by-side">
  <img
    src="/assets/img/projects/tiny-pond/tinyPond-screenshot-hero.webp"
    alt="Tiny Pond website, hero section reading 'We Craft Elite Visuals.' in a large bold font over an image of a pond in a forest."
  />
  <img
    src="/assets/img/projects/tiny-pond/tinyPond-screenshot-design.webp"
    alt="Tiny Pond website, homepage reading 'Design with Purpose' in a large bold font beside a collage of designs."
  />
</div>

<div class="side-by-side">
  <img
    src="/assets/img/projects/tiny-pond/tinyPond-screenshot-about.webp"
    alt="Tiny Pond website, about section"
  />
  <img
    src="/assets/img/projects/tiny-pond/tinyPond-screenshot-contact.webp"
    alt="Tiny Pond website, about section"
  />
</div>

<h1>Web Design</h1>

<div class="side-by-side">
  <p class="big">
    A unified design system and website demonstrates Tiny Pond’s depth of talent
    and versatile skill set while highlighting a core collaborative ethos.
  </p>
  <p>
    A design-first website showcases the studio's animation capabilities from
    the moment they arrive. A video hero sets an energetic tone, while a dynamic
    services section clearly outlines a diversity of offerings, making it easy
    for clients to understand the studio's offerings. The expansive portfolio
    section provides in-depth project breakdowns. Together, these elements
    create a seamless narrative that invites exploration and encourages
    potential clients to engage with Tiny Pond's innovative visual solutions.
  </p>
</div>

<img
  src="/assets/img/projects/broadcast-1x.webp"
  alt="3D render of broadcast controls in an outdoor forest environment"
/>
<img
  src="/assets/img/projects/influencer comp.webp"
  alt="Images of famous influencers and event logos projected above the surface of a pond"
/>
<h1>Visual Identity</h1>

<div class="side-by-side">
  <p class="big">
    A bold set of 3D visuals centered around a fantasy-inspired glowing pond
    evokes creativity and growth.
  </p>
  <p>
    Highlighting the organic nature of the studio's origins, the forest pond
    with an ethereal glow demonstrates the vibrant ideas emerging from Tiny
    Pond's workflow, with the forest reflecting a nurturing environment for
    exploration and imagination.
  </p>
</div>

<div class="project__credits">
  <div class="project__credits-L">
    <p>Credits</p>
  </div>

  <div class="project__credits-R">
    <ul>
      <li>Branding: {% include "includes/mateo.html" %}</li>
    </ul>
  </div>
</div>
