---
layout: "layouts/project.njk"
title: "UFC"
image: "/assets/img/projects/influencer comp.webp"
order: 1
tags: "project"
scope: "Brand Identity"
---

<h1 class="title">{{ title }}</h1>

<p>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus doloribus
  dolore ipsa veritatis sit quam. Sequi tempore voluptas sunt numquam tenetur
  blanditiis ipsum? 
</p>


<img
  src="/assets/img/projects/influencer comp.webp"
  alt="Description of image 2"
/>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus doloribus
  dolore ipsa veritatis sit quam. Sequi tempore voluptas sunt numquam tenetur
  blanditiis ipsum?  </p>

<img src="/assets/img/projects/poster_1.1.1.jpg" alt="Description of image 3" />
<blockquote>
  "The only limit to our realization of tomorrow is our doubts of today."
  <footer>— Franklin D. Roosevelt</footer>
</blockquote>
<img src="/assets/img/projects/reunion-bg.webp" alt="Description of image 4" />
<img
  src="/assets/img/projects/broadcast-1x.webp"
  alt="Description of image 1"
/>
<img
  src="/assets/img/projects/influencer comp.webp"
  alt="Description of image 2"
/>
